/* FLEXIcontent base CSS */

div#flexicontent {
}

div#flexicontent .clear {
	border: 0;
	clear: both;
	float: none;
	font-size: 1px;
	height: 0;
	line-height: 1px;
	margin: 0;
	padding: 0;
	visibility: hidden;
}

div#flexicontent .floattext:after { /* ie fix in conditional comments (html source) */
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

div#flexicontent .floattext {
	display: block;
	margin: 0 0 0.5em; /* safari */
}

div#flexicontent .label {
	font-weight: bold;
}

div#flexicontent .label {
	font-weight: bold;
}

/**
 * @section buttons
 *
 * print, pdf, ...
 */
div#flexicontent .buttons {
	float: right;
}

div#flexicontent .buttons img {
	border: none;
}

div#flexicontent .buttons a {
	height: 16px;
	line-height: 16px;
	padding: 0 0 0 5px;
}

/**
 * @section headlines
 *
 */
div#flexicontent h2 {
}

div#flexicontent h2 img {
	border: none;
}

h2.flexicontent {
	margin: 0 0 0.5em;
}

/** 
 * @pagination css trick to center the div without having a fixed width
 * see http://www.cssplay.co.uk/menus/centered.html
 */
div.pagination {
	float: left;
	left: 50%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

div.pagination div.tab,
div.pagination div.page-block {
	position: relative;
	right: 50%;
}

div.pageslinks {
	clear: both;
	float: left;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

/* prefixed by the flexicontent id to force a more correct behavior,
other pagination are not prefixed so that joomla templates can style them */
#flexicontent div.pageslinks ul li {
	display: inline-block;
	margin: 0px 4px 0px 4px;
}

/* Commented out because it conflicts with various joomla templates */
/*#flexicontent div.pageslinks ul li span, #flexicontent div.pageslinks ul li a {
	padding: 2px 6px 2px 6px;
	border: 1px solid #dddddd;
	border-radius: 6px;
	background: none;
}*/

div.pageslinks ul li a {
	text-decoration: none;
}

div#flexicontent .pagescounter {
	text-align: center;
}

/**
 * @section Categoryview
 *
 */
div#flexicontent .catimg {
	float: left;
	margin: 0 0.5em 0.5em 0;
	position: relative;
}

div#flexicontent .catimg p {
	font-size: 0.9em;
	line-height: 180%;
	margin: 0 0 0.5em 0;
}

div#flexicontent .catdescription {
	margin: 0 0 0.5em 0;
}

div#flexicontent .subcategories {
	border-bottom: 2px solid #dddddd;
	/* font-size: 1.2em; font-weight: bold; */
	margin: 0.8em 0;
	padding: 0.5em 0.3em;
}

div.subcategorieslist {
	margin: 0 0 1em 0;
}

/**
 * @section FLEXIcontent Item
 *
 */
div#flexicontent .taglist {
	margin: 5px 0 10px;
	padding: 0 5px;
}

/**
 * @section FLEXIcontent Table
 *
 */
div#flexicontent table.flexitable {
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	clear: both;
	font-size: 1em;
	margin: 1em 1px;
	width: 99%;
}

div#flexicontent table.flexitable th {
	background-color: #efefef;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	color: #000000;
	font-weight: bold;
	padding: 0.4em;
	text-align: left;
}

div#flexicontent table.flexitable th.table-titles {
	background-color: inherit;
	font-weight: normal;
}

div#flexicontent table.flexitable th img {
	border: none;
	margin: 0 0 5px 5px;
	vertical-align: middle;
}

div#flexicontent table.flexitable td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0.4em;
	vertical-align: top;
}

div#flexicontent table.flexitable tr.sectiontableentry2 td {
	background: #f4f4f4;
}

div#flexicontent table.flexitable tr:hover td, 
div#flexicontent table.flexitable tr:hover th {
	background: #f8f8f8;
}

/**
 * @section flexicontent Table Filter Form
 *
 */

div#flexicontent #fc_filter {
	border: solid 1px #dddddd;
	margin: 0 0 1em 0;
	padding: 0.5em;
}

div#flexicontent .fc_fleft {
	float: left;
}

div#flexicontent .fc_fright {
	float: right;
}

div#flexicontent .filter {
	display: block;
	float: left;
	margin: -6px 0px 6px 10px;
}

div#flexicontent .filter .filter_label {
	clear: both;
	display: block;
	float: left;
	font-size: 100%;
}

div#flexicontent .filter .filter_field {
	clear: both;
	display: block;
	float: left;
	font-size: 90%;
}

/** Item submission Form **/
 
div.flexi_edit .flexi_buttons {
	float: right;
}
div.flexi_edit .flexi_label {
	display: block;
	float: left;
  background-color: #F6F6F6;
  border-bottom: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  font-weight: bold;
  text-align: right;
  width: 140px;
  margin:2px;
  padding:3px;
}

div.flexi_edit .flexi_label.invalid {
	font-weight: bold;
}
div.flexi_edit .flexi_formblock {
	clear: both;
}

div.flexi_edit fieldset {
	border: 1px solid #dddddd;
	margin-bottom: 1em;
	padding: 4px;
}

div.flexi_edit form input,
div.flexi_edit form button,
div.flexi_edit form select,
div.flexi_edit form textarea {
	background-color: #ffffff;
	border: 1px solid #dddddd;
	cursor: pointer;
	margin: 0.1em 0 0.1em 0;
	padding: 0.1em 0.4em 0.1em 0.2em;
}

div.flexi_edit form input.invalid,
div.flexi_edit form select.invalid {
	border: 1px dotted #ff0000;
}

div.flexi_box_left,
div.flexi_box_right {
	float: left;
	width: 48%;
}

div.flexi_box_right {
	float: right;
}

/* Access */
fieldset.flexiaccess legend {
	background: url(../../../../administrator/components/com_flexicontent/assets/images/toggle_blue.png) no-repeat 98% 50%;
	padding-right: 22px;
	line-height: 18px;
	cursor: pointer;
}

fieldset.flexiaccess {
	margin: 4px 0px 4px 0px!important;
	padding: 5px!important;
}


/** Tags **/

div#tags {
	margin: 3px;
}

.flexi_tagbox {
	background: #fff; 
/* 	border: 1px dashed silver; */
	display: block;
	max-height: 170px;
	overflow: auto;
}

.flexi_tagbox ul {
	margin: 3px;
	padding: 0px;
}
.flexi_tagbox ul li {
	_display: inline;
	_height: 20px;
	display: -moz-inline-stack;
	display: inline-block;
	margin: 2px;
	min-height: 20px;
	vertical-align: top;
	width: 130px;
	zoom: 1;
}

.flexi_tagbox ul li div {
	padding-top: 3px;
}
.flexi_tagbox input {
	display: block;
	float: left;
	margin-top: -4px;
	width: 20px;
}


/** rating bar **/
div#flexicontent .qf_ratingbarcontainer {
	border: 1px solid #999999;
	display: block;
	height: 10px;
	margin: 2px 2px;
	width: 60px;
}

div#flexicontent .qf_ratingbar {
	background-color: #c0c0c0;
	display: block;
	height: 10px;
}

/* state toggler */
.qf_statetoggler{
	list-style: none;
	padding: 0;
	width: 10px;
}

.options {
	position: absolute;
}

.statetoggler li ul li {
	background-color: #ffffff;
	border: #dddddd 1px solid;
	color: #000000;
	list-style: none;
	padding: 2px;
}



/* Favourites */
.fav-block {
	clear: both;
}

.fav-block img {
	vertical-align: middle;
}

.favlink {
	outline: none;
}

.fcfav img {
}

/**
 * Comments for JComments only ;-)
 */
div.comments {
	margin-top: 15px;
}

.comments #jc h4 {
	color: inherit;
	font-weight: normal;
	margin-top: 0px;
}

.comments #comments a {
	color: inherit;
}

.comments #comments a:hover {
	color: #578e13;
}

.comments #comments div.comments-list {
	margin-left: 0;
}

.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments .rbox_m {
	background: none;
	border: none;
}

.comments .rbox {
	border: 1px #cccccc solid;
}

.comments .even .rbox {
	background: #ffffff;
}

.comments .odd .rbox {
	background: #f0f0f0;
}

.comments #comments-list-footer {
	margin: 0 0 10px 0;
}

#comments-form p, 
#comments-form #comments-form-buttons, 
#comments-form #comments-form-error {
	margin-left: 0px !important;
}

#comments-form #comments-form-message, 
#comments-inline-edit #comments-form-message {
	display: block;
	padding: 5px 5px 5px 25px;
}

.comments-form-message-error {
	background: url(../images/error.png) #ffd86f no-repeat 4px 50%;
}

.comments-form-message-info {
	background: url(../images/information.png) #dfeeff no-repeat 4px 50%;
}

/* Tab comments */
.comments .votes {
	margin-left: -4px;
}

.comments .favs {
	margin: 5px 0 15px;
}

/**
 * Tabs CSS
 * taken from the general.css in the backend
 */
dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

dl.tabs dt {
	background: #f0f0f0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	color: #666666;
	float: left;
	margin-left: 3px;
	padding: 4px 10px;
}

dl.tabs dt.open {
	background: #f9f9f9;
	border-bottom: 1px solid #f9f9f9;
	color: #000000;
	z-index: 100;
}

div.current {
	border: 1px solid #cccccc;
	clear: both;
	padding: 10px 10px;
}

div.current dd {
	margin: 0;
	padding: 0;
}

#bottom-block {
	margin: 0 auto;
	width: 373px;
}

/* Alpha Index */

#fc_alpha {
	clear: both;
	float: left;
	margin: 0 0 1em 0;
	overflow: hidden;
	width: 100%;
}

#fc_alpha .aichargrp {
	clear: both;
	float: left;
	left: 50%;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* default alpha character group classes */
#fc_alpha .letters, #fc_alpha .numbers {
}
   
/* class of individual alpha characters */
#fc_alpha .fc_alpha_index {
	background: #efefef;
	border: 1px solid #c0c0c0;
	float: left;
	margin-right: 2px;
	padding: 1px 2px;
	position: relative;
	right: 50%;
	text-decoration: none;
}

#fc_alpha span.fc_alpha_index {
	color: #c0c0c0;
}

#fc_alpha .fc_alpha_index_sep {
	background: none;
	border: 0px solid silver;
	float: left;
	margin-right: 0px;
	padding: 1px 0px;
	position: relative;
	right: 50%;
	text-decoration: none;
}


/* File Field Plugin */
.icon-mime {
	vertical-align: middle;
}

/* strange property in japurity /-) */
#flexicontent .hasTip img {
	margin: 0;
}

.empty_image {
	display: block;
	background: #F9F9F9 url(../../../../administrator/components/com_flexicontent/assets/images/image_add.png) no-repeat scroll 50% 50%;
	border:1px solid silver;
	margin-bottom:3px;
}

/* Buttons */
.button-add a {
	display: inline-block;
	padding: 1px 8px;
	border: 1px solid #ccc;
	background: #efefef;
}
.button-add a,
.button-add a:visited,
.button-add a:link,
.button-add a:hover {
	color: black;
	text-decoration: none;
}

#fc_alpha .fc_alpha_index.current {
	margin-left:12px;
	margin-right:12px;
	color: darkred;
}

.fc_img_tooltip_title {
	line-height:1em;
	font-weight:bold;
}
.fc_img_tooltip_desc {
	line-height:1em;
}

.fc_search_label_cell {
	text-align:right;
	padding: 4px 6px 4px 4px;
	font-weight:bold;
	background-color:#eeeeee;
}

.fc_search_option_cell {
	padding: 4px 4px 4px 6px;
}

.fc_search_row_0 td {
	background-color: #eeeeee;
}

.fc_search_row_1 td {
	background-color: #dddddd;
}


fieldset.fc_search_set {
	border: 1px outset black;
	padding: 8px 8px 8px 16px;
	margin-top:12px;
}

fieldset.fc_search_set legend {
	margin-left: 6x;
	padding-left: 4px;
}

table#basicfields, 
table#extrafields, 
table#resultoptions {
	border-collapse: separate!important;
	border-spacing: 1;
	width:auto;
}

table#basicfields td, 
table#extrafields td, 
table#resultoptions td {
	border: 1px solid white; 
	border-spacing: 1;
	width:auto;
}

fieldset#fc_search_set_search_behavior legend {
	color:darkred;
	font-weight:bold;
}

button.fc_button {
	margin: 1px solid gray;
	padding: 2px;
	margin: 0px;
	overflow: visible;
	font-size: 90%;
	font-weight: bold;
}


/* Items Total */
.item_total {
}
 
.item_total .item_total_label {
	display: inline-block;
	font-weight: bold;
}

.item_total .item_total_value {
	display: inline-block;
	margin-right: 24px;
}


/*******************/
/* CSS HACKS START */
/*******************/
div#flexicontent .fc_inline_block {
	*display: inline !important; /* Hack for IE 7 and less */
	_height: 1%; /* Hack for IE6 */
	display: inline-block !important; /* For modern browsers */
	float: none !important;
	vertical-align: top; /* Just makes sure everything is at the top */
	width: auto !important;
	zoom: 1; /* Hack for IE */
}

div#flexicontent .fc_block {
	display: block !important;
}

div#flexicontent .fc_inline {
	display: inline !important;
}

div#flexicontent .fc_inline_clear {
	display: inline!important;
}

div#flexicontent .fc_inline_clear:after {
	content: "\a";
	white-space: pre-wrap;
}

div#flexicontent .fc_clearfix {
	clear: both;
}
/*****************/
/* CSS HACKS END */
/*****************/

table.admintable {
	border-collapse:separate !important;
	border-spacing:2px;
}

table.admintable td.key, 
table.admintable td.paramlist_key {
	background-color: #E6E6E6;
	border:1px solid #F0F0F0;
	color: #666666;
	font-weight:normal;
	text-align:right;
}
table.admintable td {
	border:1px solid #F0F0F0;
	font-weight: normal;
	text-align: left;
	padding: 6px 4px 6px 4px;
}


/* DIRECTORY VIEW */
div#flexicontent.directory .fccatcolumn {
	float: left;
	margin: 0% 1% 0% 0% !important;
	padding: 0px !important;
}

div#flexicontent.directory h2.fccat_title_box {
	background-color: #dddddd;
	border: 0px 1px 0px 1px solid #ffffff;
	color: #ffffff;
	margin: -3px 0 0;
	padding: 1px 0;
	width: auto;
}

div#flexicontent.directory a.fccat_title {
	border: 2px solid #dddddd;
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin: 0 -1px;
	padding: 2px 0 1px 4px;
	position: relative;
}

div#flexicontent.directory a.fccat_title:hover {
	text-decoration: none;
}

div#flexicontent.directory .fccat_assigned {
}

div#flexicontent.directory .fccat_image {
	border: 1px solid #dddddd;
	border-radius: 6px;
	float: left;
	margin: 2px 6px 1px 0px;
	padding: 1px;
}

div#flexicontent.directory .fccat_descr {
}

div#flexicontent.directory ul.fcsubcats_list {
	border-top: 1px dashed #dddddd !important;
	list-style: none;
	margin: 3px 0 7px;
	padding: 0 7px;
}

div#flexicontent.directory li.fcsubcat {
	border-bottom: 1px dashed #dddddd !important;
	margin: 2px 0px 2px 0px !important;
}

div#flexicontent.directory li.fcsubcat.odd {
}

div#flexicontent.directory li.fcsubcat.even {
}

div#flexicontent.directory a.fcsubcat_title {
}

div#flexicontent.directory a.fcsubcat_title:hover {
	text-decoration: none;
}

div#flexicontent.directory .fcsubcat_assigned {
}

div#flexicontent.directory .fcsubcat_image {
	border: 1px solid #dddddd;
	border-radius: 6px;
	float: left;
	margin: 2px 6px 1px 0px;
	padding: 1px;
}

div#flexicontent.directory .fcsubcat_descr {
}

/***********************************************/
/* JCE EDITOR FIXES (most frontend templates?) */
/***********************************************/

/* Fixes for JCE EDITOR BUTTONS */
div#flexicontent #editor-xtd-buttons a {
	margin:0px !important;
	padding:0 24px 0 6px !important;
	border:0 none !important;
	background:none !important;
	font-weight: normal !important;
}

div#flexicontent #editor-xtd-buttons .button2-left {
	margin:4px 0px 0px 4px !important;
}

/***********************/
/* CSS FIXES FOR J1.6+ */
/***********************/
div#flexicontent .pane-slider ul.adminformlist, div#flexicontent ul#rules, div#flexicontent ul#rules ul {
	list-style-type: none !important;
	margin: 0px !important;
	padding: 2px !important;
}

div#flexicontent table.admintable td {
	margin: 0px;
	padding: 0.2em 0.4em;
}

div#flexicontent table.admintable table td {
	margin: 0px;
	padding: 0px;
}

div#flexicontent table.admintable td.paramlist_key {
	padding: 0px 4px 0px 4px;
}

div#flexicontent .panel h3 a {
	padding:0px 0px 4px 0px;
}
