<?xml version="1.0" encoding="utf-8"?>
<config>
	<params addpath="/administrator/components/com_flexicontent/elements">
		<param name="" type="separator" default="FLEXI_GENERAL_CONF" level="level1" menu="hide" />

		<param name="flexi_section" type="section" size="30" default="" label="FLEXI_SELECT_A_SECTION" description="FLEXI_SELECT_A_SECTION_DESC"  menu="hide" />
		<param name="comments" type="list" default="0" label="FLEXI_ENABLE_COMMENTS" description="FLEXI_ENABLE_COMMENTS_DESC"  menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_JCOMMENTS</option>
			<option value="2">FLEXI_JOMCOMMENTS</option>
		</param>
		<param name="support_url" type="text" size="50" default="" label="FLEXI_HELP" description="FLEXI_HELP_DESC" menu="hide" />
		<param name="add_tooltips" type="radio" default="1" label="FLEXI_ADD_TOOLTIPS" description="FLEXI_ADD_TOOLTIPS_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		<param name="disablecss" type="radio" default="0" label="FLEXI_DISABLE_FRONT_CSS" description="FLEXI_DISABLE_FRONT_CSS_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		<param name="new_item_state" type="list" default="-4" label="FLEXI_NEW_ITEM_STATE" description="FLEXI_NEW_ITEM_STATE_DESC" menu="hide">
			<option value="1">FLEXI_PUBLISHED</option>
			<option value="0">FLEXI_UNPUBLISHED</option>
			<option value="-1">FLEXI_ARCHIVED</option>
			<option value="-3">FLEXI_PENDING</option>
			<option value="-4">FLEXI_TO_WRITE</option>
			<option value="-5">FLEXI_UNAPPROVED</option>
		</param>
		
		<param name="" type="separator" default="FLEXI_MULTILINGUAL_CONF" level="level1" menu="hide" />
		
		<param name="flexi_fish" type="radio" default="0" label="FLEXI_JOOMFISH_SUPPORT" description="FLEXI_JOOMFISH_SUPPORT_DESC"  menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="filtercat" type="radio" default="0" label="FLEXI_FILTER_CAT_VIEWS" description="FLEXI_FILTER_CAT_VIEWS_DESC"  menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="filtertag" type="radio" default="0" label="FLEXI_FILTER_TAG_VIEWS" description="FLEXI_FILTER_TAG_VIEWS_DESC"  menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="disable_lang_select" type="radio" default="1" label="FLEXI_DISABLE_LANG_SELECT" description="FLEXI_DISABLE_LANG_SELECT_DESC"  menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>

		<param name="" type="separator" default="FLEXI_VERSIONING_CONF" level="level1" menu="hide" />

		<param name="use_versioning" type="radio" default="1" label="FLEXI_ENABLE_VERSIONING" description="FLEXI_ENABLE_VERSIONING_DESC" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="nr_versions" type="radio" default="10" label="FLEXI_NR_OF_VERSIONS" description="FLEXI_NR_OF_VERSIONS_DESC" menu="hide">
			<option value="5">FLEXI_5</option>
			<option value="10">FLEXI_10</option>
			<option value="20">FLEXI_20</option>
			<option value="50">FLEXI_50</option>
			<option value="100">FLEXI_100_(not_recommended)</option>
		</param>
		<param name="versionsperpage" type="radio" default="5" label="FLEXI_VERSION_PER_PAGE" description="FLEXI_VERSION_PER_PAGE_DESC" menu="hide">
			<option value="5">FLEXI_5</option>
			<option value="10">FLEXI_10</option>
			<option value="20">FLEXI_20</option>
			<option value="50">FLEXI_50</option>
		</param>
		<param name="auto_approve" type="radio" default="1" label="FLEXI_AUTO_APPROVE" description="FLEXI_AUTO_APPROVE_DESC" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="disable_diff" type="radio" default="0" label="FLEXI_DISABLE_HTML_DIFF" description="FLEXI_DISABLE_HTML_DIFF_DESC" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
<!-- 		<param name="disable_versioning" type="usergroup" multiple="true" size="10" default="" label="FLEXI_DISABLE_VERSIONING" description="FLEXI_DISABLE_VERSIONING_DESC" menu="hide" /> -->

		<param name="" type="separator" default="FLEXI_REDIRECTIONS_CONF" level="level1" menu="hide" />

		<param name="show_noauth" type="radio" default="0" label="FLEXI_Show_UnAuthorized_Links" description="FLEXI_TIPLINKS" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="login_page" type="text" size="50" default="index.php?option=com_user&amp;view=login" label="FLEXI_LOGIN_PAGE" description="FLEXI_LOGIN_PAGE_DESC" menu="hide" />
		<param name="unauthorized_page" type="text" size="50" default="" label="FLEXI_UNAUTHORIZED_PAGE" description="FLEXI_UNAUTHORIZED_PAGE_DESC" menu="hide" />
		
		<param name="" type="separator" default="FLEXI_ITEMS_CONF" level="level1" menu="hide" />

		<param name="show_title" type="radio" default="1" label="FLEXI_Show_Items_Title" description="FLEXI_Show/Hide_the_items_title" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="link_titles" type="radio" default="1" label="FLEXI_Linked_Titles" description="FLEXI_TIPIFYESTITLECONTENTITEMS" menu="hide">
			<option value="0">FLEXI_No</option>
			<option value="1">FLEXI_Yes</option>
		</param>
		<param name="show_intro" type="radio" default="1" label="FLEXI_SHOW_INTRO_TEXT" description="FLEXI_SHOW/HIDE_THE_INTRO_TEXT">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>
		<param name="form_extra_css" type="textarea" default="" rows="5" cols="60" label="FLEXI_EDIT_FORM_CSS" description="FLEXI_EDIT_FORM_CSS_DESC" />

		<param name="" type="separator" default="FLEXI_PAGE_CONF" level="level1" menu="hide" />
		
		<param name="show_icons" type="radio" default="1" label="FLEXI_SHOW_ICONS" description="FLEXI_SHOW_ICONS_DESC" menu="hide">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>
		<param name="show_pdf_icon" type="radio" default="1" label="FLEXI_PDF_ICON" description="FLEXI_PDF_ICON_DESC" menu="hide">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>
		<param name="show_print_icon" type="radio" default="1" label="FLEXI_PRINT_ICON" description="FLEXI_PRINT_ICON_DESC" menu="hide">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>
		<param name="show_email_icon" type="radio" default="1" label="FLEXI_EMAIL_ICON" description="FLEXI_EMAIL_ICON_DESC" menu="hide">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>

		<param name="" type="separator" default="FLEXI_CATS_CONF" level="level1" menu="hide" />
		
		<param name="limit" type="text" size="4" default="10" label="FLEXI_LIST_LIMIT" description="FLEXI_LIST_LIMIT_DESC" menu="hide"/>
		<param name="catlimit" type="text" size="4" default="100" label="FLEXI_CAT_LIST_LIMIT" description="FLEXI_CAT_LIST_LIMIT_DESC" menu="hide"/>
		<param name="feed_summary" type="radio" default="0" label="FLEXI_SHOW_FEED" description="FLEXI_SHOW_FEED_DESC" menu="hide">
			<option value="0">FLEXI_INTRO_TEXT</option>
			<option value="1">FLEXI_FULL_TEXT</option>
		</param>
		<param name="show_readmore" type="radio" default="1" label="FLEXI_Read_More_Link" description="FLEXI_TIPIFSETTOSHOWREADMORELINK" menu="hide">
			<option value="0">FLEXI_Hide</option>
			<option value="1">FLEXI_Show</option>
		</param>
		
		<param name="" type="separator" default="FLEXI_FILES_CONF" level="level1" menu="hide" />
		
		<param name="upload_extensions" type="text" size="50" default="bmp,csv,doc,gif,ico,jpg,jpeg,odg,odp,ods,odt,pdf,png,ppt,swf,txt,xcf,xls,zip,BMP,CSV,DOC,GIF,ICO,JPG,JPEG,ODG,ODP,ODS,ODT,PDF,PNG,PPT,SWF,TXT,XCF,XLS,ZIP" label="FLEXI_LEGAL_EXTENSIONS_LABEL" description="FLEXI_LEGAL_EXTENSIONS_DESC" menu="hide" />
		<param name="upload_maxsize" type="text" size="50" default="10000000" label="FLEXI_MAXIMUM_SIZE_LABEL" description="FLEXI_MAXIMUM_SIZE_DESC" menu="hide" />
		<param name="file_path" type="text" size="50" default="components/com_flexicontent/uploads" label="FLEXI_PATH_TO_FILE_FOLDER" description="FLEXI_TIPFILEFOLDER" menu="hide" />
		<param name="media_path" type="text" size="50" default="components/com_flexicontent/medias" label="FLEXI_PATH_TO_MEDIA_FOLDER" description="FLEXI_TIPMEDIAFOLDER" menu="hide" />
		<param name="restrict_uploads" type="radio" default="1" label="FLEXI_RESTRICT_UPLOADS" description="FLEXI_RESTRICT_UPLOADS_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		<param name="check_mime" type="radio" default="1" label="FLEXI_CHECK_MIME" description="FLEXI_CHECK_MIME_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		<param name="image_extensions" type="text" size="50" default="bmp,gif,jpg,png" label="FLEXI_LEGAL_IMAGE_EXTENSIONS_LABEL" description="FLEXI_LEGAL_IMAGE_EXTENSIONS_DESC" menu="hide" />
		<param name="ignore_extensions" type="text" size="50" default="" label="FLEXI_IGNORED_EXTENSIONS_LABEL" description="FLEXI_IGNORED_EXTENSIONS_DESC" menu="hide" />
		
		<param name="upload_mime" type="text" size="50" default="image/jpeg,image/gif,image/png,image/bmp,application/x-shockwave-flash,application/msword,application/excel,application/pdf,application/powerpoint,text/plain,application/x-zip" label="FLEXI_LEGAL_MIME_TYPES_LABEL" description="FLEXI_LEGAL_MIME_TYPES_DESC" menu="hide" />
		<param name="upload_mime_illegal" type="text" size="50" default="text/html" label="FLEXI_ILLEGAL_MIME_TYPES" description="FLEXI_ILLEGAL_MIME_TYPES_DESC" menu="hide" />
		<param name="enable_flash" type="radio" default="0" label="FLEXI_ENABLE_FLASH_UPLOADER" description="FLEXI_ENABLE_FLASH_UPLOADER_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		
		<param name="" type="separator" default="FLEXI_CACHE_CONF" level="level1" menu="hide" />
		
		<param name="advcache" type="radio" default="1" label="FLEXI_ADV_CACHE" description="FLEXI_ADV_CACHE_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>
		<param name="advcache_time" type="text" default="3600" label="FLEXI_ADV_CACHE_TIME" description="FLEXI_ADV_CACHE_TIME_DESC" menu="hide" />
		<param name="purge_gc" type="radio" default="1" label="FLEXI_GC" description="FLEXI_GC_DESC" menu="hide">
			<option value="0">FLEXI_NO</option>
			<option value="1">FLEXI_YES</option>
		</param>

	</params>
</config>