/***********************
 * Flexicontent messages
 ***********************/

.fc-close {
	color: #000000;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
	margin-top: -2px;
}
.fc-close:hover {
	color: #000000 !important;
	cursor: pointer;
	opacity: 0.4;
	text-decoration: none;
	background: none !important;
}


.fc-mssg-inline, .fc-mssg {
	border: 1px solid !important;
	display: block;
	margin: 0 0 5px 0 !important;
	padding: 8px 10px 12px 36px !important;
	border-radius: 6px !important;
	font-family: tahoma;
	font-size:11px;
	white-space: normal;
	line-height: 140%;
}
.fc-mssg-inline {
	display: inline-block;
	margin: 0 0 0 12px !important;
	max-width: 62%;
}

.fc-mssg-inline.fc-nobgimage,
.fc-mssg.fc-nobgimage {
	background-image: none !important;
	padding: 8px !important;
}

.fc-mssg-inline.fc-note,
.fc-mssg.fc-note {
	background: #FCF8E3 url(../images/note.gif) no-repeat 10px 50%;
	color: #C09853 !important;
	border-color: #FBEED5 !important;
}
.fc-mssg-inline.fc-error,
.fc-mssg.fc-error {
	background: #F2DEDE url(../images/error.png) no-repeat 10px 50%;
  color: #B94A48 !important;
	border-color: #EED3D7 !important;
}
.fc-mssg-inline.fc-warning,
.fc-mssg.fc-warning {
	background: #FCF8E3 url(../images/warning.png) no-repeat 10px 50%;
	color: #C09853 !important;
	border-color: #FBEED5 !important;
}
.fc-mssg-inline.fc-success,
.fc-mssg.fc-success {
	background: #DFF0D8 url(../images/accept.png) no-repeat 10px 50%;
	color: #468847 !important;
	border-color: #D6E9C6 !important;
}
.fc-mssg-inline.fc-info,
.fc-mssg.fc-info {
	background: #D9EDF7 url(../images/information.png) no-repeat 10px 50%;
	color: #3A87AD !important;
	border-color: #BCE8F1 !important;
}

.alert.fc-error {
	background: #F2DEDE url(../images/error.png) no-repeat 10px 50%;
	padding-left: 36px !important;
}
.alert.fc-warning {
	background: #FCF8E3 url(../images/warning.png) no-repeat 10px 50%;
	padding-left: 36px;
}
.alert.fc-success {
	background: #DFF0D8 url(../images/accept.png) no-repeat 10px 50%;
	padding-left: 36px;
}
.alert.fc-info {
	background: #D9EDF7 url(../images/information.png) no-repeat 10px 50%;
	padding-left: 36px;
}





.fc-noauth {
	background: #FEEFB3 url(../images/warning.png) no-repeat 10px 50%;
	color:#9F6000 !important;
	border-color: #9F6000 !important;
	padding: 3px 6px 4px 36px !important;
}
.fc-caption {
	background: lightgray url(../images/comment.png) no-repeat 10px 50%;
	color: black !important;
	border-color: #ddd !important;
	padding: 3px 6px 4px 36px !important;
}



/****************
 * State Toggler
 ****************/

ul.statetoggler {
	/*float: right !important;*/
	vertical-align: top;
	display: inline-block !important;
	list-style: none !important;
	margin: 0px 0px 0px 4px !important;
	padding: 0 !important;
	width: auto !important;
}

ul.statetoggler > li.topLevel > .options {
	padding: 0px !important;
	margin: 0 !important;
	background: white !important;
	/*position: relative !important;*/
	position: absolute !important;
	font-size:14px !important;
	width: auto !important;
}

ul.statetoggler > li.topLevel > .options > div {
	display: inline-block !important;
	padding:0px 4px;
	width: 24px !important;
}

ul.statetoggler > li.topLevel > .options ul {
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 !important;
	background: white !important;
	border: 1px solid silver !important;
	width: auto !important;
}

ul.statetoggler > li.topLevel, .statetoggler > li.topLevel ul > li {
	background: none repeat scroll 0 0 transparent !important;
	overflow: visible !important;
	width: 22px !important;
	min-height: 20px !important;
	display: -moz-inline-stack !important;
	display: inline-block !important;
	vertical-align: top !important;
	padding: 0 !important;
	margin: 0 !important;
	zoom: 1 !important;
	*display: inline !important;
	_height: 20px !important;
}

ul.statetoggler > li.topLevel span.btn, ul.statetoggler > li.topLevel span.fcbutton  {
	padding-left:4px;
	padding-right:4px;
}

ul.statetoggler > li.topLevel, .statetoggler > li.topLevel ul > li a {
	padding: 0 !important;
	margin: 0 !important;
}

ul.statetoggler > li.topLevel ul > li img {
	padding: 2px !important;
	margin: 0 !important;
}

ul.statetoggler > li.topLevel > a.opener {
	/*padding: 4px 8px !important;*/
	/*margin: 0 !important;*/
}
ul.statetoggler > li.topLevel > a.opener img {
	padding: 2px 0px !important;
	margin: 0 !important;
}



/**************************************************
 * Pager Container, e.g. flexicontent item versions
 **************************************************/
 
#fc_pager ul.pages {
	float:left;
	left:50%;
	list-style-type:none;
	margin:0 auto;
	padding:0;
	position:relative;
}

#fc_pager ul.pages li {
	float:left;
	position:relative;
	right:50%;
	margin-left:5px;
	padding:2px 4px;
	border:1px solid #ddd;
	list-style:none;
	text-decoration:none;
}

#fc_pager ul.pages li:hover {
	border:1px solid #aaa;
}

#fc_pager ul.pages li.pgEmpty {
	border:1px solid #ddd;
	color:#ddd;
}

#fc_pager ul.pages li.pgCurrent {
	border:1px solid #aaa;
	color:#000;
	font-weight:bold;
	background-color:#eee;
}



/********************
 * Various Containers
 ********************/
 
.fc_nice_box {
	border-radius: 6px;
	margin: 0px 0px 8px 0px;
	padding: 2px 1%;
	float: none;
	clear: both !important;
	border: 1px solid lightgray;
	display: inline-block;
	background-color: lightyellow;
	font-weight: bold;
	font-size: 11px;
}
