.rg-gallery > .rg-image-wrapper {
	position: relative;
	padding: 0px;
	margin: 20px 0px;
	/*background:transparent url(../images/black.png) repeat top left;*/
	background: white;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height: 20px;
}
.rg-gallery > .rg-image-wrapper > .rg-image {
	position: relative;
	text-align: center;
	height: 20px;
	/*line-height: 0px;*/
}
.rg-gallery > .rg-image-wrapper > .rg-image > img {
	position: absolute;
	z-index: 1;
	/*max-height: 100%;*/
	max-width: 100%;
	width: 100%;
	height: auto;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	top: 0;
	left: 0;
}
.rg-gallery > .rg-image-wrapper > .rg-image > img.active {
	z-index: 3;
}

.rg-gallery > .rg-image-wrapper > .rg-image-nav a {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.3) url(../images/nav.png) no-repeat -20% 50%;
	width: 28px;
	height: 100%;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.3;
	filter: alpha(opacity=30);
	outline: none;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	z-index: 4;
}
.rg-gallery > .rg-image-wrapper > .rg-image-nav a.rg-image-nav-next {
	right:0px;
	left:auto;
	background-position:115% 50%;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-gallery > .rg-image-wrapper > .rg-image-nav a:hover {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.rg-gallery > .rg-image-wrapper .rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-gallery > .rg-image-wrapper .rg-caption > p {
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	/*text-transform:uppercase;*/
}
.rg-gallery > .rg-view {
	height: 28px;
}
.rg-gallery > .rg-view > a {
	display:block;
	float:right;
	width: 16px;
	height: 16px;
	margin: 0 8px;
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
	background: #464646 url(../images/views.png) no-repeat top left;
	border: 3px solid #464646;
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.rg-gallery > .rg-view > a:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
}
.rg-gallery > .rg-view > a.rg-view-full{
	background-position:0px 0px;
}
.rg-gallery > .rg-view > a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-gallery > .rg-view > a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-gallery > .rg-image-wrapper > .rg-loading {
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}


.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-nav > span {
	top: 0%;
	height: 100%;
	margin-top: 0;
	padding: 0;
	width: 28px;
	background: rgba(155, 155, 155, 0.6)  url(../images/nav.png) no-repeat -15% 50%;
	-webkit-transition: all 0.4s;transition: all 0.4s;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-nav > span.es-nav-prev {
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
	background-position: -15% 50%;
	left: 0;
}
.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-nav > span.es-nav-next {
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	background-position: 115% 50%;
	right: 0;
}
.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-nav > span.es-nav-prev:hover,
.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-nav > span.es-nav-next:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

.rg-gallery > .rg-thumbs > .es-carousel-wrapper > .es-carousel > ul {
	margin: 4px;
	padding: 0px;
}
