#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
site/templates/blog-1/
site/templates/default-1/
site/templates/faq-1/
site/templates/items-tabbed-1/
site/templates/presentation-1/
site/librairies/pdfparser/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini



# Mac crap
.DS_Store

#cache
cache
flexicontent-cck.zip