#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini



# Mac crap
.DS_Store

# cache
cache

# other
flexicontent-cck.zip

site/templates/*
!site/templates/faq
!site/templates/grid
!site/templates/items-tabbed
!site/templates/table

site/librairies/pdfparser/
site/librairies/php-stemmer/
site/librairies/TCPDF/
site/librairies/cropper/
site/helpers/translator.php

site/librairies/phpthumb/phpThumb.config_OVERRIDE.php
site/tasks/defines.php
admin/tasks/defines.php
admin/flexicontent.xml

admin/views/item/tmpl/common/render_buttons.php

plugins/flexicontent_fields/currency/
plugins/flexicontent_fields/qrcode/
plugins/flexicontent_fields/grade/

/nbproject/private/
*.pdf

site/templates/blog/language/fr-FR/fr-FR.blog.ini
site/templates/default/language/fr-FR/fr-FR.default.ini
site/templates/faq/language/fr-FR/fr-FR.faq.ini
site/templates/grid/language/fr-FR/fr-FR.grid.ini
site/templates/items-tabbed/language/fr-FR/fr-FR.items-tabbed.ini
site/templates/presentation/language/fr-FR/fr-FR.presentation.ini
site/templates/table/language/fr-FR/fr-FR.table.ini
_tools/link_livesite2repo_pro.bat

site/uploads/*
site/medias/*
!site/uploads/.htaccess
!site/medias/.htaccess
site/templates/faq/category_items_html5.php
site/templates/faq/category_items_html5.php
site/templates/grid/category_items_html5.php
site/templates/grid/item_html5.php
site/templates/items-tabbed/category_items_html5.php
site/templates/table/category_items_html5.php
site/tmpl_common/item_layouts/modular_html5.php
site/tmpl_common/listings_filter_form_html5.php
