body #flexicontent .flexi.label,
body #flexicontent .desc-title.label {
	background-color: none;
	color: none;
	border-radius: 3px;
}
#flexicontent .buttons {
	float: right;
}
#flexicontent h2 img {
	border: none;
}
#flexicontent .catimg {
	margin: 0 0.5em 0.5em 0;
	float: left;
	position: relative;
}
#flexicontent .catimg p {
	font-size: 0.9em;
	line-height: 180%;
	margin: 0 0 0.5em 0;
}
#flexicontent .catdescription {
	margin: 0 0 0.5em 0;
}
#flexicontent .subcategories {
	border-bottom: 2px solid #ddd;
	padding: 0.5em 0.3em;
	margin: 0.8em 0;
}
#flexicontent .taglist {
	margin: 5px 0 10px;
	padding: 0 5px;
}
div.subcategorieslist {
	margin: 0 0 1em 0;
}
#flexicontent #fc_filter {
	margin: 0 0 1em 0;
	padding: 0.5em;
	border: solid 1px #ddd;
}
#flexicontent .fc_fleft {
	float: left;
}
#flexicontent .fc_fright {
	float: right;
}
#flexicontent .fc_fright .filter {
	margin-left: 10px;
}
div.comments {
	margin-top: 15px;
}
.comments #jc h4 {
	font-weight: normal;
	color: inherit;
	margin-top: 0px;
}
.comments #comments a {
	color: inherit;
}
.comments #comments a:hover {
	color: #578E13;
}
.comments #comments div.comments-list {
	margin-left: 0;
}
.comments .rbox_tr,
.comments .rbox_tl,
.comments .rbox_t,
.comments .rbox_br,
.comments .rbox_bl,
.comments .rbox_b,
.comments .rbox_m {
	background: none;
	border: none;
}
.comments .rbox {
	border: 1px #ccc solid;
}
.comments .even .rbox {
	background: #fff;
}
.comments .odd .rbox {
	background: #f0f0f0;
}
.comments #comments-list-footer {
	margin: 0 0 10px 0;
}
#comments-form p,
#comments-form #comments-form-buttons,
#comments-form #comments-form-error {
	margin-left: 0px !important;
}
#comments-form #comments-form-message,
#comments-inline-edit #comments-form-message {
	padding: 5px 5px 5px 25px;
	display: block;
}
.comments-form-message-error {
	background: #FFD86F url(../images/error.png) no-repeat 4px 50%;
}
.comments-form-message-info {
	background: #DFEEFF url(../images/information.png) no-repeat 4px 50%;
}
#flexicontent figure.image.right,
#flexicontent div.image.right {
	float: right !important;
	margin: 8px 2px 0px 10px !important;
	width: auto !important;
}
#flexicontent figure.image.left,
#flexicontent div.image.left {
	float: left !important;
	margin: 8px 10px 0px 2px !important;
	width: auto !important;
}
#flexicontent figure.image.right img,
#flexicontent figure.image.left img,
#flexicontent div.image.right img,
#flexicontent div.image.left img {
	padding: 1px;
	border: 1px solid lightgray;
}
#flexicontent .lineinfo {
	display: block;
	margin: 0;
	vertical-align: middle;
	text-align: left;
}
#flexicontent .lineinfo .element {
	display: inline-block;
	margin: 0;
	padding: 6px;
	box-sizing: border-box;
}
#flexicontent .lineinfo .element .label {
	display: inline-block;
	font-size: 90%;
	margin-left: 8px;
	margin-right: 8px;
	padding-right: 10px !important;
	padding-left: 10px !important;
	padding-bottom: 8px !important;
	padding-top: 8px !important;
	box-sizing: border-box;
}
#flexicontent .lineinfo .element .value {
	display: inline-block;
	padding-bottom: 8px !important;
	padding-top: 8px !important;
}
#flexicontent .readmore {
	display: flex;
}
#flexicontent .readmore.center {
	justify-content: center;
}
#flexicontent .readmore.left {
	justify-content: left;
}
#flexicontent .readmore.right {
	justify-content: right;
}
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top: 0;
	margin-bottom: 0;
}
#flexicontent .news.fc-items-block .fc_mublock {
	clear: both;
	margin-top: 0;
	margin-bottom: 0;
	position: absolute;
	right: 0;
}
.news.fc-items-block {
	width: 100%;
	margin: 0;
	padding: 0;
	border-width: 0;
	float: left;
	clear: both;
}
.news.fc-items-block .fc-item-block-featured-wrapper-innerbox,
.news.fc-items-block .fc-item-block-standard-wrapper-innerbox {
	position: relative;
	display: block;
	float: none;
	width: auto;
	height: auto;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #dfdfdf #9f9f9f #9f9f9f #dfdfdf;
	border-radius: 0;
	background-color: unset;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.news.fc-items-block .fc-item-block-featured-wrapper-innerbox {
	padding: 0px 0px 0px 0px;
	border-width: 0px;
	background-color: none;
	border-color: none;
}
.news.fc-items-block .fc-item-block-standard-wrapper-innerbox {
	padding: 0px 12px;
	border-width: 0px;
	background-color: none;
	border-color: none;
}
.news.fc-items-block .fc-item-block-standard-wrapper,
.news.fc-items-block .fc-item-block-featured-wrapper {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	border-width: 0;
	border-style: solid;
	width: 100%;
}
.news.fc-items-block .fc-item-block-standard-wrapper.cols_2,
.news.fc-items-block .fc-item-block-featured-wrapper.cols_2 {
	width: 50% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}
.news.fc-items-block .fc-item-block-standard-wrapper.cols_3,
.news.fc-items-block .fc-item-block-featured-wrapper.cols_3 {
	width: 33.33% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}
.news.fc-items-block .fc-item-block-standard-wrapper.cols_4,
.news.fc-items-block .fc-item-block-featured-wrapper.cols_4 {
	width: 25% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0% !important;
	border-width: 0px !important;
}
.news.fc-items-block .fc-item-block-featured-wrapper.mod_fc_activeitem:hover .fc-item-block-featured-wrapper-innerbox,
.news.fc-items-block .fc-item-block-featured-wrapper:hover .fc-item-block-featured-wrapper-innerbox,
.news.fc-items-block .fc-item-block-standard-wrapper.mod_hl_hover.mod_fc_activeitem:hover .fc-item-block-standard-wrapper-innerbox,
.news.fc-items-block .fc-item-block-standard-wrapper.mod_hl_hover:hover .fc-item-block-standard-wrapper-innerbox {
	box-shadow: 0px 0px 20px 0px #000000;
	z-index: 2;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.news.fc-items-block.featured-block {
	background-color: none;
	padding: 0 0;
}
.news.fc-items-block.standard-block {
	background-color: none;
	padding: 0 0;
}
.news.fc-items-block .fcitem_title_box {
	display: block;
	background: none;
	font-size: none;
	margin: 0;
	padding: 6px;
}
.news.fc-items-block .fcitem_title,
.news.fc-items-block .fcitem_title a {
	color: none;
	background-color: transparent;
	line-height: 1.2em;
	width: 100%;
	display: inline-block;
}
.news.fc-items-block .fcitem_title {
	height: 2.4em;
	display: table-cell;
	vertical-align: middle;
	padding: 1px 4px;
	margin: 2px 0px;
}
.news.fc-items-block .fcitem_title a {
	text-decoration: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.news.fc-items-block .fcitem_title:hover a,
.news.fc-items-block .fcitem_title a:hover {
	cursor: pointer;
}
.news.fc-items-block .fcitem_date {
	background: url("images/date.png") no-repeat scroll 0px 1px;
	padding: 2px 6px 2px 20px;
}
.news.fc-items-block .date_label,
.news.fc-items-block .date_label_feat {
	display: inline;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.news.fc-items-block .date_value,
.news.fc-items-block .date_value_feat {
	display: inline-block;
	font-weight: normal;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.news.fc-items-block .fcitem_text {
	margin: 0px;
	padding: 0 12px;
	line-height: 160%;
}
.content_featured .fc_block.fcitem_text {
	color: none;
}
.content_standard  .fc_block.fcitem_text {
	color: none;
}
.news.fc-items-block .image_featured a:hover,
.news.fc-items-block .image_standard a:hover {
	text-decoration: none;
}
.news.fc-items-block .image_featured img,
.news.fc-items-block .image_standard img {
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-radius: 0px;
}
.news.fc-items-block .image_standard a:hover img,
.news.fc-items-block .image_featured a:hover img {
	border: 1px solid #444444;
}
.news.fc-items-block .fcitem_hits {
	padding: 2px 0px 1px 0px;
	display: inline-block;
}
.news.fc-items-block .fcitem_voting {
	padding: 0px 0px 2px 0px;
	display: inline-block;
}
.news.fc-items-block .fcitem_comments {
	padding: 2px 0px 1px 0px;
	display: inline-block;
}
.news.fc-items-block .fcitem_hits img,
.news.fc-items-block .fcitem_comments img {
	vertical-align: middle;
}
.news.fc-items-block .hits_label,
.news.fc-items-block .voting_label,
.news.fc-items-block .comments_label {
	display: inline;
	color: black;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align: top;
}
.news.fc-items-block .voting_value_feat,
.news.fc-items-block .voting_value,
.news.fc-items-block .voting_value_feat .voting,
.news.fc-items-block .voting_value .voting {
	display: block;
}
.news.fc-items-block div.fcvote > ul.fcvote_list {
	clear: none !important;
}
.news.fc-items-block div.fcvote-label-outer {
	clear: none !important;
	display: inline-block !important;
	float: none !important;
}
.news.fc-items-block .fcitem_fields {
	display: inline-block !important;
	line-height: 140%;
}
.news.fc-items-block .field_label {
	font-weight: bold;
	display: block;
	float: left;
	clear: left;
	margin-right: 8px;
	text-align: left;
}
.news.fc-items-block .field_value {
	font-weight: normal;
	display: block;
	float: left;
	text-align: left;
}
.news.fc-items-block .fcitem_readon {
	text-align: center;
	margin: 8px 2%;
	display: inline-block;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	background-color: none;
	color: none;
	font-size: none;
}
.news.fc-items-block .fc_floated .fcitem_readon {
	text-align: right;
}
.news.fc-items-block .fcitem_readon a.readon,
.news.fc-items-block .fcitem_readon a.readon span {
	font-weight: bold;
	line-height: 160%;
	padding: 0px;
	background: transparent;
	text-decoration: none !important;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	vertical-align: top;
	color: inherit;
	font-size: inherit;
}
.news.fc-items-block .fcitem_readon:hover a.readon,
.news.fc-items-block .fcitem_readon:hover a.readon span {
	padding: 0px;
	background: none;
	text-decoration: none !important;
	color: gray;
}
.news.fc-items-block .fc_block {
	line-height: 160%;
}
.news.fc-items-block .fc_overlayed {
	background-color: rgba(0,0,0,0.4) !important;
	height: auto;
	padding: 2%;
	margin: 0%;
	position: absolute;
	left: 0px;
	width: 100%;
}
.news.fc-items-block .fc_overlayed .fc_block {
	line-height: 160%;
}
.news.fc-items-block .fc_bottom {
	bottom: 0px;
}
.news.fc-items-block .fc_top {
	top: 0px;
}
.news.fc-items-block .fc_full {
	top: 0px;
	height: 100%;
}
.news.fc-items-block .fc_stretch {
	width: 100% !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
}
.news.fc-items-block .fc_float_left {
	flex-direction: row;
	flex-wrap: nowrap;
}
.news.fc-items-block .fc_float_right {
	flex-direction: row-reverse;
	flex-wrap: nowrap;
}
.news.fc-items-block .fc_clear {
	clear: both !important;
}
.news.fc-items-block .fc-item-block-featured-wrapper .fc_auto_show,
.news.fc-items-block .fc-item-block-standard-wrapper .fc_auto_show {
	transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear, background-color 0.3s linear;
	opacity: 0.0;
	max-height: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow-y: hidden;
}
.fc_overlayed .fcitem_text p {
	color: #fff;
}
#flexicontent .fc_overlayed .element {
	color: #fff;
}
.news.fc-items-block .fc-item-block-featured-wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active,
.news.fc-items-block .fc-item-block-standard-wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active {
	opacity: 1;
	max-height: 100%;
}
.news.fc-items-block .fc-item-block-featured-wrapper.mod_fc_activeitem:hover .fc_auto_show.fc_show_active,
.news.fc-items-block .fc-item-block-standard-wrapper.mod_fc_activeitem:hover .fc_auto_show.fc_show_active,
.news.fc-items-block .fc-item-block-featured-wrapper:hover .fc_auto_show,
.news.fc-items-block .fc-item-block-standard-wrapper:hover .fc_auto_show {
	opacity: 1;
	background-color: rgba(0,0,0,0.75);
	max-height: 100%;
}
header.tool {
	position: absolute;
	right: 0;
	width: 100%;
}
header.tool .btn {
	border: 1px solid #ccc;
}
header.tool .btn:hover {
	background: #cfcfcf;
}
.standard-block.fc-items-block,
.featured-block.fc-items-block {
	display: grid;
}
.featured-block.fc-items-block {
	column-gap: 2rem;
	row-gap: 2rem;
	margin-bottom: 4rem;
	margin-top: 4rem;
}
.standard-block.fc-items-block {
	column-gap: 2rem;
	row-gap: 2rem;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
article.fc-item-standard,
article.fc-item-featured {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
}
footer.fc_block {
	margin-top: auto;
}
.standard-block.fc-items-block {
	grid-template-columns: repeat(auto-fill,minmax(45%,1fr));
}
.featured-block.fc-items-block {
	grid-template-columns: repeat(auto-fill,minmax(198px,1fr));
}
@media only screen and (max-width: 769px) {
	.news.fc-items-block .fc_float_left,
	.news.fc-items-block .fc_float_right {
		flex-direction: column !important;
	}
}
.news figure.image_standard,
.news figure.image_featured {
	flex: none;
	margin: 0;
}
.news.fc-items-block .fc-item-block-standard-wrapper.masonry {
	width: 47%;
	margin-bottom: 2rem;
}
.news.fc-items-block .fc-item-block-featured-wrapper.masonry {
	width: 200px;
	margin-bottom: 2rem;
}
