/* fcvote standard css */
div.fcvote {
	display: inline-block;
	vertical-align: middle;
}

div.fcvote > ul.fcvote_list, 
div.fcvote > ul.fcvote_list > li.voting-links a:hover, 
div.fcvote > ul.fcvote_list > li.current-rating {
	background-color: transparent;
	background-position: left -1000px;
	background-repeat: repeat-x;
}

div.fcvote > ul.fcvote_list {
	background-position: left top;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	float: left;
}

div.fcvote > ul.fcvote_list > li.current-rating,
div.fcvote > ul.fcvote_list > li.voting-links {
	display: inline;
	background-image: none;
	background-position: 0;
	margin: 0;
	padding: 0;
}

div.fcvote > ul.fcvote_list > li.voting-links a, 
div.fcvote > ul.fcvote_list > li.current-rating {
	background-color: transparent ;
	border: medium none;
	cursor: pointer;
	left: 0pt;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	overflow: hidden;
	position: absolute;
	text-indent: -1000em;
	top: 0pt;
}

div.fcvote > ul.fcvote_list > li.voting-links a:hover {
	background-position: left bottom;
}

div.fcvote > ul.fcvote_list > li.current-rating {
	background-position: left center;
	z-index: 0;
}

div.fcvote > ul.fcvote_list > li.voting-links a {
	margin: 0;
	padding: 0;
}

div.fcvote-label {
	float: left;
	min-width: 80px;
	padding: 0 4px 0 0;
	margin-right: 6px;
	font-weight:normal;
	font-size:90%;
	text-align:right;
	border-bottom:1px dashed gray;
	font-style:italic;
}
div.fcvote-label.xid-main {
	font-size:100%;
	font-style:normal;
	font-weight:bold;
}
div.fcvote-count {
	float: left;
	padding: 0 0 0 4px;
}

/* fcvote variable css */
div.fcvote {
	line-height: 25px;
}

div.fcvote > ul.fcvote_list {
	height: 25px;
	width: 125px;
}

div.fcvote > ul.fcvote_list, 
div.fcvote > ul.fcvote_list > li.voting-links a:hover, 
div.fcvote > ul.fcvote_list > li.current-rating {
	background-image: url(../images/star.gif);
}

div.fcvote > ul.fcvote_list > li.voting-links a, 
div.fcvote > ul.fcvote_list > li.current-rating {
	height: 25px;
	line-height: 25px;
}

div.fcvote .ajax-loader {
    background: url("../images/ajax-loader.gif") no-repeat scroll left center transparent;
    height: 16px;
    padding: 0 0 0 20px;
}