div.voting-group {
	display: inline-block;
	float: none;
	margin: 0;
	padding: 0;
}
div.voting-row {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding: 0;
	margin: 12px 0;
	padding: 0 24px 0 0;
}
div.voting-row.voting-row_main {
	box-sizing: border-box;
	clear: both;
}
div.voting-row:nth-child(2n) {
	clear: both;
}
#flexicontent
div.voting-row .ajax-loader,
div.voting-row .ajax-loader {
	vertical-align: top;
	margin: 6px 6px 10px 12px;
}
div.fcvote {
	display: inline-block;
	vertical-align: unset;
	margin: 0;
	padding: 0;
}
div.fcvote > ul.fcvote_list,
div.fcvote > ul.fcvote_list > li.voting-links a:hover,
div.fcvote > ul.fcvote_list > li.current-rating {
	background-color: transparent !important;
	background-position: left -1000px !important;
	background-repeat: repeat-x !important;
}
div.fcvote > ul.fcvote_list {
	background-position: left top !important;
	list-style-image: none !important;
	list-style-position: outside !important;
	list-style-type: none !important;
	margin: 4px 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: relative !important;
	float: left !important;
	clear: both !important;
}
div.fcvote > ul.fcvote_list > li.current-rating,
div.fcvote > ul.fcvote_list > li.voting-links {
	display: inline !important;
	background-image: none !important;
	background-position: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
}
div.fcvote > ul.fcvote_list > li.voting-links a,
div.fcvote > ul.fcvote_list > li.current-rating {
	background-color: transparent !important;
	border: medium none !important;
	cursor: pointer !important;
	outline-color: -moz-use-text-color !important;
	outline-style: none !important;
	outline-width: medium !important;
	overflow: hidden !important;
	position: absolute !important;
	text-indent: -1000em !important;
	left: 0pt !important;
	top: 0pt !important;
	margin: 0 !important;
	padding: 0 !important;
	transition: none !important;
}
div.fcvote > ul.fcvote_list > li.voting-links a:hover {
	background-position: left bottom !important;
}
div.fcvote > ul.fcvote_list > li.current-rating {
	background-position: left center !important;
	z-index: 0 !important;
}
#flexicontent
div.fcvote-label-outer,
div.fcvote-label-outer {
	float: left;
	clear: both;
}
#flexicontent
div.fcvote-label,
div.fcvote-label {
	float: left;
	padding: 0 4px 0 0;
	margin-right: 6px;
	font-weight: normal;
	font-size: 100%;
	text-align: right;
	border-bottom: 1px dashed gray;
	font-style: italic;
}
#flexicontent
div.fcvote-label.xid-main,
div.fcvote-label.xid-main {
	color: darkorange;
	font-size: 120%;
	font-style: normal;
	font-weight: bold;
}
#flexicontent
div.fcvote_message,
div.fcvote_message {
	float: left;
	margin: 0;
	padding: 0;
	clear: both;
}
#flexicontent
div.fcvote-count,
div.fcvote-count {
	float: left;
	margin: 0px 0 0 2px;
	padding: 0 4px 0 4px;
	text-align: center;
	position: relative;
	border-radius: 3px;
}
#flexicontent
div.fcvote-box-main div.fcvote-count,
div.fcvote-box-main div.fcvote-count {
	margin-top: 4px;
	max-width: unset;
}
#flexicontent
div.fcvote-desc,
div.fcvote-desc {
	margin: 2px 4px 4px 4px;
	padding: 0px 4px;
	float: left;
	clear: both;
}
#flexicontent
div.fcvote .ajax-loader,
div.fcvote .ajax-loader {
	background: url("../images/ajax-loader.gif") no-repeat scroll left center transparent;
	height: 16px;
	padding: 0 0 0 20px;
}
#flexicontent
.fcvote_toggle_review_form {
	clear: both;
	float: left;
	margin: 2px 0 2px 0;
	vertical-align: top;
	width: 100%;
}
#flexicontent
.fcvote_review_form_box_loading {
	float: left;
	display: inline-block;
	vertical-align: top;
}
#flexicontent
.fcvote_review_form_box label,
.fcvote_review_form_box label {
	font-size: 12px;
}
#flexicontent
.fcvote_review_form_box table td,
.fcvote_review_form_box table td {
	font-size: 120%;
}
#flexicontent
.fcvote_review_form_box table tr td {
	padding-left: 2px;
	padding-right: 2px;
}
#flexicontent
.fcvote_review_form_box table td input.fcvote_review_form_submit_btn {
	min-width: 33%;
	float: right;
}
#flexicontent
.fcvote_review_form_box table.fc-form-tbl td.key,
.fcvote_review_form_box table.fc-form-tbl td.key {
	max-width: 300px;
}
#flexicontent
.fcvote_review_form_box table.fc-form-tbl td input[type=text],
.fcvote_review_form_box table.fc-form-tbl td input[type=text],
#flexicontent
.fcvote_review_form_box table.fc-form-tbl td textarea,
.fcvote_review_form_box table.fc-form-tbl td textarea {
	width: 100%;
	box-sizing: border-box;
	height: unset;
	padding: 6px 12px;
}
div.fcvote > ul.fcvote_list {
	height: 24px !important;
	width: 120px !important;
}
div.fcvote > ul.fcvote_list > li.voting-links a,
div.fcvote > ul.fcvote_list > li.current-rating {
	height: 24px !important;
	line-height: 24px !important;
}
div.fcvote > ul.fcvote_list,
div.fcvote > ul.fcvote_list > li.voting-links a:hover,
div.fcvote > ul.fcvote_list > li.current-rating {
	background-image: url(../images/star-medium.png) !important;
}
div.fcvote > ul.fcvote_list > li.voting-links:nth-child(2) a {
	width: 20% !important;
	z-index: 6;
}
div.fcvote > ul.fcvote_list > li.voting-links:nth-child(3) a {
	width: 40% !important;
	z-index: 5;
}
div.fcvote > ul.fcvote_list > li.voting-links:nth-child(4) a {
	width: 60% !important;
	z-index: 4;
}
div.fcvote > ul.fcvote_list > li.voting-links:nth-child(5) a {
	width: 80% !important;
	z-index: 3;
}
div.fcvote > ul.fcvote_list > li.voting-links:nth-child(6) a {
	width: 100% !important;
	z-index: 2;
}
