#fc_filter_box {
	display: block;
	clear: both;
	border: solid 0px #dddddd;
	margin: 0px 0px 12px 0px;
	padding: 0%;
	width: 100%;
}
fieldset.fc_search_set,
fieldset.fc_filter_set {
	border-bottom: 1px solid #cccccc;
	margin: 12px 0 0 0;
	padding: 1%;
	width: 100%;
	box-sizing: border-box;
	min-width: inherit !important;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	row-gap: 15px;
}
fieldset.fc_search_set legend,
fieldset.fc_filter_set legend {
	width: 100%;
	display: flex;
	border: 0px solid;
	padding: 0px;
	margin: 0px;
}
fieldset.fc_search_set legend .fc_legend_text,
fieldset.fc_filter_set legend .fc_legend_text {
	background: transparent;
	border: 1px solid lightgray;
	color: gray;
	display: block;
	margin: 0 0 5px 0;
	padding: 8px 10px 8px 10px;
	border-radius: 6px;
	display: inline-block;
	line-height: 0.5em;
	position: relative;
	top: 0px;
}
fieldset.fc_search_set legend .fc_legend_text.hasTooltip,
fieldset.fc_filter_set legend .fc_legend_text.hasTooltip {
	background: transparent url(../images/note.gif) no-repeat 10px 50%;
	border: 1px solid lightgray;
	color: gray;
	display: block;
	margin: 0 0 5px 0;
	padding-left: 36px;
	border-radius: 6px;
}
fieldset.fc_search_set legend .fc_legend_text span,
fieldset.fc_filter_set legend .fc_legend_text span {
	font-weight: bold;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	display: inline-block;
	line-height: 1em;
}
.cid_loading {
	color: darkred;
	font-weight: bold;
}
.cid_loading > * {
	vertical-align: middle;
}
.fc_filter_html .fc_icon_range {
	margin: 0 1px 0 1px;
}
.fc_range {
	background: url("../images/arrow_double.png") no-repeat scroll 0px 0px transparent;
	width: 16px;
	height: 16px;
	border: 0px solid;
	padding: 0px;
	margin: 0px 0px 0px 2px;
	display: inline-block;
	vertical-align: middle;
}
#flexicontent ul.tabbernav li a.tabberheading.fc_filter_active {
	color: orange;
}
#flexicontent ul.tabbernav li:hover a.tabberheading.fc_filter_active {
	color: red;
}
.fc_filter_html .input-append,
.fc_filter_html .input-prepend {
	margin: 0px 4px 0px 0px;
}
.fc_field_filter .fc_delall_filters {
	background: url("../images/delete.png") no-repeat scroll 0px 0px transparent;
	width: 16px;
	height: 16px;
	border: 0px solid;
	padding: 0px;
	margin: 4px 0px -4px 0px;
	display: inline-block;
	vertical-align: baseline;
}
.fc_filter,
.fc_filter_line {
	display: flex;
	float: none;
	white-space: normal;
	border: 0px solid lightgray;
	border-radius: 2px;
	flex-direction: row;
	gap: 5px;
	align-items: center;
}
.fc_filter_line {
	clear: both;
	margin: 0px 0% 1px 0%;
	padding: 0px 1%;
	width: 98%;
}
form > .fc_filter_line {
	margin: 0px 1% 0px 1%;
	width: 96%;
}
.fc_filter .fc_filter_label_inline,
.fc_filter_line .fc_filter_label_inline {
	color: #000;
	display: inline-block;
	vertical-align: baseline;
	white-space: nowrap;
}
.fc_filter.active .fc_filter_label,
.fc_filter_line.active .fc_filter_label {
	background-color: darkred;
}
.fc_filter.active .fc_filter_label .label,
.fc_filter_line.active .fc_filter_label .label {
	background-color: darkred;
}
.fcfilter_with_nouislider {
	min-width: 120px;
}
.fc_filter_html {
	position: relative;
	display: flex;
}
.fc_search_option_cell .fc_filter_html {
	width: 100%;
	box-sizing: border-box;
}
.fc_filter_line .fc_filter_html {
	clear: none;
	width: 80%;
}
.fc_filter_html > *,
.fc_filter_html > * {
	vertical-align: middle;
}
.fc_filter_line.fc_clear_label .fc_filter_label {
	width: auto;
}
.fc_filter_line.fc_clear_label .fc_filter_html {
	clear: both;
	width: 100%;
}
.fc_filter_html > .noUi-target {
	margin: 24px 24px 6px 24px;
}
.fc_filter_html > .noUi-target.noToolTipSlider {
	margin: 6px 16px 6px 16px;
}
.fc_filter_html .calendar {
	vertical-align: bottom;
	margin: 0px 6px 9px 2px;
	cursor: pointer;
}
.fc_filter_html .calendar:hover {
	border: 1px solid darkred;
}
.fc_filter_html .fc_filter_element {
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.fc_filter_html .select2-container .select2-choices input.select2-input,
.fc_filter_html .select2-container .select2-choice > .select2-chosen,
.fc_filter_html .fc_text_filter,
.fc_filter_html .fc_field_filter {
	color: #6a6a6a;
	font-weight: normal;
	display: inline-block;
	width: auto;
}
.fc_filter_html :not(.input-prepend):not(.input-append) > .fc_text_filter,
.fc_filter_html :not(.input-prepend):not(.input-append) > .fc_field_filter {
	border-radius: 5px;
}
.fc_filter_html :not(.input-prepend):not(.input-append) > input.fc_text_filter,
.fc_filter_html :not(.input-prepend):not(.input-append) > input.fc_field_filter,
.fc_filter_html :not(.input-prepend):not(.input-append) > input.fc_text_filter:focus,
.fc_filter_html :not(.input-prepend):not(.input-append) > input.fc_field_filter:focus {
	height: unset !important;
	margin: inherit;
	min-height: var(--filts-inp-height) !important;
	line-height: var(--filts-inp-height) !important;
	padding: 0px 4px !important;
	position: relative;
	border: 1px solid gray;
	min-width: 120px;
	vertical-align: top;
	border: 1px solid #aaa;
	background: #fff url('../images/select2.png') no-repeat 99% -22px !important;
}
.fc_filter_html .input-append > input.fc_text_filter,
.fc_filter_html .input-append > input.fc_field_filter,
.fc_filter_html .input-append > input.fc_text_filter:focus,
.fc_filter_html .input-append > input.fc_field_filter:focus {
	margin-top: 0px;
	margin-right: 0px;
}
.fc_filter_html .input-append .select2-container .select2-choices {
	margin-right: 0px !important;
}
.fc_filter_html .input-prepend > input.fc_text_filter,
.fc_filter_html .input-prepend > input.fc_field_filter,
.fc_filter_html .input-prepend > input.fc_text_filter:focus,
.fc_filter_html .input-prepend > input.fc_field_filter:focus {
	margin-left: 0px;
}
input.fc_text_filter.fc_iscalendar,
input.fc_field_filter.fc_iscalendar {
	min-width: 60px;
}
label.fc_filter_val.fc_cleared {
	display: inline-block;
	float: left;
	clear: both;
}
.fc_filter_val_img {
	display: inline-block;
	float: left;
}
.fc_filter_val_img > img,
.fc_filter_val_img > span {
	margin: 2px 12px 2px 4px;
	vertical-align: top;
}
.fc_filter_val_img > span:before {
	font-size: 20px;
}
.fc_filter_val_img > span {
	font-size: 20px;
	line-height: 20px;
	height: 20px;
	width: 20px;
}
label.fc_filter_val + .fc_filter_val_img > img,
label.fc_filter_val + .fc_filter_val_img > span {
	margin: 4px 12px 2px -8px;
}
form.fc_instant_filter {
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
}
select.fc_field_filter {
	margin: 2px 2px 2px 2px;
}
input.fc_text_filter {
	vertical-align: top;
	border: 1px solid #aaa;
	border-radius: 5px;
}
input.fc_field_filter {
	vertical-align: top;
}
span.fc_field_filter {
	border-width: 0px;
}
.fc_filter > .fc_filter_html > .fc_checkradio_group_wrapper > ul.fc_field_filter.fc_checkradio_group {
	height: auto;
	max-height: auto;
	position: static;
	float: left;
	text-align: left;
}
.fc_filter > .fc_filter_html > .fc_checkradio_group_wrapper > ul.fc_field_filter.fc_checkradio_group label {
	margin: 0px 8px 4px 6px;
	display: inline-block;
}
.fc_filter_html.fc_text_search * {
	vertical-align: top;
}
.fc_filter_html.fc_text_search .fc_field_filter {
	padding-top: 0px;
}
.fc_filter_html.fc_text_search input.fc_text_filter {
	margin: 3px 0px;
}
.fc_filter_html.fc_text_search .fc_filter_button {
	margin: 3px 0px;
}
.fc_filter_html.fc_text_search input,
input#search_searchword,
.fc_field_filter {
	width: unset;
	min-height: calc(var(--form-inp-height)) !important;
	line-height: calc(var(--form-inp-height)) !important;
	padding: 0px 14px;
}
input#search_searchword {
	border-radius: 5px;
	border-color: #aaa;
	width: 100%;
	border: 1px solid #aaa;
}
.fc_has_inner_label,
.fc_has_inner_prompt {
	color: gray;
	position: absolute;
	display: block;
	padding: 0px 0px 0px 4px;
	font-size: 12px;
}
.fc_has_inner_label.fc_has_inner_label_input,
.fc_has_inner_prompt.fc_has_inner_prompt_input {
	left: 14px;
	top: 6px;
	color: red;
	line-height: 150%;
	padding: 0px 0px 0px 4px;
}
.fc_has_inner_label.fc_has_inner_label_select2,
.fc_has_inner_prompt.fc_has_inner_prompt_select2 {
	left: 4px;
	top: 8px;
}
.fc_filter_html .use_select2_lib {
	width: 100% !important;
}
.fc_filter_html .use_select2_lib.fc_field_searchphrase {
	width: unset !important;
}
.fc_filter_html .field-calendar .fc_field_filter {
	color: red;
	font-weight: normal;
	display: inline-block;
	padding: 8px 8px 8px 5px;
	border: 1px solid #aaa;
}
.fc_filter_html .select2-container .select2-search-field {
	padding: 0px !important;
	margin: 0px !important;
}
.fc_filter_html .select2-container-multi .select2-choices {
	border: 1px solid #aaa;
	border-radius: 5px;
	display: flex;
	width: 100% !important;
	height: var(--form-inp-height) !important;
}
.field-calendar .btn {
	background: #fff !important;
	box-shadow: none !important;
	padding: 0 10px 0 12px;
	border: 1px solid #aaa;
	color: #000;
}
li.select2-search-field {
	min-height: calc(var(--form-inp-height)) !important;
	line-height: calc(var(--form-inp-height)) !important;
}
.select2-default {
	color: inherit !important;
}
div#fc_fieldfilters_tbl,
.fc_filter_set .accordion {
	width: 100%;
}
.mod_flexifilter_wrap .fc_filter_html {
	flex-direction: column;
	flex-wrap: nowrap;
}
.mod_flexifilter_wrapper .fc_field_filter {
	padding: 0;
}
.mod_flexifilter_wrap .fc_filter_line {
	flex-direction: column;
	gap: 5px;
}
.flexi_search.left fieldset.fc_search_set legend,
.flexi_search.left fieldset.fc_filter_set legend,
.flexi_search.right fieldset.fc_search_set legend,
.flexi_search.right fieldset.fc_filter_set legend {
	flex-direction: column;
}
.flexi_search.left .fc_filter_html,
.flexi_search.right .fc_filter_html {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: 15px;
}
div#fc_textsearch_tbl {
	margin-bottom: 20px;
	width: 100%;
}
.flexi_search #s2id_search_searchword {
	width: 100%;
	margin-bottom: 20px;
}
.flexi_search span.btn-wrapper.input-group {
	display: block;
}
.flexi_search .btn-group {
	width: 100%;
}
.flexi_search input.fc_field_filter {
	width: 100%;
}
.flexi_search.left .fc_filter_html :not(.input-append):not(.input-prepend) > input.fc_field_filter,
.flexi_search.left .fc_filter_html :not(.input-append):not(.input-prepend) > input.fc_field_filter:focus,
.flexi_search.right .fc_filter_html :not(.input-append):not(.input-prepend) > input.fc_field_filter,
.flexi_search.right .fc_filter_html :not(.input-append):not(.input-prepend) > input.fc_field_filter:focus {
	width: 100%;
}
.fcfilter_nouislider_txtbox {
	padding-left: 14px;
	padding-top: 2px;
}
input#searchForm_6_val {
	border-radius: 5px;
	border: 1px solid #aaa;
}
