#fileman_tabset {
	margin-bottom: 32px;
}
#fileman_tabset div.tabbertab {
	padding: 8px 16px 16px 16px;
}
#fileman_tabset .fc-about-box {
	padding: 0 8px;
	margin: 2px 0;
	text-align: left;
	float: left;
	width: 100%;
	box-sizing: border-box;
	display: block;
	font-size: 14px;
}
.fc-sys-upload-limit-box img,
.fc-php-upload-limit-box img {
	vertical-align: top;
	float: none;
	border: none;
	margin: 0;
}
.fc-fileman-upload-icon:before {
	color: darkorange !important;
}
#flexicontent div div.fc_uploader_size_slider,
#flexicontent div .plupload_header_content > div.fc_uploader_size_slider {
	width: 220px;
	margin: 0;
	display: inline-block;
	float: right;
}
#flexicontent div .plupload_header_content > div.fc_uploader_size_slider {
	margin: 16px 16px 0 0;
}
#flexicontent div select.fc_uploader_size_select,
#flexicontent .plupload_header_content > select.fc_uploader_size_select {
	margin: 12px 16px 0 0;
	display: inline-block;
	float: right;
}
#flexicontent div .container_fcfield div.fc_uploader_size_slider {
	margin: 8px 24px 16px 20px;
	float: none;
}
#flexicontent div .container_fcfield select.fc_uploader_size_select {
	margin: 4px;
	float: none;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box {
	display: inline-block;
	float: none;
	clear: none;
	vertical-align: top;
	position: relative;
	border-radius: 4px;
	border: 3px solid #ddd;
	margin: 4px 6px;
	padding: 0;
	cursor: pointer;
	-webkit-transition: width 0.3s ease-in, height 0.3s ease-in;
	transition: width 0.3s ease-in, height 0.3s ease-in;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_90 {
	width: 90px;
	height: 118px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_120 {
	width: 120px;
	height: 148px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_150 {
	width: 150px;
	height: 178px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_200 {
	width: 200px;
	height: 228px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_250 {
	width: 250px;
	height: 278px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.selected {
	border: 3px solid green;
}
.adminthumbs.fcmanthumbs .fc-fileman-filename-box,
.adminthumbs.fcmanthumbs .fc-fileman-delete-btn,
.adminthumbs.fcmanthumbs .fc-fileman-preview-btn,
.adminthumbs.fcmanthumbs .fc-fileman-selection-mark {
	position: absolute !important;
	margin: 0 !important;
	padding: 0px;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border-radius: 4px;
}
.adminthumbs.fcmanthumbs .fc-fileman-filename-box {
	bottom: 0;
	left: 36px;
	font-size: 12px;
	overflow: hidden;
	border-radius: 4px 0 4px 0;
	padding: 0px 4px;
	background-color: black;
	color: white;
	line-height: 21px;
	height: 24px;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_90 .fc-fileman-filename-box {
	width: 50px;
	left: 32px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_120 .fc-fileman-filename-box {
	width: 76px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_150 .fc-fileman-filename-box {
	width: 106px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_200 .fc-fileman-filename-box {
	width: 156px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_250 .fc-fileman-filename-box {
	width: 206px;
}
.adminthumbs.fcmanthumbs .fc-fileman-delete-btn {
	top: -3px !important;
	left: -3px !important;
	background: none;
	border: 0;
	box-shadow: unset;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	overflow: hidden;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
	filter: alpha(opacity=0);
}
.adminthumbs.fcmanthumbs .fc-fileman-delete-btn:before {
	font-size: 24px;
	padding: 4px;
	background: red;
	color: white;
}
.adminthumbs.fcmanthumbs .fc-fileman-delete-btn:hover {
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box:hover .fc-fileman-delete-btn {
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
}
.adminthumbs.fcmanthumbs .fc-fileman-preview-btn {
	bottom: -3px !important;
	left: -3px !important;
}
.adminthumbs.fcmanthumbs .fc-fileman-preview-btn:before {
	font-size: 24px;
	padding: 4px;
}
.adminthumbs.fcmanthumbs .fc-fileman-preview-btn:hover {
	text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.adminthumbs.fcmanthumbs .fc-fileman-selection-mark {
	top: -2px;
	right: -2px;
	background: none;
	border: 0;
	box-shadow: unset;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	overflow: hidden;
	width: 0;
}
.adminthumbs.fcmanthumbs .fc-fileman-selection-mark:before {
	background: green;
	color: white;
	margin: 0px;
	padding: 4px;
	font-size: 24px;
}
.adminthumbs.fcmanthumbs .fc-fileman-selection-mark.selected {
	width: 32px;
}
.adminthumbs.fcmanthumbs img.fc-fileman-thumb {
	position: relative;
	border-radius: 4px;
	-webkit-transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
	transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_90 img.fc-fileman-thumb {
	max-width: 90px;
	max-height: 90px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_120 img.fc-fileman-thumb {
	max-width: 120px;
	max-height: 120px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_150 img.fc-fileman-thumb {
	max-width: 150px;
	max-height: 150px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_200 img.fc-fileman-thumb {
	max-width: 200px;
	max-height: 200px;
}
.adminthumbs.fcmanthumbs .fc-fileman-grid-thumb-box.thumb_250 img.fc-fileman-thumb {
	max-width: 250px;
	max-height: 250px;
}
.adminthumbs.fcmanthumbs img.fc-fileman-thumb.fc_zooming {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	cursor: pointer;
	z-index: 2001;
}
.adminthumbs.fcmanthumbs img.fc-fileman-thumb.fc_zooming.fc_zoomed {
	max-height: 96%;
	max-width: 96%;
}
#fc-uploader-loading {
	color: black;
	font-weight: normal;
	font-size: 12px;
	display: inline-block;
	float: right;
	margin: 12px 24px 0 0;
}
#fc-fileman-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #707070;
	background-image: -webkit-repeating-linear-gradient(135deg,#707070,#707070 6px,#676767 6px,#676767 12px);
	background-image: repeating-linear-gradient(135deg,#707070,#707070 6px,#676767 6px,#676767 12px);
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 2000;
}
#fc-fileman-list-thumb-size_nouislider,
#fc-fileman-grid-thumb-size_nouislider {
	width: 260px;
	margin: 0 0 -7px 16px;
	display: inline-block;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box img.fc-fileman-thumb {
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	cursor: pointer;
	-webkit-transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
	transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box.thumb_40 img.fc-fileman-thumb {
	max-width: 40px;
	max-height: 40px;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box.thumb_60 img.fc-fileman-thumb {
	max-width: 60px;
	max-height: 60px;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box.thumb_90 img.fc-fileman-thumb {
	max-width: 90px;
	max-height: 90px;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box.thumb_120 img.fc-fileman-thumb {
	max-width: 120px;
	max-height: 120px;
}
.adminlist.fcmanlist .fc-fileman-list-thumb-box.thumb_150 img.fc-fileman-thumb {
	max-width: 150px;
	max-height: 150px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_auto_uploader .plupload_start {
	display: none !important;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_compact_uploader {
	display: inline-block;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_compact_uploader .plupload_scroll > .plupload_container ul.plupload_filelist {
	background: none;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_compact_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li {
	margin: 0;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_compact_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_droptext {
	font-size: 16px;
	line-height: 45px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.fc_compact_uploader .plupload_scroll > .plupload_container .plupload_filelist_footer {
	line-height: auto;
	height: auto;
	padding: 4px;
	text-align: center;
	position: absolute;
	width: 96%;
	box-sizing: border-box;
	margin: 2px 2%;
	bottom: 0;
}
#flexicontent .fc_file_uploader .plupload_scroll > .plupload_container ul.plupload_filelist.ui-sortable > li {
	cursor: move;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_droptext,
#flexicontent .fc_file_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_droptext {
	cursor: initial;
	font-size: 28px;
	font-size: calc(8px + 1.6vw);
	display: block;
	box-sizing: border-box;
	min-height: 100% !important;
	min-width: 100% !important;
	padding: 0;
	margin: 0;
	border: 2px dashed gray;
	border-radius: 4px;
	background: #efefef;
	float: none;
}
#flexicontent .fc_file_uploader.fc_inline_uploader {
	margin: 0;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container {
	min-width: unset !important;
	width: unset;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist {
	height: auto;
	text-align: center;
	overflow: auto;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_name {
	width: 170px;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_droptext {
	font-size: 18px;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_failed .fc_uploader_row_btns,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_done .fc_uploader_row_btns,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_uploading .fc_uploader_row_btns {
	margin: 0;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_header {
	display: none;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_filelist_footer .plupload_file_size,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_filelist_footer .plupload_file_status,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_filelist_footer .plupload_file_action {
	display: none;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_file_action {
	float: right;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_file_action a.fc_uploader_row_remove {
	margin: 0;
}
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_file_size,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_file_status,
#flexicontent .fc_file_uploader.fc_inline_uploader .plupload_scroll > .plupload_container .plupload_file_action {
	float: left;
	padding: 2px;
	margin-left: 0px;
	margin-right: 8px;
	width: unset;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li {
	width: 92px;
	height: 150px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li {
	width: 122px;
	height: 180px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_150 ul.plupload_filelist > li {
	width: 152px;
	height: 210px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li {
	width: 202px;
	height: 260px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li {
	width: 252px;
	height: 310px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li span.plupload_img_preview > img {
	max-width: 90px;
	max-height: 90px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li span.plupload_img_preview > img {
	max-width: 120px;
	max-height: 120px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_150 ul.plupload_filelist > li span.plupload_img_preview > img {
	max-width: 150px;
	max-height: 150px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li span.plupload_img_preview > img {
	max-width: 200px;
	max-height: 200px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li span.plupload_img_preview > img {
	max-width: 250px;
	max-height: 250px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_150 ul.plupload_filelist > li,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li {
	box-sizing: border-box;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_150 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li .plupload_file_status {
	position: absolute;
	top: 0;
	right: 68px;
	line-height: 32px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li .plupload_file_size,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_size,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_150 ul.plupload_filelist > li .plupload_file_size,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li .plupload_file_size,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li .plupload_file_size {
	position: absolute;
	top: 0;
	right: 26px;
	line-height: 32px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li .plupload_file_status {
	right: 96px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_200 ul.plupload_filelist > li .plupload_file_size,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_250 ul.plupload_filelist > li .plupload_file_size {
	right: 44px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li.plupload_done .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li.plupload_failed .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li.plupload_uploading .plupload_file_status {
	right: 24px;
	margin-right: 0px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li .plupload_file_size {
	display: none;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_status,
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_size {
	font-size: 9px;
	padding: 2px 0;
	line-height: 1em;
	color: black;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_size {
	top: 16px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_90 ul.plupload_filelist > li .plupload_file_status {
	right: 0px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view.thumb_120 ul.plupload_filelist > li .plupload_file_status {
	right: 24px;
	margin-right: 0px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container .plupload_filelist_header {
	display: none;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li {
	display: inline-block;
	background: white;
	border: 1px solid #dfdfdf;
	margin: 6px 8px;
	padding: 32px 0 0 0;
	border-radius: 4px;
	-webkit-transition: width 0.3s ease-in, height 0.3s ease-in;
	transition: width 0.3s ease-in, height 0.3s ease-in;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li > * {
	float: left;
	clear: both;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_name {
	width: 96%;
	background: black;
	color: white;
	border-radius: 4px;
	padding: 0 2%;
	margin: 2px 0 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_name > input {
	padding: 0px 4px !important;
	font-size: 11px;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_name > span:first-of-type {
	width: unset;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	content: "\2b";
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .btn-group.fc_uploader_row_btns {
	margin: 0px 6px 0px 0px;
	position: absolute;
	top: 0;
	left: 0;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_status {
	width: unset;
	-webkit-transition: right 0.3s ease-in;
	transition: right 0.3s ease-in;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_size {
	clear: none;
	width: unset;
	margin: 0 0 0 12px;
	-webkit-transition: right 0.3s ease-in;
	transition: right 0.3s ease-in;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li .plupload_file_action {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_delete .plupload_file_action a.fc_uploader_row_remove {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
#flexicontent .fc_file_uploader.fc_uploader_thumbs_view .plupload_scroll > .plupload_container ul.plupload_filelist > li.plupload_delete:hover .plupload_file_action a.fc_uploader_row_remove {
	opacity: 1;
	filter: alpha(opacity=100);
}
#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_container:not(.fc_uploader_hide_preview) ul.plupload_filelist > li.plupload_uploading {
	height: unset;
	max-height: 64px;
}
#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_container:not(.fc_uploader_hide_preview) ul.plupload_filelist > li.fc_uploader_is_image {
	height: 64px;
}
#flexicontent .fc_file_uploader {
	width: auto;
	overflow: visible;
	padding: 0;
	margin: 0;
}
#flexicontent .fc_file_uploader .fileprops_message.fc_ajax_message_box {
	position: absolute;
	display: inline-block;
	z-index: 1;
	margin: 0;
	padding: 0;
}
#flexicontent .fc_file_uploader .fc_ajax_message_box .alert-heading {
	display: none;
}
#flexicontent .fc_file_uploader .fileprops_message .fc-mssg,
#flexicontent .fc_file_uploader .fileprops_message .alert {
	position: absolute;
	display: inline-block;
	z-index: 1;
	margin: 0;
	padding-top: 6px;
	padding-bottom: 4px;
	box-sizing: border-box;
	min-height: 32px;
}
#flexicontent .fc_file_uploader > .plupload_scroll.plupload_wrapper {
	float: left;
	clear: both;
}
#flexicontent .fc_file_uploader .plupload_container.fc_uploader_hide_preview span.plupload_img_preview {
	display: none !important;
}
#flexicontent .fc_file_uploader .plupload_container ul.plupload_filelist > li {
	position: relative;
}
#flexicontent .fc_file_uploader .plupload_container {
	padding: 0;
	min-width: 500px;
}
#flexicontent .fc_file_uploader .plupload_container input {
	height: 2.4em;
	padding: 0.5em;
	box-sizing: border-box;
	width: 98%;
	margin: 1px 1%;
}
#flexicontent .fc_file_uploader .plupload_button {
	padding: 3px 4px 3px 24px;
}
#flexicontent .fc_file_uploader ul.plupload_filelist_content li.plupload_file {
	padding: 0;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist {
	min-height: 100px;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li {
	padding: 6px 8px;
	vertical-align: top;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .plupload_file_name {
	display: inline-block;
	width: 200px;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .plupload_file_name > span:first-of-type {
	display: inline-block;
	width: auto;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .btn-group.fc_uploader_row_btns {
	margin: 0px 6px 0px 0px;
	z-index: 1;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .btn.fc_props_edit_btn,
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .btn.fc_img_preview_btn {
	width: unset;
	min-width: 20px;
	margin: 0px 0px 0px 0px;
	padding: 8px 4px;
	vertical-align: top;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist span.plupload_img_preview {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist span.plupload_img_preview > img {
	position: relative;
	height: auto;
	width: auto;
	max-width: 64px;
	max-height: 64px;
	border-radius: 4px;
	-webkit-transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
	transition: max-width 0.3s ease-in, max-height 0.3s ease-in;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist span.plupload_img_preview > img.plupload_loading_img {
	margin: 8px;
	min-width: auto !important;
	width: auto !important;
	min-height: auto !important;
	height: auto !important;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.fc_zooming span.plupload_img_preview {
	display: inline-block !important;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.fc_zooming span.plupload_img_preview > img {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	z-index: 2050;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.fc_zooming.fc_zoomed span.plupload_img_preview > img {
	width: auto;
	height: auto;
	max-height: 100% !important;
	max-width: 100% !important;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .plupload_filelist_footer {
	height: auto;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li .plupload_file_action {
	position: relative;
	top: -3px;
	margin-left: 0px;
	width: 31px;
	padding: 0;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li .plupload_file_action > a {
	background: none;
	border: 0;
	display: inline-block;
	margin: 0 0 0 8px;
	padding: 0;
	min-width: 24px;
	min-height: 20px;
	text-decoration: none;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li .plupload_file_action > a:before {
	display: inline-block;
	margin: 0;
	padding: 7px 4px;
	border: 1px solid #d0d0d0;
	border-radius: 4px;
	background-color: #e7e7e7;
	font-family: 'IcoMoon';
	font-style: normal;
	font-size: 14px;
	speak: none;
	line-height: 14px;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.plupload_uploading .plupload_file_action > a:before {
	color: darkorange;
	content: "\e022";
	outline: 0;
	background-image: none;
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.plupload_failed .plupload_file_action > a:before {
	font-size: 16px;
	padding: 5px 3px 7px;
	color: #FFD800;
	content: "\48";
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li.plupload_done .plupload_file_action > a:before {
	color: green;
	content: "\47";
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li .plupload_file_action > a:before {
	background-image: -webkit-linear-gradient(top,#f7f7f7,#d7d7d7);
	background-image: linear-gradient(to bottom,#f7f7f7,#d7d7d7);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f7f7f7,endColorstr=#d7d7d7);
	color: red;
	content: "\49";
}
#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist > li .plupload_file_action > a:hover:before {
	border: 1px solid #b7b7b7;
	background-color: #c7c7c7;
	background-image: -webkit-linear-gradient(top,#e7e7e7,#c0c0c0);
	background-image: linear-gradient(to bottom,#e7e7e7,#c0c0c0);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e7e7e7,endColorstr=#c0c0c0);
}
table.fc_uploader_header_tbl {
	border-collapse: collapse;
}
table.fc_uploader_header_tbl td {
	padding: 1px 24px 1px 0px;
}
table.fc_uploader_header_tbl td:last-child {
	padding: 1px 0px 1px 0px;
}
.flexicontent a.fc_set_file_assignment {
	display: inline-block;
	min-width: 140px;
	padding: 4px;
	word-break: break-all;
	word-wrap: break-word;
	color: black;
	text-align: initial;
	margin: 1px 4px 2px 4px;
}
.flexicontent a.fc_set_file_assignment.isedit_link {
	color: #3071a9;
}
.flexicontent a.fc_set_file_assignment.isedit_link > span {
	margin-right: 4px;
}
.flexicontent a.fc_set_file_assignment.isedit_link > .icon-pencil:before {
	color: #555;
	margin-top: -2px;
}
.flexicontent a.fc_set_file_assignment.striketext {
	color: gray;
	font-style: italic;
}
.flexicontent a.fc_set_file_assignment.striketext > .icon-new,
.flexicontent a.fc_set_file_assignment > .icon-checkbox {
	display: none;
}
.flexicontent a.fc_set_file_assignment > .icon-new,
.flexicontent a.fc_set_file_assignment.striketext > .icon-checkbox {
	display: inline-block;
}
.flexicontent a.fc_set_file_assignment > .icon-new:before {
	color: green;
}
@media (max-width: 1200px) {
	#flexicontent .fc_file_uploader .plupload_header_content {
		padding: 0 0 0 16px;
		background: none;
	}
	#flexicontent .fc_file_uploader .plupload_header_text {
		display: none;
	}
}
@media (max-width: 960px) {
	.fc_hidden_960 {
		display: none;
	}
	.fc_set_file_assignment {
		max-width: 200px;
	}
	#flexicontent .fc_file_uploader #btn-upload-list-view,
	#flexicontent .fc_file_uploader #btn-upload-grid-view {
		width: auto !important;
	}
	#flexicontent .fc_file_uploader .plupload_header_title {
		display: none;
	}
	#flexicontent .fc_file_uploader .plupload_header_content {
		padding: 0;
	}
}
@media (max-width: 720px) {
	#flexicontent .fc_file_uploader .plupload_file_size,
	#flexicontent .fc_file_uploader .plupload_file_status,
	#flexicontent .fc_file_uploader .plupload_progress {
		width: 72px;
	}
}
@media (max-width: 640px) {
	.fc_hidden_640 {
		display: none;
	}
	.fc_set_file_assignment {
		max-width: 180px;
	}
	#flexicontent .fc_file_uploader .plupload_container {
		min-width: 416px;
	}
	#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .plupload_file_name {
		width: 130px;
	}
	#flexicontent .fc_file_uploader .plupload_scroll ul.plupload_filelist .plupload_file_name > span:first-of-type {
		width: 130px;
	}
}
@media (max-width: 580px) {
	.fc_hidden_580 {
		display: none;
	}
	.fc_set_file_assignment {
		max-width: 140px;
		word-wrap: break-word;
	}
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_scroll ul.plupload_filelist .fc_plupload_toggleThumbs_btn,
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_scroll ul.plupload_filelist span.plupload_img_preview {
		display: none;
	}
}
@media (max-width: 460px) {
	.fc_set_file_assignment {
		max-width: 100px;
		word-wrap: break-word;
	}
}
@media (max-width: 460px) {
	#flexicontent .fc_file_uploader .plupload_container {
		margin-left: -32px;
	}
}
@media (min-width: 460px) and (max-width: 480px) {
	#flexicontent .fc_file_uploader .plupload_container {
		margin-left: -16px;
	}
}
@media (max-width: 900px) {
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_container ul.plupload_filelist > li.plupload_uploading {
		height: unset;
		max-height: 32px;
	}
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_container ul.plupload_filelist > li.fc_uploader_is_image,
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_container:not(.fc_uploader_hide_preview) ul.plupload_filelist > li.fc_uploader_is_image {
		height: 32px;
	}
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .plupload_scroll ul.plupload_filelist > li:not(.fc_zooming) span.plupload_img_preview > img {
		max-height: 32px;
		max-width: 32px;
	}
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .fileprops_message .fc-mssg,
	#flexicontent .fc_file_uploader:not(.fc_uploader_thumbs_view) .fileprops_message .alert {
		min-height: 28px;
	}
}
.filemanager img {
	vertical-align: middle;
}
.filemanager-tab {
	margin: 0px;
	padding: 4px 0 0 0;
	border: 0;
}
#filemanager-zone fieldset.actions {
	margin: 0px;
	padding: 0px;
}
#filemanager-zone textarea#file-desc,
#filemanager-zone textarea#file-url-desc {
	width: 100%;
	max-width: 600px;
}
#file-upload {
	font-size: 11px;
	width: 246px;
	height: 24px;
	border-radius: 6px;
	min-width: 40%;
}
#flexicontent ul.fcfield-sortables {
	display: inline-block;
	list-style: none !important;
	position: static;
	float: none;
	padding: 0% !important;
	margin: 0% !important;
	box-sizing: border-box;
	width: 100%;
}
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox,
#flexicontent div.fcfieldval_container.valuebox {
	position: relative;
	background: transparent;
	border-width: 0px !important;
	border-radius: 4px;
	margin: 0 0 4px 0;
	padding: 2px 8px 4px 4px;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	display: inline-block;
	clear: both;
	float: none;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded {
	width: 100%;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box,
#flexicontent div.fcfieldval_container.valuebox.fc-expanded .fc-xpended-btns,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded .fc-xpended-btns {
	float: left;
	clear: both;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box {
	width: auto;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box textarea.fcfield_textareaval,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box textarea.fcfield_textareaval {
	width: 608px;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box input.fcfield_textval,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded .fc-field-props-box input.fcfield_textval {
	width: 600px;
}
#flexicontent div.fcfieldval_container.valuebox.fc-expanded.floated,
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.fc-expanded.floated {
	width: auto;
}
#flexicontent .fcfield-expand-view-btn {
	margin: 0 4px 8px;
}
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.ui-sortable-helper {
	background-color: white;
	padding: 2px 3px 4px 3px;
	box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.5);
}
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox {
	list-style: none !important;
}
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.floated {
	display: inline-block;
	clear: none;
	float: none;
	max-width: 100%;
	width: auto;
	box-sizing: border-box;
	vertical-align: top;
}
div.container_fcfield div.toggle_all_values_buttons_box {
	display: block;
	margin: 0 0 6px 0;
}
#flexicontent .fcfieldval_container.valuebox .input-append:not(.fc-xpended):not(.fc-xpended-btns),
#flexicontent .fcfieldval_container.valuebox .input-prepend:not(.fc-xpended):not(.fc-xpended-btns) {
	float: left;
	margin-bottom: 0px;
	margin-right: 10px;
}
#flexicontent ul.fcfield-sortables > li > * {
	vertical-align: top;
}
#flexicontent ul.fcfield-sortables > li > [class^="fcfield-"],
#flexicontent ul.fcfield-sortables > li > [class*=" fcfield-"] {
	cursor: pointer;
}
#flexicontent ul.fcfield-sortables > li table.admintable {
	text-align: left;
	width: 100%;
}
#flexicontent ul.fcfield-sortables > li:only-child span.fcfield-drag-handle:not(.fcfont-icon) {
	background: url(../images/move3.png) 50% 50% no-repeat;
	cursor: default !important;
}
#flexicontent ul.fcfield-sortables > li:only-child span.fcfield-drag-handle.fcfont-icon {
	background: none;
	color: #aaa;
}
#flexicontent .fcfieldval_container.valuebox td > .flexi.label.prop_label {
	margin: 1px 8px 2px 0;
}
#flexicontent ul.fcfield-sortables.fcfield-group {
	width: 100%;
}
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox {
	border-width: 0px;
	box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.3);
	border-radius: 2px;
	width: 100%;
	margin: 0 4px 16px 0;
	padding: 12px 0 12px 12px;
}
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .flexi.label.sub_label {
	box-sizing: border-box;
	max-width: 150px;
	width: 20%;
	padding: 4px 6px 4px 6px;
	margin: 1px 1% 2px 0;
	float: none;
	clear: none;
	display: inline-block;
	vertical-align: top;
	border-width: 0px !important;
	color: unset;
	background: unset;
	font-weight: unset;
	text-align: right;
	font-size: 110%;
	font-family: times;
}
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .flexi.label.sub_label.fc_tooltip_icon {
	padding: 4px 6px 4px 20px !important;
	background-image: url(../images/information.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
}
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
	box-sizing: border-box;
	border-width: 0;
	width: 78% !important;
	padding: 0px 0% 6px;
	margin: 0% !important;
	float: none !important;
	clear: none;
	display: inline-block;
}
@media only screen and (min-width: 2090px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 90% !important;
	}
}
@media only screen and (min-width: 1860px) and (max-width: 2090px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 89% !important;
	}
}
@media only screen and (min-width: 1720px) and (max-width: 1860px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 88% !important;
	}
}
@media only screen and (min-width: 1590px) and (max-width: 1720px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 87% !important;
	}
}
@media only screen and (min-width: 1490px) and (max-width: 1590px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 86% !important;
	}
}
@media only screen and (min-width: 1390px) and (max-width: 1490px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 85% !important;
	}
}
@media only screen and (min-width: 1310px) and (max-width: 1390px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 84% !important;
	}
}
@media only screen and (min-width: 1250px) and (max-width: 1310px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 83% !important;
	}
}
@media only screen and (min-width: 1190px) and (max-width: 1250px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 82% !important;
	}
}
@media only screen and (min-width: 1130px) and (max-width: 1190px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 81% !important;
	}
}
@media only screen and (min-width: 1100px) and (max-width: 1130px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 80% !important;
	}
}
@media only screen and (min-width: 1050px) and (max-width: 1100px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 79% !important;
	}
}
@media only screen and (max-width: 800px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 100% !important;
	}
}
#flexicontent span[class^="fcfield-"].fcfont-icon,
#flexicontent span[class*=" fcfield-"].fcfont-icon,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon {
	margin: 0px 0px 2px 0px;
}
#flexicontent span[class^="fcfield-"].fcfont-icon:before,
#flexicontent span[class*=" fcfield-"].fcfont-icon:before,
#flexicontent span[class^="fcfield-"].fcfont-icon:after,
#flexicontent span[class*=" fcfield-"].fcfont-icon:after,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon:before,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon:before,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon:after,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon:after {
	margin: 0px 0px 2px 0px;
	background: none;
	font-family: "IcoMoon";
	font-style: normal;
	font-size: 14px;
	vertical-align: top;
}
#flexicontent .fc-xpended-btns.fc-bottom-btns {
	margin: 8px 0 0 0;
}
#flexicontent .fc-xpended-btns > .fcfield-expand-view,
#flexicontent .fc-xpended-btns > .fcfield-drag-handle,
#flexicontent .fc-xpended-btns > .fcfield-list-add,
#flexicontent .fc-xpended-btns > .fcfield-list-del,
#flexicontent .fc-xpended-btns > .fcfield-placement-h,
#flexicontent .fc-xpended-btns > .fcfield-placement-v,
#flexicontent .fc-xpended-btns > .fcfield-addvalue,
#flexicontent .fc-xpended-btns > .fcfield-insertvalue.fc_after,
#flexicontent .fc-xpended-btns > .fcfield-insertvalue.fc_before,
#flexicontent .fc-xpended-btns > .fcfield-delvalue,
#flexicontent .fc-xpended-btns > .fcfield-enablevalue,
#flexicontent .fc-xpended-btns > .fcfield-disablevalue,
#flexicontent .fc-xpended-btns > .fcfield-clearvalue,
#flexicontent .fc-xpended-btns > .fcfield-selectvalue,
#flexicontent .fc-xpended-btns > .fcfield-uploadvalue,
#flexicontent .fc-xpended-btns > .fcfield-button,
#flexicontent .fc-xpended-btns > .fcfield-button-add a {
	font-size: 12px;
	text-shadow: unset;
	padding: 4px 16px;
	line-height: 18px;
	min-height: 18px;
	cursor: pointer;
	background-color: white;
}
#flexicontent .fc-xpended-btns > .fcfield-expand-view:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-drag-handle:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-list-add:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-list-del:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-placement-h:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-placement-v:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-addvalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-insertvalue.fc_after:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-insertvalue.fc_before:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-delvalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-enablevalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-disablevalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-clearvalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-selectvalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-uploadvalue:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-button:not(.add-on):not(.input-group-addon):not(.btn),
#flexicontent .fc-xpended-btns > .fcfield-button-add:not(.add-on):not(.input-group-addon) a {
	float: none;
	clear: none;
	display: inline-block;
	color: #777;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	vertical-align: top;
	margin: 0px 2px 0px 6px;
}
#flexicontent .fc-xpended-btns > .fcfield-addvalue:not(.add-on):not(.input-group-addon):not(.btn):only-child {
	margin: 0;
}
#flexicontent .fc-xpended-btns .fcfield-expand-view:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-drag-handle:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-list-add:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-list-del:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-placement-h:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-placement-v:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-addvalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-insertvalue.fc_after:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-insertvalue.fc_before:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-delvalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-enablevalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-disablevalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-clearvalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-selectvalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-uploadvalue:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-button:not(.fcfont-icon):hover,
#flexicontent .fc-xpended-btns .fcfield-button-add:not(.fcfont-icon):hover a {
	background-color: #e0e0e0;
}
#flexicontent .fc-xpended-btns .fcfield-expand-view.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-drag-handle.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-list-add.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-list-del.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-placement-h.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-placement-v.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-addvalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-insertvalue.fc_after.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-insertvalue.fc_before.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-delvalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-enablevalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-disablevalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-clearvalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-selectvalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-uploadvalue.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-button.fcfont-icon:hover,
#flexicontent .fc-xpended-btns .fcfield-button-add.fcfont-icon:hover a {
	background-color: #f0f0f0;
	background-image: -webkit-linear-gradient(top,#f0f0f0,#c0c0c0);
	background-image: linear-gradient(to bottom,#f0f0f0,#c0c0c0);
}
#flexicontent span.fcfield-expand-view.fcfont-icon,
#flexicontent span.fcfield-drag-handle.fcfont-icon,
#flexicontent span.fcfield-list-add.fcfont-icon,
#flexicontent span.fcfield-list-del.fcfont-icon,
#flexicontent span.fcfield-placement-h.fcfont-icon,
#flexicontent span.fcfield-placement-v.fcfont-icon,
#flexicontent span.fcfield-addvalue.fcfont-icon,
#flexicontent span.fcfield-insertvalue.fc_after.fcfont-icon,
#flexicontent span.fcfield-insertvalue.fc_before.fcfont-icon,
#flexicontent span.fcfield-delvalue.fcfont-icon,
#flexicontent span.fcfield-enablevalue.fcfont-icon,
#flexicontent span.fcfield-disablevalue.fcfont-icon,
#flexicontent span.fcfield-clearvalue.fcfont-icon,
#flexicontent span.fcfield-selectvalue.fcfont-icon,
#flexicontent span.fcfield-uploadvalue.fcfont-icon,
#flexicontent span.fcfield-button.fcfont-icon,
#flexicontent span.fcfield-button-add.fcfont-icon a {
	padding: 4px 12px;
	background-image: none;
}
#flexicontent span.fcfield-expand-view.fcfont-icon {
	padding: 0px;
}
#flexicontent .fcfield-button-add {
	vertical-align: top !important;
	float: none !important;
	margin: 0px !important;
	padding: 0px !important;
}
#flexicontent .fcfield-button-add a {
	padding: 6px 8px;
	margin: 0px 2px 0px 6px;
	text-decoration: none !important;
	background-color: white !important;
	color: gray !important;
}
#flexicontent .fcfield-button-add:hover a {
	background-color: darkgreen !important;
	color: white !important;
	border: 1px solid transparent !important;
}
#flexicontent input.fcfield-addvalue {
	padding: 5px 12px 6px;
	margin: 4px 2px 0px 6px;
}
#flexicontent span.fcfield-addvalue {
	margin: 0px 2px 6px 6px;
	padding: 6px 28px;
	background: url(../images/plus-button.png) 8% 50% no-repeat;
}
#flexicontent span.fcfield-addvalue:not(.fcfont-icon) {
	padding: 6px 12px 6px 32px !important;
}
#flexicontent span.fcfield-addvalue.fcfont-icon:before {
	padding: 0 6px 0 0;
	content: "*";
}
#flexicontent span.fcfield-addvalue:before {
	color: LimeGreen;
}
#flexicontent .fcfield-addvalue.fccleared {
	clear: both !important;
	float: left !important;
}
#flexicontent .fcfield-list-add,
#flexicontent .fcfield-list-del,
#flexicontent .fcfield-placement-h,
#flexicontent .fcfield-placement-v {
	margin: 0 4px 6px 0;
	padding: 16px;
}
#flexicontent .fcfield-placement-h {
	background: url(../images/arrow-resize.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-placement-v {
	background: url(../images/arrow-resize-090.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-placement-h.fc_toggle,
#flexicontent .fcfield-placement-v.fc_toggle {
	background: url(../images/arrow-in-out.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-add.fc_vertical {
	background: url(../images/list_add_v.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-del.fc_vertical {
	background: url(../images/list_del_v.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-add.fc_horizontal {
	background: url(../images/list_add_h.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-del.fc_horizontal {
	background: url(../images/list_del_h.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-insertvalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/plus-button.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-insertvalue.fc_after {
	background: url(../images/insert_after_180.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-insertvalue.fc_before {
	background: url(../images/insert_before_180.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-insertvalue.fc_after.fcfont-icon:before {
	content: "]";
}
#flexicontent span.fcfield-insertvalue.fc_before.fcfont-icon:before {
	content: "\e207";
}
#flexicontent span.fcfield-insertvalue.fc_after.fcfont-icon:after {
	content: " \6c";
}
#flexicontent span.fcfield-insertvalue.fc_before.fcfont-icon:after {
	content: " ]";
}
#flexicontent span.fcfield-insertvalue:before,
#flexicontent span.fcfield-insertvalue:after {
	color: LimeGreen;
}
#flexicontent .fcfield-expand-view {
	background: url(../images/arrow-resize.png) 50% 50% no-repeat;
	display: inline-block;
	min-height: 16px;
	min-width: 16px;
	vertical-align: middle;
}
#flexicontent span.fcfield-expand-view.fcfont-icon:before {
	content: "\68";
	vertical-align: middle;
	font-size: 100%;
}
#flexicontent .fcfield-delvalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/delete.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-delvalue.fcfont-icon:before {
	content: "I";
}
#flexicontent span.fcfield-delvalue:before {
	color: FireBrick;
}
#flexicontent .fcfield-enablevalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/page_single_edit.png) 8% 50% no-repeat;
}
#flexicontent .fcfield-enablevalue:not(.fcfont-icon) {
	padding: 4px 4px 4px 32px !important;
}
#flexicontent span.fcfield-enablevalue.fcfont-icon:before {
	padding: 0 6px 0 0;
	content: "\2b";
}
#flexicontent span.fcfield-enablevalue:before {
	color: darkgreen;
}
#flexicontent .fcfield-disablevalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/publish_r.png) 8% 50% no-repeat;
}
#flexicontent .fcfield-disablevalue:not(.fcfont-icon) {
	padding: 4px 4px 4px 32px !important;
}
#flexicontent span.fcfield-disablevalue.fcfont-icon:before {
	padding: 0 6px 0 0;
	content: "\49";
}
#flexicontent span.fcfield-disablevalue:before {
	color: darkorange;
}
#flexicontent .fcfield-clearvalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/layout_delete.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-clearvalue.fcfont-icon:before {
	content: "\e217";
}
#flexicontent span.fcfield-clearvalue:before {
	color: #555;
}
#flexicontent .fcfield-selectvalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/magnifier.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-selectvalue.fcfont-icon:before {
	content: "\53";
}
#flexicontent span.fcfield-selectvalue:before {
	color: black;
}
#flexicontent .fcfield-uploadvalue {
	margin: 0px 0px 2px 0px;
	background: url(../images/upload.png) 50% 50% no-repeat;
}
#flexicontent .fcfield-uploadvalue.active {
	background-color: #efefef;
}
#flexicontent .fcfield-uploadvalue.active.fcfont-icon {
	background-color: #2f96b4;
}
#flexicontent span.fcfield-uploadvalue.fcfont-icon:before {
	content: "\e022";
}
#flexicontent span.fcfield-uploadvalue.active.fcfont-icon:before {
	color: white;
}
#flexicontent span.fcfield-uploadvalue:before {
	color: black;
}
#flexicontent .fcfield-selectvalue.multi,
#flexicontent .fcfield-uploadvalue.multi {
	background-position: 12px 50%;
	padding: 4px 4px 4px 24px;
}
#flexicontent .fcfield-selectvalue.multi span.pages_stack,
#flexicontent .fcfield-uploadvalue.multi span.pages_stack {
	margin: 0px 0px 2px 0px;
	padding: 4px 4px 4px 28px;
	background: url(../images/pages_stack.png) 8px 50% no-repeat;
}
#flexicontent .fcfield-selectvalue.multi.fcfont-icon,
#flexicontent .fcfield-uploadvalue.multi.fcfont-icon {
	background-position: 50% 50%;
	padding: 4px 12px;
}
#flexicontent .fcfield-drag-handle {
	cursor: move;
	background: url(../images/move2.png) 50% 50% no-repeat;
}
#flexicontent span.fcfield-drag-handle.fcfont-icon:before {
	content: "z";
}
div.empty_image {
	display: block;
	background: #F9F9F9 url(../images/image_add.png) no-repeat 50% 50%;
	border: 1px solid silver;
	margin-bottom: 3px;
	word-wrap: break-word;
}
.fcimg_preview_box {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0;
	padding: 0;
	border: 1px solid transparent;
	vertical-align: top;
}
.fcimg_preview_box img.preview_image {
	border-radius: 4px;
	border: 1px solid gray;
	width: 100%;
	height: auto;
}
.fcimg_preview_box .fcimg_preview_msg {
	padding: 4px;
	margin: 5px 0 0 0;
	font-family: Courier;
	font-size: 11px;
	white-space: pre-wrap;
	word-wrap: break-word;
	color: white;
	background: black;
	cursor: text;
	border-radius: 4px;
	width: 100%;
	box-sizing: border-box;
	clear: both;
	float: left;
}
div.fcimg_value_props {
	display: inline-block;
}
#flexicontent .fc_filedata_txt.invalid {
	color: red;
	font-weight: normal;
}
#flexicontent .fc_filedata_txt_nowrap {
	display: block !important;
	height: 1px !important;
	margin-bottom: -3px !important;
	overflow: hidden !important;
	visibility: hidden !important;
	white-space: normal !important;
}
#flexicontent .fc_filedata_txt {
	display: inline-block;
	color: black;
	box-sizing: border-box;
	border-radius: 0;
	min-height: 1.2em;
	padding: 4px;
	min-width: 220px;
	background: none;
	color: #444;
	border-radius: 2px;
	cursor: auto;
	font-style: italic;
	font-weight: bold;
}
#flexicontent .fc_filedata_txt_nowrap,
#flexicontent .fc_filedata_txt {
	width: 98%;
	margin: 0 2% 6px 0;
	border: 1px dashed gray;
	font-size: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
#flexicontent .fc_filedata_txt.file_unpublished {
	color: #888;
	text-decoration: line-through;
	opacity: 0.5;
	filter: alpha(opacity=50);
	text-style: italic;
}
#flexicontent img.fc_preview_thumb {
	border: 1px solid silver;
	padding: 0;
	margin: 0px 4px 6px 0px;
	float: left;
	clear: both;
	border-radius: 4px;
}
#flexicontent .inlinefile-data * {
	vertical-align: top;
}
#flexicontent .fc_fileupload_box {
	position: relative;
	overflow: hidden;
	margin: 0px;
}
#flexicontent .fc_fileupload_box input.fc_filedata {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.button-add a {
	display: inline-block;
	padding: 1px 8px;
	border: 1px solid #ccc;
	background: #efefef;
}
.button-add a,
.button-add a:visited,
.button-add a:link,
.button-add a:hover {
	color: black;
	text-decoration: none;
}
#flexicontent .fcfield-drag {
	float: none !important;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
#flexicontent .fcfield-drag img {
	margin: 0px 1px -3px 1px !important;
	padding: 4px;
	border: 1px solid lightgray;
	border-radius: 4px;
	cursor: move !important;
	float: none !important;
	display: inline !important;
	background-color: white;
}
#flexicontent .fcfield_field_data_box table.fc-form-tbl .fcfield_textareaval:not(.inlineval),
#flexicontent .fcfield_field_data_box table.fc-form-tbl .fcfield_textval:not(.inlineval) {
	box-sizing: border-box;
	width: 100%;
}
.fcfield_field_data_box {
	float: left;
	min-width: 540px;
	width: unset;
	max-width: unset;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.fcfield_field_preview_box {
	float: left;
	min-width: 50%;
	max-width: 800px;
	width: unset;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.fcfield_field_preview_box table.fcfield_field_preview_table {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
@media only screen and (min-width: 1400px) {
	.fcfield_field_data_dox {
		min-width: 580px;
	}
	.fcfield_field_preview_box {
		min-width: 52%;
		max-width: 52%;
	}
}
@media only screen and (min-width: 1320px) and (max-width: 1400px) {
	.fcfield_field_data_dox {
		min-width: 480px;
	}
	.fcfield_field_preview_box {
		min-width: 48%;
		max-width: 48%;
	}
}
@media only screen and (min-width: 1220px) and (max-width: 1320px) {
	.fcfield_field_data_dox {
		min-width: 480px;
	}
	.fcfield_field_preview_box {
		min-width: 42%;
		max-width: 42%;
	}
}
@media only screen and (max-width: 1220px) {
	.fcfield_field_data_dox {
		min-width: 100%;
	}
	.fcfield_field_preview_box {
		min-width: 100%;
		max-width: 100%;
	}
}
[class^="fcfield_timestamp_value"],
[class*="fcfield_timestamp_value"] {
	display: inline-block;
	min-width: 240px;
}
.fcfield_addressint_canvas_outer {
	width: 100%;
	min-width: 400px;
	max-width: 600px;
}
#flexicontent .has_fc_google_maps_map {
	margin: 8px 0 0 0;
}
#flexicontent input.addrint_autocomplete {
	width: 318px;
}
#flexicontent select.addrint_ac_type {
	width: 160px;
}
iframe.sharedmedia {
	max-height: 420px;
}
.fcfieldval_container.valuebox .fcfield_radiocheck_icon:before {
	font-size: 20px;
}
.fcfieldval_container.valuebox .fcfield_radiocheck_icon {
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	width: 14px;
	margin-top: 6px;
}
.fc_select2_noselect .select2-search-field {
	display: none !important;
}
.fc_select2_noselect.select2-container-multi {
	max-width: 70% !important;
}
.fc_select2_noselect.select2-container-multi .select2-choices {
	padding-left: 6px !important;
	padding-right: 6px !important;
}
.fc_select2_sortable.select2-container-multi .select2-choices .select2-search-choice > div {
	white-space: nowrap !important;
}
.fc-field-value-properties-box.fc-field-value-disabled {
	display: none;
}
