.flexicontent .label,
.flexicontent .badge,
.flexicontent span.label,
.flexicontent label.label {
	margin: 0px 2px 2px 4px;
	display: inline-block;
}
.label.highlight,
.badge.highlight {
	color: darkred;
}
#flexicontent #editor-xtd-buttons .button2-left {
	margin: 4px 0px 0px 4px !important;
}
