:root {
	--form-inp-height: 36px;
	--ctrls-inp-height: 36px;
	--fcman-inp-height: 32px;
	--filts-inp-height: 36px;
}
.flexicontent .label,
.flexicontent .badge,
.flexicontent span.label,
.flexicontent label.label {
	margin: 0px 2px 2px 4px;
	display: inline-block;
}
.label.highlight,
.badge.highlight {
	color: darkred;
}
