.tabberlive .tabbertab.tabbertabhide {
	display: none;
}
.tabberlive .tabbertab.tabbertablow {
	opacity: 0.1;
}
.tabberlive {
	margin-top: 1em;
}
ul.tabbernav {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px solid #778;
	font: bold 12px Verdana, sans-serif;
}
ul.tabbernav > li {
	list-style: none;
	margin: 10px 2px 0px 2px;
	display: inline-block;
	white-space: nowrap;
}
ul.tabbernav > li > a {
	padding: 3px 0.5em;
	margin-left: 3px;
	border: 1px solid #778;
	border-bottom: none;
	background: #DDE;
	text-decoration: none;
	font-size: 11px;
}
ul.tabbernav > li > a [class^="icon-"],
ul.tabbernav > li > a [class*=" icon-"] {
	font-size: 16px;
	padding-top: 4px;
	vertical-align: top;
}
ul.tabbernav > li.tabberactive a {
	background-color: #fff;
	border-bottom: 1px solid #fff;
}
ul.tabbernav > li.tabberactive a:hover {
	color: #000;
	background: white;
	border-bottom: 1px solid white;
}
.tabberlive .tabbertab {
	padding: 5px;
	border: 1px solid #aaa;
	border-top: 0;
	opacity: 1;
	transition: opacity 0.29s;
	transition-timing-function: ease-in;
}
.tabberlive .tabbertab h2.tabberheading,
.tabberlive .tabbertab h3.tabberheading {
	display: none !important;
}
body .tabberlive,
#flexicontent .tabberlive {
	margin: 0px 0px 6px 0px;
	padding: 0px;
	width: 100%;
	float: left;
	border-width: 0px;
}
body .tabbertab,
#flexicontent .tabbertab {
	margin: 0px;
	padding: 5px 1% 3px 1%;
	width: 100%;
	box-sizing: border-box;
	float: left;
}
body .fctabber,
#flexicontent .fctabber {
	overflow: visible;
	width: 5000px;
}
body ul.tabbernav,
#flexicontent ul.tabbernav {
	line-height: 100%;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid transparent;
	border-right: 2px solid transparent;
	font: bold 11px Verdana, sans-serif;
	margin: 0;
	padding: 0px 1% 0px 1%;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}
body ul.tabbernav > li,
#flexicontent ul.tabbernav > li {
	line-height: 100%;
	padding: 0px;
	margin: 4px 0px -1px 8px;
	overflow: visible;
	display: inline-block;
	float: left;
}
body ul.tabbernav > li > a,
#flexicontent ul.tabbernav > li > a {
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
	line-height: 220%;
	font-size: 11px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 5px;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
body ul.tabbernav > li > a,
#flexicontent ul.tabbernav > li > a {
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight: bold;
	color: #FFFFFF;
	border: 1px solid #25729a;
	background-color: #3093c7;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3093c7),to(#1c5a85));
	background-image: -webkit-linear-gradient(top,#3093c7,#1c5a85);
	background-image: -moz-linear-gradient(top,#3093c7,#1c5a85);
	background-image: -ms-linear-gradient(top,#3093c7,#1c5a85);
	background-image: -o-linear-gradient(top,#3093c7,#1c5a85);
	background-image: linear-gradient(to bottom,#3093c7,#1c5a85);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7,endColorstr=#1c5a85);
	border-bottom-width: 0;
}
body ul.tabbernav > li:hover a,
#flexicontent ul.tabbernav > li:hover a {
	border: 1px solid #1c5675;
	background-color: #26759e;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#26759e),to(#133d5b));
	background-image: -webkit-linear-gradient(top,#26759e,#133d5b);
	background-image: -moz-linear-gradient(top,#26759e,#133d5b);
	background-image: -ms-linear-gradient(top,#26759e,#133d5b);
	background-image: -o-linear-gradient(top,#26759e,#133d5b);
	background-image: linear-gradient(to bottom,#26759e,#133d5b);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e,endColorstr=#133d5b);
	border-bottom-width: 0;
}
body ul.tabbernav > li.tabberactive a,
body ul.tabbernav > li.tabberactive a:hover,
#flexicontent ul.tabbernav > li.tabberactive a,
#flexicontent ul.tabbernav > li.tabberactive a:hover {
	color: black;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	text-shadow: none;
	position: relative;
}
body ul.tabbernav > li.tabberactive a:before,
#flexicontent ul.tabbernav > li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 0px;
	border-top: 4px solid #26759e;
	top: 0;
	left: 0px;
	width: 100%;
	border-radius: 4px 3px 0px 0px;
}
body .tabber-inline ul.tabbernav > li > a,
#flexicontent .tabber-inline ul.tabbernav > li > a {
	padding-top: 0px;
	padding-bottom: 1px;
}
body .s-gray ul.tabbernav > li > a,
#flexicontent .s-gray ul.tabbernav > li > a {
	color: #FFFFFF;
	border: 1px solid #838383;
	background-color: #909090;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#909090),to(#707070));
	background-image: -webkit-linear-gradient(top,#909090,#707070);
	background-image: -moz-linear-gradient(top,#909090,#707070);
	background-image: -ms-linear-gradient(top,#909090,#707070);
	background-image: -o-linear-gradient(top,#909090,#707070);
	background-image: linear-gradient(to bottom,#909090,#707070);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#909090,endColorstr=#707070);
	border-bottom-width: 0;
}
body .s-gray ul.tabbernav > li:hover a,
#flexicontent .s-gray ul.tabbernav > li:hover a {
	border: 1px solid #707070;
	background-color: #7a7a7a;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#7a7a7a),to(#5a5a5a));
	background-image: -webkit-linear-gradient(top,#7a7a7a,#5a5a5a);
	background-image: -moz-linear-gradient(top,#7a7a7a,#5a5a5a);
	background-image: -ms-linear-gradient(top,#7a7a7a,#5a5a5a);
	background-image: -o-linear-gradient(top,#7a7a7a,#5a5a5a);
	background-image: linear-gradient(to bottom,#7a7a7a,#5a5a5a);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7a7a7a,endColorstr=#5a5a5a);
	border-bottom-width: 0;
}
body .s-gray ul.tabbernav > li.tabberactive a,
body .s-gray ul.tabbernav > li.tabberactive a:hover,
#flexicontent .s-gray ul.tabbernav > li.tabberactive a,
#flexicontent .s-gray ul.tabbernav > li.tabberactive a:hover {
	color: black;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white;
	border-left: 1px solid #909090;
	border-top: 1px solid #757575;
	border-right: 1px solid #5a5a5a;
	text-shadow: none;
	position: relative;
}
body .s-gray ul.tabbernav > li.tabberactive a:before,
#flexicontent .s-gray ul.tabbernav > li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 4px solid #808080;
	top: 0;
	left: 0px;
	width: 100%;
	border-radius: 2px;
}
body .s-cblue ul.tabbernav > li > a,
#flexicontent .s-cblue ul.tabbernav > li > a {
	color: #FFFFFF;
	border: 1px solid #66aaee;
	background-color: #b0b0b0;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#77bbff),to(#5599dd));
	background-image: -webkit-linear-gradient(top,#77bbff,#5599dd);
	background-image: -moz-linear-gradient(top,#77bbff,#5599dd);
	background-image: -ms-linear-gradient(top,#77bbff,#5599dd);
	background-image: -o-linear-gradient(top,#77bbff,#5599dd);
	background-image: linear-gradient(to bottom,#77bbff,#5599dd);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77bbff,endColorstr=#5599dd);
	border-bottom-width: 0;
}
body .s-cblue ul.tabbernav > li:hover a,
#flexicontent .s-cblue ul.tabbernav > li:hover a {
	border: 1px solid #878787;
	background-color: #5599dd;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#5599dd),to(#3377bb));
	background-image: -webkit-linear-gradient(top,#5599dd,#3377bb);
	background-image: -moz-linear-gradient(top,#5599dd,#3377bb);
	background-image: -ms-linear-gradient(top,#5599dd,#3377bb);
	background-image: -o-linear-gradient(top,#5599dd,#3377bb);
	background-image: linear-gradient(to bottom,#5599dd,#3377bb);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5599dd,endColorstr=#3377bb);
	border-bottom-width: 0;
}
body .s-cblue ul.tabbernav > li.tabberactive a,
body .s-cblue ul.tabbernav > li.tabberactive a:hover,
#flexicontent .s-cblue ul.tabbernav > li.tabberactive a,
#flexicontent .s-cblue ul.tabbernav > li.tabberactive a:hover {
	color: black;
	background-color: white;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white;
	border-left: 1px solid #77bbff;
	border-top: 1px solid #66aaee;
	border-right: 1px solid #5599dd;
	text-shadow: none;
	position: relative;
}
body .s-cblue ul.tabbernav > li.tabberactive a:before,
#flexicontent .s-cblue ul.tabbernav > li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 4px solid #77bbff;
	top: 0;
	left: 0px;
	width: 100%;
	border-radius: 2px;
}
body div.tabberlive:not(.tabber-inline):not(.fcparams_tabset) {
	margin-top: 10px;
}
body div.tabberlive.fcparams_tabset,
body .tab-pane.active > div > div.tabberlive:not(.tabber-inline) {
	margin-top: 0px;
}
body .tabberlive.fcparams_tabset .tabbertab:not(.fcperms_tab),
body #flexicontent .tabberlive.fcparams_tabset .tabbertab:not(.fcperms_tab) {
	padding: 16px;
}
