/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .fctabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.fctabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 10px 2px 0px 2px;
 display: inline-block;
 white-space: nowrap;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
 font-size: 11px;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2.tabberheading {
 display:none !important;
}
.tabberlive .tabbertab h3.tabberheading {
 display:none !important;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}


/***********************************************
 * Rules for basic tabbing in flexicontent views
 ***********************************************/
 
#flexicontent .tabberlive {
	margin: 0px 0px 6px 0px !important;
	padding: 0px !important;
	width: 100% !important;
	float: left;
	border-width: 0px;
}

#flexicontent .tabbertab {
	margin: 0px !important;
	padding: 5px 1% 3px 1% !important;
	width: 98% !important;
	float: left;
}

#flexicontent .fctabber { overflow:visible; width:5000px; }

#flexicontent ul.tabbernav {
	line-height: 100% !important;
	border-bottom: 1px solid #cccccc !important;
	border-left: 1px solid transparent;
	border-right: 2px solid transparent;
	font: bold 11px Verdana,sans-serif !important;
	margin: 0 !important;
	padding: 0px 1% 0px 1% !important;
	width: 98% !important;
	display: inline-block !important;
	float:left;
}

#flexicontent ul.tabbernav li {
	line-height: 100% !important;
	padding: 0px !important;
	margin: 4px 0px -1px 8px !important;
	overflow: visible !important;
	display: inline-block !important;
	float:left;
}

#flexicontent ul.tabbernav li a {
	line-height: 220% !important;
	font-size: 11px !important;
	margin: 0px !important;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px !important;
	padding-bottom: 5px !important;
	display: inline-block !important;
	border-radius: 3px 3px 0px 0px !important;
	/*box-shadow: 0px -1px 1px lightgray;*/
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

#flexicontent ul.tabbernav li a {
	border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
	background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
	border-bottom-width: 0;
}

#flexicontent ul.tabbernav li:hover a {
	border:1px solid #1c5675;
	background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
	background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
	background-image: -moz-linear-gradient(top, #26759e, #133d5b);
	background-image: -ms-linear-gradient(top, #26759e, #133d5b);
	background-image: -o-linear-gradient(top, #26759e, #133d5b);
	background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
	border-bottom-width: 0;
}

#flexicontent ul.tabbernav li.tabberactive a,
#flexicontent ul.tabbernav li.tabberactive a:hover
{
	color: black !important;
	background-color: white !important;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white !important;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	text-shadow: none;
	position: relative;
}

#flexicontent ul.tabbernav li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 5px solid #26759e;
	top: 0;
	left: 0px;
	width: 100%;
}