/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}


/*--------------------------------------------------
  .fctabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.fctabber {
}
.tabberlive {
 margin-top:1em;
}



/* Tab handles list (Tab navigation list) */
ul.tabbernav {
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

/* Tab handle container */
ul.tabbernav > li {
 list-style: none;
 margin: 10px 2px 0px 2px;
 display: inline-block;
 white-space: nowrap;
}

/* Tab handle */
ul.tabbernav > li > a {
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
 font-size: 11px;
}
ul.tabbernav > li > a:link { color: #448; }
ul.tabbernav > li > a:visited { color: #667; }
ul.tabbernav > li > a:hover {
 color: #000;
 background: #AAE;
 border-color: #227;
}



/* Tab handle active */
ul.tabbernav > li.tabberactive a {
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

/* Tab active handle (hover) */
ul.tabbernav > li.tabberactive a:hover {
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}



/* Tab contents container */
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
}



/* Hide the heading since a heading is provided by the tab handle (navigation) */
.tabberlive .tabbertab h2.tabberheading,
.tabberlive .tabbertab h3.tabberheading {
 display:none !important; /* strict (FORCED) hidding */
}


/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
}



/***********************************************
 * Rules for basic tabbing in flexicontent views
 ***********************************************/
 
#flexicontent .tabberlive {
	margin: 0px 0px 6px 0px;
	padding: 0px;
	width: 100%;
	float: left;
	border-width: 0px;
}

#flexicontent .tabbertab {
	margin: 0px;
	padding: 5px 1% 3px 1%;
	width: 98%;
	float: left;
}

#flexicontent .fctabber { overflow:visible; width:5000px; }

#flexicontent ul.tabbernav {
	line-height: 100%;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid transparent;
	border-right: 2px solid transparent;
	font: bold 11px Verdana,sans-serif;
	margin: 0;
	padding: 0px 1% 0px 1%;
	width: 98%;
	display: inline-block;
	float:left;
}

#flexicontent ul.tabbernav > li {
	line-height: 100%;
	padding: 0px;
	margin: 4px 0px -1px 8px;
	overflow: visible;
	display: inline-block;
	float:left;
}

#flexicontent ul.tabbernav > li > a {
	font-family:arial, helvetica, sans-serif;
	text-decoration:none;
	line-height: 220%;
	font-size: 11px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 5px;
	display: inline-block;
	border-radius: 5px 5px 0px 0px;
	/*box-shadow: 0px -1px 1px lightgray;*/
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

#flexicontent ul.tabbernav > li > a {
	border:1px solid #25729a; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	color: #FFFFFF;
	background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
	background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
	background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
	background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
	border-bottom-width: 0;
}
#flexicontent ul.tabbernav > li:hover a {
	border:1px solid #1c5675;
	background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
	background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
	background-image: -moz-linear-gradient(top, #26759e, #133d5b);
	background-image: -ms-linear-gradient(top, #26759e, #133d5b);
	background-image: -o-linear-gradient(top, #26759e, #133d5b);
	background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
	border-bottom-width: 0;
}
#flexicontent ul.tabbernav > li.tabberactive a,
#flexicontent ul.tabbernav > li.tabberactive a:hover
{
	color: black;
	background-color: white;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	text-shadow: none;
	position: relative;
}
#flexicontent ul.tabbernav > li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 0px;
	border-top: 4px solid #26759e;
	top: 0;
	left: 0px;
	width: 100%;
	border-radius: 4px 3px 0px 0px;
}



/* Inline tabber, e.g. multi-language properties in tabs */
#flexicontent .tabber-inline ul.tabbernav > li > a {
	padding-top: 0px;
	padding-bottom: 1px;
}
#flexicontent .tabber-inline ul.tabbernav > li > a {
	border:1px solid #b7b7b7; 
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold;
	color: #FFFFFF;
	background-color: #c0c0c0; background-image: -webkit-gradient(linear, left top, left bottom, from(#c0c0c0), to(#a0a0a0));
	background-image: -webkit-linear-gradient(top, #c0c0c0, #a0a0a0);
	background-image: -moz-linear-gradient(top, #c0c0c0, #a0a0a0);
	background-image: -ms-linear-gradient(top, #c0c0c0, #a0a0a0);
	background-image: -o-linear-gradient(top, #c0c0c0, #a0a0a0);
	background-image: linear-gradient(to bottom, #c0c0c0, #a0a0a0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c0c0c0, endColorstr=#a0a0a0);
	border-bottom-width: 0;
}
#flexicontent .tabber-inline ul.tabbernav > li:hover a {
	border:1px solid #878787;
	background-color: #909090; background-image: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#707070));
	background-image: -webkit-linear-gradient(top, #909090, #707070);
	background-image: -moz-linear-gradient(top, #909090, #707070);
	background-image: -ms-linear-gradient(top, #909090, #707070);
	background-image: -o-linear-gradient(top, #909090, #707070);
	background-image: linear-gradient(to bottom, #909090, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#909090, endColorstr=#707070);
	border-bottom-width: 0;
}
#flexicontent .tabber-inline ul.tabbernav > li.tabberactive a,
#flexicontent .tabber-inline ul.tabbernav > li.tabberactive a:hover
{
	color: black;
	background-color: white;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=white);
	background-image: none;
	border-bottom: 0px solid white;
	border-left: 1px solid #D0D0D0;
	border-top: 1px solid #B0B0B0;
	border-right: 1px solid #808080;
	text-shadow: none;
	position: relative;
}
#flexicontent .tabber-inline ul.tabbernav > li.tabberactive a:before {
	content: "";
	position: absolute;
	height: 1px;
	border-top: 5px solid #b7b7b7;
	top: 0;
	left: 0px;
	width: 100%;
	border-radius: 2px;
}
