body #flexicontent .fc_item_title,
body #flexicontent .fc_item_title a {
	color: #ad2121;
	background-color: inherit;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border-radius: 0px;
}
td.fc_title_col {
	background-color: inherit !important;
}
table#adminListTableFCcategory th {
	background: inherit !important;
	color: inherit;
}
body table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td,
table.adminlist tr:hover td.filtered_column {
	background-color: inherit !important;
}
body table.adminlist tbody tr {
	border-top: 0px solid #dadada !important;
	text-align: inherit;
}
body #flexicontent .flexi.label,
body #flexicontent .desc-title.label {
	background-color: #999999;
	color: #ffffff;
	border-radius: 3px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
}
table.adminlist tbody tr.row0 td {
	background: #ffffff;
}
table.adminlist tbody tr.row1 td {
	background: #f7f7f7;
}
table.adminlist {
	color: #555555;
}
.subcategorieslist {
	margin: 0 0 1em;
}
.button-editor {
	display: inline-flex;
	align-items: center;
}
#mainChooseColBox_cols ul li {
	list-style-type: none;
}
#mainChooseColBox_cols ul {
	padding-left: 0px;
}
#mainChooseColBox .icon-arrow-up-2 {
	display: block;
	text-align: center;
	margin-top: -10px;
}
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top: 0;
	margin-bottom: 0;
}
.group {
	overflow: auto !important;
}
.fc_item_title a {
	display: inline-block;
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin-left: 16px;
}
.fc_title_row_box {
	display: inline-block;
	float: left;
	max-width: 100%;
	padding: 0%;
	margin-left: 16px;
}
.fc_item_separator_row {
	display: block;
	clear: both;
	height: 40px;
	border: 0px solid;
}
.flexicontent #fc-filters-box,
.flexicontent #mainChooseColBox,
.flexicontent #itemusage-filters {
	padding: 8px 18px;
	margin: 0px;
	vertical-align: top;
	min-height: 34px;
	position: absolute;
	min-width: 215px;
	box-shadow: 0 5px 15px 0 #a1a1a1;
	background: #fff;
	z-index: 1;
}
@media screen and (max-width: 600px) {
	table#adminListTableFCcategory {
		border: 0;
	}
	table#adminListTableFCcategory thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	table#adminListTableFCcategory tr {
		border-bottom: 3px solid #ddd;
		display: block;
		margin-bottom: .625em;
	}
	table#adminListTableFCcategory td {
		border-bottom: 1px solid #ddd;
		display: block;
		font-size: .8em;
		text-align: left;
	}
	table#adminListTableFCcategory td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}
	table#adminListTableFCcategory td:last-child {
		border-bottom: 0;
	}
}
