@import 'include/config.less';

/**********************/
/* FLEXIContent FIELD */
/**********************/

/* FIELD: List container of sortable values */
#flexicontent ul.fcfield-sortables {
	display: inline-block;
	list-style: none !important;
	position: static;
	float: left;
	padding: 0% !important;
	margin: 0% !important;
	box-sizing: border-box;
	width: 100%;
}


/* FIELD: value containers */
/* 1. multiple-value (sortable) container, 2. single-value container */
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox,
#flexicontent div.fcfieldval_container.valuebox {
	clear: both;
	height: auto;
	position: relative;
	background: transparent;
	border: 0px solid lightgray;  /* better drag-n-drop ordering */
	margin: 0 0 4px 0;
	padding: 2px 4px 4px 4px;
	box-sizing: border-box;
	width: 100%;
	display: inline-block;
	float: left;
}

/* FIELD: multiple-value (sortable) container */
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox {
	list-style: none !important;
}
/* FIELD: multiple-value (sortable) container (not cleared) */
#flexicontent ul.fcfield-sortables > li.fcfieldval_container.valuebox.floated {
	clear: none;
	display: block;
	float: left;
	max-width: 100% !important;  /* Allow responsive width while floating */
	width: auto;
	box-sizing: border-box;
}
/* FIELD: single-value container */
#flexicontent div.fcfieldval_container.valuebox {
}

.toggle_all_values_buttons_box {
	display: block;
	margin: 0 0 6px 0;
}


/* FIELD: styling for input groups inside fields code */
#flexicontent .fcfieldval_container.valuebox .input-append,
#flexicontent .fcfieldval_container.valuebox .input-prepend {
	float: left;
	margin-bottom: 0px;
	margin-right: 10px;
}

/* FIELD: (multi-value / sortable) special cases alignment, etc */
/* multi-value handling buttons, todo make more specific */
#flexicontent ul.fcfield-sortables > li > * {
	vertical-align: top;
}
#flexicontent ul.fcfield-sortables > li > [class^="fcfield-"],
#flexicontent ul.fcfield-sortables > li > [class*=" fcfield-"] {
	cursor: pointer;
}

/* FIELD: (multi-value / sortable) having multi-property value displayed in a table */
#flexicontent ul.fcfield-sortables > li table.admintable {
	text-align: left;
	width: 100%;
}


/* FIELD: (sortable) value container while dragging */
#flexicontent ul.fcfield-sortables > li.ui-sortable-helper {
	background-color: white !important;
	border-radius: 4px;
	border: 1px solid #d0d0d0 !important;
	moz-box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}


/* FIELD: (sortable) currently having single value, disable drag handle */
#flexicontent ul.fcfield-sortables > li:only-child span.fcfield-drag-handle:not(.fcfont-icon) {
	background: url(../images/move3.png) 16px 4px no-repeat white;
}
#flexicontent ul.fcfield-sortables > li:only-child span.fcfield-drag-handle {
	cursor: default !important;
	color: #aaa;
}

/* FIELD: property label (multi-property fields) */
#flexicontent .fcfieldval_container.valuebox td > .flexi.label.prop_label {
	margin: 1px 8px 2px 0;
}

/* FIELD-GROUP: list container of sortable values */
#flexicontent ul.fcfield-sortables.fcfield-group {
	width: 100%;
}
/* FIELD-GROUP: value container (contains grouped fields) */
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox {
	border: 0px solid lightgray;  /* better drag-n-drop ordering */
	moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	border-radius: 2px;
	width: 100%;
	margin: 0 4px 16px 0;
	padding: 12px 0 12px 12px;
}
/* FIELD-GROUP: label of grouped field */
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .flexi.label.sub_label {
	box-sizing: border-box;
	max-width: 150px;
	width: 20%;
	padding: 4px 6px 4px 6px;
	margin: 1px 1% 2px 0;
	float: none;
	clear: none;
	display: inline-block;
	vertical-align: top;
	border-width: 0px !important;
}
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .flexi.label.sub_label.fc_tooltip_icon {
	padding: 4px 6px 4px 20px !important;
	background-image: url(../images/comment.png);
	background-position: 2px 2px;
	background-repeat: no-repeat;
}
/* FIELD-GROUP: value of grouped field */
#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
	box-sizing: border-box;
	border-width: 0;
	width: 78% !important;
	padding: 0px 0% 6px;
	margin: 0% !important;
	float: none !important;
	clear: none;
	display: inline-block;
}

@media only screen and (min-width: 2090px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 90% !important;
	}
}
@media only screen and (min-width: 1860px) and (max-width: 2090px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 89% !important;
	}
}
@media only screen and (min-width: 1720px) and (max-width: 1860px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 88% !important;
	}
}
@media only screen and (min-width: 1590px) and (max-width: 1720px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 87% !important;
	}
}
@media only screen and (min-width: 1490px) and (max-width: 1590px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 86% !important;
	}
}
@media only screen and (min-width: 1390px) and (max-width: 1490px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 85% !important;
	}
}
@media only screen and (min-width: 1310px) and (max-width: 1390px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 84% !important;
	}
}
@media only screen and (min-width: 1250px) and (max-width: 1310px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 83% !important;
	}
}
@media only screen and (min-width: 1190px) and (max-width: 1250px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 82% !important;
	}
}
@media only screen and (min-width: 1130px) and (max-width: 1190px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 81% !important;
	}
}
@media only screen and (min-width: 1100px) and (max-width: 1130px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 80% !important;
	}
}
@media only screen and (min-width: 1050px) and (max-width: 1100px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 79% !important;
	}
}
@media only screen and (max-width: 800px) {
	#flexicontent ul.fcfield-sortables.fcfield-group > li.fcfieldval_container.valuebox .fcfieldval_container.valuebox {
		width: 100% !important;
	}
}

/* FIELDs: various buttons */
#flexicontent span[class^="fcfield-"].fcfont-icon,
#flexicontent span[class*=" fcfield-"].fcfont-icon,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon {
	margin: 0px 0px 2px 0px;
}
#flexicontent span[class^="fcfield-"].fcfont-icon:before,
#flexicontent span[class*=" fcfield-"].fcfont-icon:before,
#flexicontent span[class^="fcfield-"].fcfont-icon:after,
#flexicontent span[class*=" fcfield-"].fcfont-icon:after,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon:before,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon:before,
#flexicontent ul.fcfield-sortables > li span[class^="fcfield-"].fcfont-icon:after,
#flexicontent ul.fcfield-sortables > li span[class*=" fcfield-"].fcfont-icon:after {
	margin: 0px 0px 2px 0px;
	background: none;
	font-family: "IcoMoon";
	font-style: normal;
	font-size: 14px;
	vertical-align: top;
}
#flexicontent .fcfield-expand-view,
#flexicontent .fcfield-drag-handle,
#flexicontent .fcfield-list-add,
#flexicontent .fcfield-list-del,
#flexicontent .fcfield-placement-h,
#flexicontent .fcfield-placement-v,
#flexicontent .fcfield-addvalue,
#flexicontent .fcfield-insertvalue,
#flexicontent .fcfield-delvalue,
#flexicontent .fcfield-button,
#flexicontent .fcfield-button-add a {
	padding: 4px 22px;
	line-height: 18px;
	min-height: 18px;
	cursor: pointer;
	
	background-color: white;
	background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#d0d0d0));
	background-image: -webkit-linear-gradient(top,white,#d0d0d0);
	background-image: -moz-linear-gradient(top,white,#d0d0d0);
	background-image: -ms-linear-gradient(top,white,#d0d0d0);
	background-image: -o-linear-gradient(top,white,#d0d0d0);
	background-image: linear-gradient(to bottom,white,#d0d0d0);
	/*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=#d0d0d0);*//*filter prevents background image in ie8/ie9*/
}

#flexicontent .fcfield-expand-view:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-drag-handle:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-list-add:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-list-del:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-placement-h:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-placement-v:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-addvalue:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-insertvalue:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-delvalue:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-button:not(.add-on):not(.input-group-addon),
#flexicontent .fcfield-button-add:not(.add-on):not(.input-group-addon) a {
	/* avoid overriding these */
	float: none;
	clear: none;
	display: inline-block;
	
	/* style these */
	color: #777;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
	vertical-align: top;
	margin: 0px 2px 0px 6px;
}

/* default hover styling which we make more specific below */
#flexicontent .fcfield-expand-view:hover,
#flexicontent .fcfield-drag-handle:hover,
#flexicontent .fcfield-list-add:hover,
#flexicontent .fcfield-list-del:hover,
#flexicontent .fcfield-placement-h:hover,
#flexicontent .fcfield-placement-v:hover,
#flexicontent .fcfield-addvalue:hover,
#flexicontent .fcfield-insertvalue:hover,
#flexicontent .fcfield-delvalue:hover,
#flexicontent .fcfield-button:hover,
#flexicontent .fcfield-button-add:hover a {
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#c0c0c0));
	background-image: -webkit-linear-gradient(top,#f0f0f0,#c0c0c0);
	background-image: -moz-linear-gradient(top,#f0f0f0,#c0c0c0);
	background-image: -ms-linear-gradient(top,#f0f0f0,#c0c0c0);
	background-image: -o-linear-gradient(top,#f0f0f0,#c0c0c0);
	background-image: linear-gradient(to bottom,#f0f0f0,#c0c0c0);
	/*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f0f0f0, endColorstr=#c0c0c0);*/
}
/* Override hover background color if not using font icons */
#flexicontent .fcfield-expand-view:not(.fcfont-icon):hover,
#flexicontent .fcfield-drag-handle:not(.fcfont-icon):hover,
#flexicontent .fcfield-list-add:not(.fcfont-icon):hover,
#flexicontent .fcfield-list-del:not(.fcfont-icon):hover,
#flexicontent .fcfield-placement-h:not(.fcfont-icon):hover,
#flexicontent .fcfield-placement-v:not(.fcfont-icon):hover,
#flexicontent .fcfield-addvalue:not(.fcfont-icon):hover,
#flexicontent .fcfield-insertvalue.fc_after:not(.fcfont-icon):hover,
#flexicontent .fcfield-insertvalue.fc_before:not(.fcfont-icon):hover,
#flexicontent .fcfield-delvalue:not(.fcfont-icon):hover,
#flexicontent .fcfield-button:not(.fcfont-icon):hover,
#flexicontent .fcfield-button-add:hover a:not(.fcfont-icon) {
	background-color: #e0e0e0;
}


/* FIELDs: ADD link container */
#flexicontent .fcfield-button-add {
	/* allow only explicitely coded override, since normally style must be done only at the inner link */
	vertical-align: top !important;
	float: none !important;
	margin: 0px !important;
	padding: 0px !important;
}
/* FIELDs: ADD link */
/* we do not want joomla template link styling here !!!, allow only explicitly coded override */
#flexicontent .fcfield-button-add a {
	padding: 6px 8px;
	margin: 0px 2px 0px 6px;
	text-decoration: none !important;
	background-color: white !important;
	color: gray !important;
}
#flexicontent .fcfield-button-add:hover a {
	background-color: darkgreen !important;
	color: white !important;
	border: 1px solid transparent !important;
}


/* FIELDs: ADD (append value) button */
#flexicontent input.fcfield-addvalue {
	padding: 5px 12px 6px;
	margin: 4px 2px 0px 6px;
}
#flexicontent span.fcfield-addvalue:not(.fcfont-icon) {
	margin: 0px 2px 6px 6px;
	padding: 6px 12px 6px 28px;
	background: url(../images/plus-button.png) 16px 4px no-repeat white;
}
#flexicontent span.fcfield-addvalue.fcfont-icon:before {
	padding: 0 6px 0 2px;
	content: "*";
}
#flexicontent span.fcfield-addvalue:before {
	color: LimeGreen;
}
#flexicontent .fcfield-addvalue.fccleared {
	clear: both !important;
	float: left !important;
}


/* FIELDs: add/del to/from list */
#flexicontent .fcfield-list-add,
#flexicontent .fcfield-list-del,
#flexicontent .fcfield-placement-h,
#flexicontent .fcfield-placement-v {
	margin: 0 4px 6px 0;
	padding: 16px;
}
#flexicontent .fcfield-placement-h {
	background: url(../images/arrow-resize.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-placement-v {
	background: url(../images/arrow-resize-090.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-placement-h.fc_toggle,
#flexicontent .fcfield-placement-v.fc_toggle {
	background: url(../images/arrow-in-out.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-add.fc_vertical {
	background: url(../images/list_add_v.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-del.fc_vertical {
	background: url(../images/list_del_v.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-add.fc_horizontal {
	background: url(../images/list_add_h.png) 8px 8px no-repeat white;
}
#flexicontent .fcfield-list-del.fc_horizontal {
	background: url(../images/list_del_h.png) 8px 8px no-repeat white;
}


/* FIELDs: Insert value button */
#flexicontent .fcfield-insertvalue:not(.fcfont-icon) {
	margin: 0px 0px 2px 0px;
	padding: 4px 16px;
	background: url(../images/plus-button.png) 16px 4px no-repeat white;
}
#flexicontent .fcfield-insertvalue.fc_after:not(.fcfont-icon) {
	background: url(../images/insert_after_180.png) 16px 4px no-repeat white;
}
#flexicontent .fcfield-insertvalue.fc_before:not(.fcfont-icon) {
	background: url(../images/insert_before_180.png) 16px 4px no-repeat white;
}
#flexicontent ul.fcfield-sortables > li span.fcfield-insertvalue.fc_after.fcfont-icon:before {
	content: "]";
}
#flexicontent ul.fcfield-sortables > li span.fcfield-insertvalue.fc_before.fcfont-icon:before {
	content: "\e207";
}
#flexicontent ul.fcfield-sortables > li span.fcfield-insertvalue.fc_after.fcfont-icon:after {
	content: " \6c";
}
#flexicontent ul.fcfield-sortables > li span.fcfield-insertvalue.fc_before.fcfont-icon:after {
	content: " ]";
}
#flexicontent span.fcfield-insertvalue:before,
#flexicontent span.fcfield-insertvalue:after {
	color: LimeGreen;
}

/* FIELDs: Maximize view space button */
#flexicontent .fcfield-expand-view:not(.fcfont-icon) {
	margin: 0px 0px 2px 0px;
	padding: 4px 16px;
	background: url(../images/arrow-in-out.png) 16px 4px no-repeat white;
}
#flexicontent ul.fcfield-sortables > li span.fcfield-expand-view.fcfont-icon:after {
	content: "h";
}
#flexicontent span.fcfield-expand-view:before {
	color: black;
}
#flexicontent ul.fcfield-sortables > li span.fcfield-expand-view.fcfont-icon:before {
	content: "<";
	color: black;
	font-size: 16px;
	padding: 0 8px 0 0;
	vertical-align: middle;
}



/* FIELDs: Delete value button */
#flexicontent .fcfield-delvalue:not(.fcfont-icon) {
	margin: 0px 0px 2px 0px;
	padding: 4px 16px;
	background: url(../images/delete.png) 16px 4px no-repeat white;
}
#flexicontent ul.fcfield-sortables > li span.fcfield-delvalue.fcfont-icon:before {
	content: "I";
}
#flexicontent span.fcfield-delvalue:before {
	color: FireBrick;
}


/* FIELDs: DRAG (sort) handle */
#flexicontent .fcfield-drag-handle:not(.fcfont-icon) {
	cursor: move;
	margin: 0px 0px 2px 0px;
	padding: 4px 16px;
	background: url(../images/move2.png) 16px 4px no-repeat white;
}
#flexicontent ul.fcfield-sortables > li span.fcfield-drag-handle.fcfont-icon:before {
	content: "z";
}

/* FIELDs: (image field) Empty image container */
div.empty_image {
	display: block;
	background: #F9F9F9 url(../images/image_add.png) no-repeat 50% 50%;
	border: 1px solid silver;
	margin-bottom: 3px;
	word-wrap: break-word;
}

/* FIELDs: (image field) image selection box  (DB-files) */
.fcimg_dbfile_tbl_outer {
}
table.fcimg_dbfile_tbl {
}

/* FIELDs: (image field) filename text */
.fcimg_preview_msg {
	font-family: Courier;
}

/* FIELDs: (image field) preview image container */
.fcimg_preview_box {
	float: left !important;
	clear: none !important;
	margin-right: 5px !important;
}
/* FIELDs: (image field) preview image */
.fcimg_preview_box img.preview_image {
	border-radius: 4px;
	border: 1px solid silver;
	float: left;
}


/* FIELDs: (file-based fields) */
#flexicontent .fc_filedata_title-lbl {
}
#flexicontent .fc_filedata_title {
}
#flexicontent .fc_filedata_txt.invalid {
	color: red;
	font-weight: normal;
}
#flexicontent .fc_filedata_txt_nowrap {
	padding: 0 11px;
}
#flexicontent .fc_filedata_txt {
	display: inline-block;
	border: 1px solid lightgray;
	box-sizing: border-box;
	border-radius: 0;
	min-height: 1.2em;
	padding: 4px 8px;
	margin: 2px 0 4px;
	min-width: 220px;
	width: 100%;
	background: #f0f0f0 none repeat scroll 0 0;
	color: #444;
	border-radius: 4px;
}
#flexicontent .fc_filedata_txt.file_unpublished {
	color: #888;
	text-decoration: line-through;
	opacity: 0.5;
	text-style: italic;
}
#flexicontent img.fc_preview_thumb {
	border: 1px solid silver;
	padding: 0;
	margin: 0px 4px 6px 0px;
	float: left;
	clear: both;
	border-radius: 4px;
}


#flexicontent .inlinefile-data * {
	vertical-align: top;
}
#flexicontent .fc_fileupload_box {
	position: relative;
	overflow: hidden;
	margin: 0px;
}
#flexicontent .fc_fileupload_box input.fc_filedata {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


/* FIELDs: (compatibility) ADD button used by some OLD fields */
.button-add a {
	display: inline-block;
	padding: 1px 8px;
	border: 1px solid #ccc;
	background: #efefef;
}
.button-add a,
.button-add a:visited,
.button-add a:link,
.button-add a:hover {
	color: black;
	text-decoration: none;
}


/* FIELDs: (compatibility) DRAG button used by some OLD fields */
#flexicontent .fcfield-drag {
	float: none !important; /* do not override breaks dragging */
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
#flexicontent .fcfield-drag img {
	margin: 0px 1px -3px 1px !important;
	padding: 4px;
	border: 1px solid lightgray;
	border-radius: 4px;
	cursor: move !important;
	float: none !important;
	display: inline !important;
	background-color: white;
}


/* FIELDs with data and preview (sharemedia, addressint, etc) */
/* force 100% width, if not having 'inlineval' class */
.fcfield_field_data_box table.fc-form-tbl .fcfield_textareaval:not(.inlineval),
.fcfield_field_data_box table.fc-form-tbl .fcfield_textval:not(.inlineval) {
	box-sizing: border-box !important;
	width: 100% !important;
}
.fcfield_field_data_box {
	float: left;
	min-width: 540px;
	width: unset;
	max-width: unset;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.fcfield_field_preview_box {
	table.fcfield_field_preview_table {
		width: 100%;
		border-collapse: collapse;
		padding: 0;
		margin: 0;
	}
	float: left;
	min-width: 50%;
	max-width: 800px;
	width: unset;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@media only screen and (min-width: 1400px) {
	.fcfield_field_data_dox {
		min-width: 580px;
	}
	.fcfield_field_preview_box {
		min-width: 52%;
		max-width: 52%;
	}
}
@media only screen and (min-width: 1320px) and (max-width: 1400px) {
	.fcfield_field_data_dox {
		min-width: 480px;
	}
	.fcfield_field_preview_box {
		min-width: 48%;
		max-width: 48%;
	}
}
@media only screen and (min-width: 1220px) and (max-width: 1320px) {
	.fcfield_field_data_dox {
		min-width: 480px;
	}
	.fcfield_field_preview_box {
		min-width: 42%;
		max-width: 42%;
	}
}
@media only screen and (max-width: 1220px) {
	.fcfield_field_data_dox {
		min-width: 100%;
	}
	.fcfield_field_preview_box {
		min-width: 100%;
		max-width: 100%;
	}
}

/* SPECCIFIC FIELDs CSS */

/* FIELDs: (date field) */
[class^="fcfield_timestamp_value"],
[class*="fcfield_timestamp_value"] {
	display: inline-block;
	min-width: 240px;
}
/* FIELDs: (addressint field), limit height of preview */
.fcfield_addressint_canvas_outer {
	width: 100%;
	min-width: 400px;
}
/* FIELDs: (sharedmedia field), limit height of preview */
iframe.sharedmedia {
	max-height: 420px;
}

/* FIELDs: (radioimage / checkboximage fields)*/
.fcfieldval_container.valuebox .fcfield_radiocheck_icon:before {
	font-size: 20px;
}
.fcfieldval_container.valuebox .fcfield_radiocheck_icon {
	font-size: 14px;
	line-height: 14px;
	height: 14px;
	width: 14px;
	margin-top: 6px;
}