.clearfix:before, .clearfix:after {
  content: "" !important;
  display: table !important;
}

.clearfix:after {clear: both !important;}

.clearfix {*zoom: 1 !important;}

.prettycheckbox,
.prettyradio {
    display: inline-block !important;
    padding:0 !important;
    margin:0 !important;
}

.prettycheckbox a,
.prettyradio a{
    width: 30px !important;
    height: 30px !important;
    background: url(prettyCheckable-blue.png) top left no-repeat !important;
    display: block !important;
    float: left !important;
    cursor: pointer !important;
    margin:0 !important;
}

.prettycheckbox.green a,
.prettyradio.green a{ background-image: url(prettyCheckable-green.png) !important;}

.prettycheckbox.red a,
.prettyradio.red a{ background-image: url(prettyCheckable-red.png) !important;}

.prettycheckbox.yellow a,
.prettyradio.yellow a{ background-image: url(prettyCheckable-yellow.png) !important;}

.prettyradio a {background-position: 0 -120px !important;}

.prettycheckbox a:focus,
.prettyradio a:focus {outline: 0 none !important;}

.prettycheckbox a:focus{background-position: 0 -30px !important;}
.prettyradio a:focus{background-position: 0 -150px !important;}

.prettycheckbox a.checked{ background-position: 0 -60px !important; }
.prettyradio a.checked { background-position: 0 -180px !important; }

.prettycheckbox a.checked:focus{ background-position: 0 -90px !important; }
.prettyradio a.checked:focus { background-position: 0 -210px !important; }

.prettycheckbox label,
.prettyradio label {
  display: block !important;
  float: left !important;
  margin: 6px 5px !important;
  cursor: pointer !important;
}

.prettycheckbox.disabled a,
.prettyradio.disabled a,
.prettycheckbox.disabled label,
.prettyradio.disabled label{
  cursor:not-allowed !important;
}

.prettycheckbox.disabled a {
  background-position: 0 -240px !important;
}

.prettyradio.disabled a {
  background-position: 0 -270px !important;
}


/*************************
 * FLEXIcontent forced CSS
 *************************/

.prettycheckbox.fcradiocheck label, .prettyradio.fcradiocheck label {
	margin: 7px 0px 0px 1px !important;
}

.prettycheckbox.fcradiocheckimage label, .prettyradio.fcradiocheckimage label {
	margin: 2px 0px 0px 1px !important;
}

.prettycheckbox.fcradiocheckimage, .prettyradio.fcradiocheckimage,
.prettycheckbox.fcradiocheck, .prettyradio.fcradiocheck {
	float:left !important;
	display:block !important;
	clear:none !important;
	margin:-6px 12px 0px -16px !important;
}

.prettyradio input, .prettycheckbox input {
	display:inline-block !important; visibility:hidden !important; float:left !important;
}
