@import 'include/config.less';


#flexicontent .fc_item_title {
	color: @FCI_title_color;
}
/*TAB color */
#flexicontent ul.tabbernav > li a {
    border: 1px solid @FCI_tab2_color;
    background-color: @FCI_tab1_color;
    background-image: -webkit-gradient(linear, left top, left bottom, from( @FCI_tab1_color ), to( @FCI_tab2_color ));
    background-image: -webkit-linear-gradient(top, @FCI_tab1_color , @FCI_tab2_color);
    background-image: -moz-linear-gradient(top, @FCI_tab1_color , @FCI_tab2_color) ;
    background-image: -ms-linear-gradient(top, @FCI_tab1_color , @FCI_tab2_color );
    background-image: -o-linear-gradient(top, @FCI_tab1_color , @FCI_tab2_color );
    background-image: linear-gradient(to bottom, @FCI_tab1_color , @FCI_tab2_color );
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr= @FCI_tab1_color , endColorstr= @FCI_tab2_color );
    color: @FCI_tab_text_color;
}
#flexicontent ul.tabbernav > li.tabberactive a::before {
    border-top: 4px solid @FCI_tab2_color;
}
#flexicontent ul.tabbernav > li.tabberactive a, #flexicontent ul.tabbernav > li.tabberactive a:hover{
    background-color: @FCI_tab2_color;
}
#flexicontent ul.tabbernav > li:hover a {
    border: 1px solid darken(@FCI_tab2_color, 20%);
    background-color: darken(@FCI_tab1_color, 20%);
    background-image: -webkit-gradient(linear, left top, left bottom, from( darken(@FCI_tab1_color, 20%) ), to( darken(@FCI_tab2_color, 20%) ));
    background-image: -webkit-linear-gradient(top, darken(@FCI_tab1_color, 20%) , darken(@FCI_tab2_color, 20%));
    background-image: -moz-linear-gradient(top, darken(@FCI_tab1_color, 20%) , darken(@FCI_tab2_color, 20%)) ;
    background-image: -ms-linear-gradient(top, darken(@FCI_tab1_color, 20%) , darken(@FCI_tab2_color, 20%) );
    background-image: -o-linear-gradient(top, darken(@FCI_tab1_color, 20%) , darken(@FCI_tab2_color, 20%) );
    background-image: linear-gradient(to bottom, darken(@FCI_tab1_color, 20%) , darken(@FCI_tab2_color, 20%) );
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr= darken(@FCI_tab1_color, 20%) , endColorstr= darken(@FCI_tab2_color, 20%) );
    color: @FCI_tab_text_color;
}


/* Items-Tabbed Theme : category template CSS file */

.flexi.lineinfo {
	display: block;
	padding: 0;
	margin: 0 0 1em;
	overflow: hidden;
	clear: both;
}

.flexi.subtitle1 {}
.flexi.subtitle2 {}
.flexi.subtitle3 {}

.tabbertab .flexi.element,
.subtitle1 .flexi.element,
.subtitle2 .flexi.element,
.subtitle3 .flexi.element {
	clear: none;
	display: block;
	float: left;
	max-width: 96% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
	margin: 0.5em 2% 0.5em 2% !important;
}


/* topblock: Field block styling */
.flexi.topblock {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}
.topblock .flexi.image {
	display: block;
	float: left;
	max-width: 99% !important;  /* Allow responsive width while floating */
	padding: 0% !important;  /* Allow responsive width while floating */
	margin-right: 1%;
	margin-left: 0%;
	line-height: 0px;
	border: 0px solid silver;
}
.topblock .flexi.image a {
	outline: none;
}
.topblock .flexi.image img {
	border: 1px solid white;
}
.topblock .flexi.infoblock {
	overflow: hidden;
}


/* infoblock: Field block styling */
.flexi.infoblock {
	border: 1px solid silver;
	margin: 0 0 10px;
	padding: 10px;
}
.infoblock ul.flexi {
	margin: 0 !important;
	padding: 0 !important;
}
.infoblock ul li.flexi {
	padding: 0;
	background: none;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0%;
	zoom: 1;
}


/* Field values into 1 column */
.onecols ul li.flexi {
	width: 100%;
}
.onecols .flexi.label {
	min-width: 20%;
	margin-right: 4%;
	margin-bottom: 6px;
}
.onecols .flexi.value {
	min-width: 74%;
	margin-right: 1%;
}


/* Field values into 2 columns */
.twocols ul li.flexi {
	min-width: 48%;
}
.twocols .flexi.label {
	min-width: 34%;
	margin-right: 6%;
	margin-bottom: 6px;
}
.twocols .flexi.value {
	min-width: 58%;
	margin-right: 1%;
}

.fc_item_seperator {
	clear: both;
	margin-bottom: 24px;
	width: 100%;
}

/* =============================================
   Bootstrap adjustments
============================================= */
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top: 0;
	margin-bottom: 0;
}

/* ===============================================
   "micro" clearfix 
   http://nicolasgallagher.com/micro-clearfix-hack/
   =============================================== */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.group:before,
.group:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.group:after {
	clear: both;
}

