body #flexicontent .fc_item_title,
body #flexicontent .fc_item_title a {
	color: #d62b2b;
	background-color: #170808;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 20px;
	border-radius: 7px;
}
.fcitems {
	background-color: #942121;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
	border-radius: 5px;
	border: 7px ridge #b34141;
	color: #1bd4c8;
}
body #flexicontent .flexi.label,
body #flexicontent .desc-title.label {
	background-color: #4a1616;
	color: #ffffff;
	border-radius: 7px;
	padding-top: 2px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 2px;
}
body #flexicontent .customblock.beforedescription.group {
	background-color: #3acf14;
	padding-top: 50px !important;
	padding-right: 7px !important;
	padding-left: 5px !important;
	padding-bottom: 4px !important;
	color: #522828;
	border-radius: 7px;
	border: 8px groove #bf8b8b;
	margin-top: 0px !important;
	margin-right: 20px !important;
	margin-left: 20px !important;
	margin-bottom: 0px !important;
}
body #flexicontent .description.group {
	background-color: #f7f4f4;
	padding-top: 20px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	padding-bottom: 20px !important;
	color: #1041ad;
	border-radius: 7px;
	border: 10px dotted #613b3b;
	margin-top: 20px !important;
	margin-right: 8px !important;
	margin-left: 8px !important;
	margin-bottom: 20px !important;
}
body #flexicontent .customblock.afterdescription.group {
	background-color: #693b3b;
	padding-top: 20px !important;
	padding-right: 3px !important;
	padding-left: 4px !important;
	padding-bottom: 10px !important;
	color: #f0f0f0;
	border-radius: 7px;
	border: 3px dashed #b35959;
	margin-top: 5px !important;
	margin-right: 8px !important;
	margin-left: 7px !important;
	margin-bottom: 6px !important;
}
.iteminfo .createdline,
.iteminfo .modifiedline {
	font-size: 90%;
	display: block;
}
.iteminfo .createdby,
.iteminfo .modifiedby {
	font-size: 90%;
	font-weight: normal;
	display: inline-block;
}
.iteminfo .created,
.iteminfo .modified {
	font-size: 90%;
	font-weight: bold;
	display: inline-block;
}
.itemactions,
.iteminfo,
.itemadditionnal,
.description {
	margin: 1em 0 1em 0;
}
.iteminfo {
	margin: 1em 0 1em 0.4em;
}
.description {
	clear: both;
}
.itemactions span {
	margin: 0 0 0.5em;
}
.itemactions .voting,
.itemactions .favourites {
	margin-right: 32px;
	float: left;
}
.itemadditionnal span {
	margin: 0 0 0.3em;
}
.itemadditionnal .categories {
	display: block;
}
.itemadditionnal .tags {
	display: block;
}
.customblock {
	width: 98% !important;
	padding: 2px 1% !important;
	margin: 8px 0px !important;
	display: block;
	float: left;
	border: 1px solid #dddddd;
	border-radius: 4px;
}
.customblock .element {
	max-width: 100% !important;
	min-width: 50% !important;
	padding: 3px 0% 3px 0% !important;
	margin: 0% !important;
	display: block;
	float: left;
	border-width: 0%;
}
.customblock .element.singlecol {
	width: 100% !important;
	padding: 0% !important;
}
.customblock .element.doublecol {
	width: 48% !important;
	overflow: hidden;
}
.customblock .flexi.value.nolabel {
	width: 100% !important;
}
.group {
	overflow: auto !important;
}
