//J4 DEfault vaiables (Can remove)
:root {
	--card-bg: rgba(255, 255, 255, 0.7);
	--bluegray: #b2bfcd;
	--lightbluegray: #f6f9fc;
	--toolbar-bg: #fff;
	--success-border: var(--success);
	--info-border: var(--info);
	--warning-border: var(--warning);
	--danger-border: var(--danger);
	--login-main-bg: #0b1c32;
	--border: #cdcdcd;
	--white: #fff;
	--white-offset: #fefefe;
	--focus: #39f;
	--focus-shadow: #eaeaea;
	--toggle-color: #fff;
	--gray-100: #f8f9fa;
	--gray-200: #e8e8e8;
	--gray-300: #dee2e6;
	--gray-400: #cdcdcd;
	--gray-500: #adb5bd;
	--gray-600: #666e76;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;
	--primary: #132f53;
	--secondary: #495057;
	--success: #457d54;
	--info: #2a69b8;
	--warning: #ffb514;
	--danger: #c52827;
	--light: #f8f9fa;
	--dark: #212529;
	--action: #132f53;
	--error: #3b0d0c;
	--alert-success: #0f2f21;
	--primary-rgb: 19, 47, 83;
	--secondary-rgb: 73, 80, 87;
	--success-rgb: 69, 125, 84;
	--info-rgb: 42, 105, 184;
	--warning-rgb: 255, 181, 20;
	--danger-rgb: 197, 40, 39;
	--light-rgb: 248, 249, 250;
	--dark-rgb: 33, 37, 41;
	--action-rgb: 19, 47, 83;
	--error-rgb: 59, 13, 12;
	--alert-success-rgb: 15, 47, 33;
	--white-rgb: 255, 255, 255;
	--black-rgb: 0, 0, 0;
	--body-color-rgb: 33, 37, 41;
	--body-bg-rgb: 255, 255, 255;
	--font-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
	--body-font-family: var(--font-sans-serif);
	--body-font-size: 1rem;
	--body-font-weight: 400;
	--body-line-height: 1.5;
	--body-color: #212529;
	--body-bg: #fff;
	--border-width: 1px;
	--border-style: solid;
	--border-color: #dee2e6;
	--border-color-translucent: rgba(0, 0, 0, 0.175);
	--border-radius: 0.25rem;
	--border-radius-sm: 0.2rem;
	--border-radius-lg: 0.3rem;
	--border-radius-xl: 0.3rem;
	--border-radius-2xl: 0.3rem;
	--border-radius-pill: 50rem;
	--link-color: var(--template-link-color);
	--link-hover-color: var(--template-link-hover-color);
	--code-color: #971250;
	--highlight-bg: #fff0d0;
}

/* + BASELINE GRID (doesn't work with chrome mobile 100%)
	======================================================================*/
	.bgrid {
		position: relative;
	}
	
	.bgrid::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		pointer-events: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		top: 0;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 119, 179, 0.2) 1px, transparent 1px);
		background-size: 100% calc(var(--body-font-size) * var(--body-line-height));
	}
	
//FLEXIContent
:root {
	--box-shadow: 0 2px 3px var(--gray-200);
	--cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--dash-color: hsl(var(--hue), 30%, 40%);
	--sp-1: 0.75rem; //12px
	--sp-2: 1.5rem; //24px calc(var(--body-font-size) * var(--body-line-height)
}

#flexicontent {
	margin-bottom: 240px; //*** needed because of Joomla's bottom info bar overlaping the content	
}


.badge-success {
	background: var(--success);
}

.badge-warning {
	background: var(--warning);
}

.badge-info {
	background: var(--info);
}

.badge-danger {
	background: var(--danger);
}

/* vertical form */
#flexicontent {
	.control-group {
		&.fc_vertical {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
				-ms-flex-direction: column;
					flex-direction: column;
	
					.label-fcinner {
						text-align: left;
						width: auto;
					}
		}
	}
}




.accordion-item {
	overflow: hidden;
}



// ***
// *** HEADER ICONS
// ***

.fc-layout-params-icon:before {
	color: var(--white);
}

.fc-rss-params-icon:before {
	color: var(--success);
}

/*.fc-display-params-icon:before {
	color: darkorange !important;
}*/

[class^="fcsb-icon-"],
[class*=" fcsb-icon-"] {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	width: 20px;
	margin-right: 9px !important;
	font-size: 16px;
}

[class^="fcsb-icon-"]:before,
[class*=" fcsb-icon-"]:before {
	font-family: "IcoMoon";
	font-style: normal;
}

.disabled[class^="fcsb-icon-"],
.disabled[class*=" fcsb-icon-"] {
	font-weight: normal;
	color: #aaa;
}

/*.fcsb-icon-items:before,*/
.icon-items:before {
	content: "\e242";
}

.icon-itemedit:before,
.icon-itemadd:before {
	content: "\2c";
}

/*.fcsb-icon-reviews:before,*/
.icon-reviews:before,
icon-reviewadd:before,
.icon-reviewedit:before {
	content: "%";
}

/*.fcsb-icon-types:before,*/
.icon-types:before,
icon-typeadd:before,
.icon-typeedit:before {
	content: "\e243";
}

/*.fcsb-icon-fc_categories:before,*/
.icon-fc_categories:before,
.icon-fc_categoryadd:before,
.icon-fc_categoryedit:before {
	content: "\2d";
}

/*.fcsb-icon-fields:before,*/
.icon-fields:before,
.icon-fieldadd:before,
.icon-fieldedit:before {
	content: "\e230";
}

/*.fcsb-icon-tags:before,*/
.icon-tags:before {
	content: "\e264";
}

.icon-tagadd:before,
.icon-tagedit:before {
	content: "\e262";
}

/*.fcsb-icon-templates:before,*/
.icon-templates:before {
	content: "\3c";
}

/*.fcsb-icon-authors:before,*/
.icon-authors:before {
	content: "\e01f";
}

/*.fcsb-icon-users:before,*/
.icon-authoredit:before,
.icon-authoradd:before {
	content: "\22";
}

/*.fcsb-icon-groups:before,*/
.icon-groups:before,
.icon-groupedit:before,
.icon-groupadd:before {
	content: "\e01f";
}

/*.fcsb-icon-filemanager:before,*/
.icon-files:before {
	content: "\30";
}

.icon-fileedit:before,
.icon-fileadd:before {
	content: "\e239";
}

/*.fcsb-icon-search:before,*/
.icon-searchtext:before {
	content: "\53";
}

/*.fcsb-icon-stats:before,*/
.icon-stats:before {
	content: "\75";
}

/*.fcsb-icon-comments:before {
	content: "\25";
}
.fcsb-icon-plugins:before {
	content: "2";
}
.fcsb-icon-translations:before {
	content: "5";
}*/

.icon-test:before {
	content: "l";
	color: var(--success);
	font-weight: bold;
}

.icon-savenew:before {
	content: "\5d";
	color: var(--success);
}

.icon-32-delete:before,
.icon-32-trash:before {
	content: "\4c";
}

.icon-copy_wvalues:before,
.icon-params:before {
	content: "\e018";
	color: var(--success);
}

/*.fcsb-icon-archive:before,*/
.icon-32-archive:before {
	content: "\50";
}

/*.fcsb-icon-wrench:before {
	content: ":";
}*/
/*.fcsb-icon-import:before {
	content: "\e022";
}*/
.icon-import:before {
	content: "\e022";
	color: var(--success);
}

.icon-32-restore:before {
	content: "\6c";
}

.icon-translate:before {
	content: "\25";
}

.icon-32-basicindex:before,
.icon-32-advindex:before {
	content: "S";
}

.icon-32-basicfilter:before,
.icon-32-advfilter:before {
	content: "T";
}

.icon-basicindex:before,
.icon-advindex:before,
.icon-advindexdirty:before {
	content: "\e001";
}

.icon-language:before {
	content: "\35";
}

@media (min-width: 1020px) {

	#fctoolbar-copy,
	#fctoolbar-maintenance-btns-group,
	#fctoolbar-download,
	#toolbar-copy,
	#toolbar-maintenance-btns-group,
	#toolbar-download {
		margin-left: 32px;
	}
}

#fctoolbar .dropdown-menu,
#toolbar .dropdown-menu {
	span.icon-lock {}

	span.icon-upload {
		color: var(--alert-success);
	}

	span.icon-loop {}

	span.icon-download {
		color: var(--action);
	}

	span.icon-box-add {
		color: var(--action);
	}

	span.icon-upload {
		color: var(--alert-success);
	}
}

.flexicontent #adminForm a.saveorder {
	float: none !important;
	vertical-align: middle !important;
	display: inline-block !important;
	margin: 0;
}

.flexicontent #adminForm .fc_drag_handle_none,
.flexicontent #adminForm .fc_drag_handle {
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}


html body#minwidth-body {
	min-width: 760px;
}


// ***
// *** Sortable rows handles
// ***

.flexicontent .fc_drag_handle_none,
.flexicontent .fc_drag_handle {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0;
	padding: 0;
}

.flexicontent .fc_drag_handle {
	cursor: move;
}

.flexicontent .fc_drag_handle_none {
	background: url(../images/move2_none.png) 0% 0% no-repeat transparent;
}

.flexicontent .fc_drag_handle.fc_drag_handle_disabled {
	background: url(../images/move3.png) 0% 0% no-repeat transparent;
	cursor: auto;
}

.flexicontent .fc_drag_handle.fc_drag_handle_both {
	background: url(../images/move2.png) 0% 0% no-repeat transparent;
}

.flexicontent .fc_drag_handle.fc_drag_handle_uponly {
	background: url(../images/move2_uponly.png) 0% 0% no-repeat transparent;
}

.flexicontent .fc_drag_handle.fc_drag_handle_downonly {
	background: url(../images/move2_downonly.png) 0% 0% no-repeat transparent;
}



// ***
// *** FLEXIcontent Dashboard
// ***

/* dashboard buttons container / dashboard sliders / dashboard credits container */
// div#fc-dash-boardbtns,
// div#fc-dash-sliders,
// div#fc-dash-credits {
// 	float: left;
// 	clear: both;
// }

// div#fc-dash-boardbtns {
// 	padding: 0 0;
// 	clear: both;
// 	margin-bottom: var(--sp-1);
// }
// div#fc-dash-credits {
// 	margin: var(--sp-2) 0 var(--sp-1) 0;
// }
div#fc-dash-credits .fc-board-set-inner {
	text-align: left;
}

// div#fc-dash-credits #fc-dash-logo {
// 	display: inline-block;
// 	padding: 2px;
// 	float: left;
// 	margin: 4px 16px 16px 0 !important;
// }
// div#fc-dash-credits #fc-dash-license {
// 	margin: 4px 16px 0 0 !important;
// 	padding: 22px 32px !important;
// 	max-width: inherit;
// }
// div#fc-dash-credits #fc-dash-devs {
// 	display: inline-flex;
// }
// div#fc-dash-credits #fc-dash-devs > .fc-mssg-inline {
// 	vertical-align: top;
// 	margin: 0 var(--sp-2) var(--sp-1) 0 !important;
// 	padding: 0 !important;
// }
// div#fc-dash-credits #fc-dash-devs .label {
// 	margin: 2px 0;
// }



// div#fc-dash-sliders .panel .title {
// 	padding: 8px;
// }


// Dashboard button SET (a fieldset)

#flexicontent {

	//OUTER
	fieldset.fc-board-set {
		border: 0;
		margin: 0 var(--sp-2) var(--sp-1) 0;
		padding: 0;
	}

	// Dashboard button SET title (a fieldset legend)

	.fc-board-header {
		display: flex;
		padding: 1rem 0 0;
		font-weight: 500;
		color: var(--template-bg-dark);
	}


	.fc-board-set-inner {
		position: relative;
		margin: 0;
		padding: var(--sp-1) 0 0 0;
		border-top: 1px solid var(--border-color);

		display: flex;
		flex-wrap: wrap;
		gap: var(--sp-1);
	}



	.fc-board-button {
		display: flex;
		flex: 0 0 calc(50% - (var(--sp-2)/2));


		@media (min-width: 640px) {
		flex: 0 0 auto;
		width: calc(25% - (var(--sp-2)/2));
		}

		/* Don't need this class in the template */
		.fc-board-button-inner {
			width: 100%;
			display: flex;
		}

		// button
		a {

			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
			height: 100%;
			align-items: center;

			//STYLE 
			color: var(--dash-color);
			background-color: var(--card-bg);
			border: 1px solid var(--border-color);
			border-radius: calc(var(--border-radius-2xl) * 2);
			transition: all .25s ease;
			box-shadow: var(--box-shadow);	
			
			.fc-dashboard-icon {
				font-size: 2.2rem;
				margin: var(--sp-2) var(--sp-1) var(--sp-1);
				padding: 0;
				width: 2.2rem;
				height: 2.2rem;
				display: flex;
				flex-wrap: wrap;
				align-content:flex-start;
				justify-content: space-around;
			}

			.fc-board-btn-text {
						font-weight: 500;
						margin: 0 var(--sp-1) var(--sp-2);		

		font-size: 95%;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-around;
		height: 100%;

		@media (min-width: 1200px) {
			font-size: 100%;
		}



		&.fcdisabled {
			color: var(--btn-disabled-color);
			font-style: italic;
		}

			}



			&:hover {
				box-shadow:var(--border-color) 0 0 2px 0, var(--gray-100) 0 6px var(--sp-1) -2px;
				opacity: 0.9;
				.fc-board-btn-text {
					color: var(--link-hover-color);
				}
			}
		}
	}

	.fc-board-button_sep {
		display: none !important;
	}

	//Last row add space

	#fc-dash-boardbtns {
		fieldset.fc-board-set:last-of-type {
			margin-bottom: var(--sp-2);

			@media (min-width: 1200px) {
			margin-bottom: calc(var(--sp-2) * 2);
			}
		}
	}
}

#fc-dash-sliders {
	padding: 0 0;
	width: 100%;
	clear: both;
	margin-bottom: var(--sp-1);
	background: var(--white);

	.accordion-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	  
		> .badge {
		  position: absolute;
		  right: calc(var(--accordion-btn-padding-x) + 30px);
		}
	  }
	  
	table {
		tr {
			td, th {
				font-size: .8rem;
				text-align: right;
			}
			td {
				color: var(--gray-600);
			}
			th {
				color: var(--gray-600);
			}
			td:first-child, th:first-child {
				font-size: 100%;
				padding-left: 0;
				text-align: left;
				color: var(--body-color);

				a {
					text-decoration: none;
				}
			}

			td:last-child, th:last-child {
				
				padding-right: 0;
			}
		}
	}

}


//VERSION CHECKING
#displayfversion {
	.col-4 {
		color: var(--body-color);
	}

	.col-8 {
		color: var(--gray-600);
	}
	a {
		text-decoration: none;
	}
}

//PHP Requirements
#fc-dash-sliders-requirements {
 .alert {
	max-width: 640px;
 }
}


//HIDE 
#wrapper.open, #wrapper.open.closed {
	#fc-dash-sliders {
		small {
			display: none !important;
		}
	}
}

.fc-board-set-inner {}

// div#fc-dash-sliders table.table {
// 	width: unset;
// 	margin: 8px 32px;
// }



// Individual titles of dashboard button SETs, currently not added to the code

.fc-board-header-content-editing {}

.fc-board-header-type-fields {}

.fc-board-header-content-viewing {}

.fc-board-header-users {}

.fc-board-header-expert {}

.fc-board-header-update-check {}



// ***
// *** Dashboard button separator
// ***

// div#fc-dash-boardbtns .fc-board-button_sep {


// 	margin: 0;
// 	padding: 0;
// 	/* font-weight: bold; */
// 	width: 0;
// 	height: 0;
// 	border-left: 0;
// 	display: flex;


// 	@media (min-width: 1200px) {
// 		margin: 0 var(--sp-1) var(--sp-1) 0;
// 		padding: 0;
// 		font-weight: bold;
// 		width: 0;
// 		height: 100px;
// 		border-left: 1px dashed var(--border-color);
// 		display: inline-block;
// 		vertical-align: top;
// 	}

// }




// ***
// *** Dashboard button
// ***
// div#fc-dash-boardbtns .fc-board-button {
// 	margin: 0 var(--sp-1) var(--sp-1) 0;
// 	padding: 0;
// 	font-weight: normal;
// 	width: 100px;
// 	@media screen and (min-width: 740px) {
// 	width: 118px;
// 	}
// 	min-height: 100px;
// 	text-align: center;
// 	background-color: var(--card-bg);
// 	border: 1px solid var(--border-color);
// 	color: #444;
// 	box-shadow: var(--box-shadow);
// 	transition: all .25s ease;
// 	display: inline-block;
// 	vertical-align: top;
// 	border-radius: calc(var(--border-radius-2xl) * 2);
// 	opacity: 1;
// 	transition: opacity 0.3s var(--cubic), box-shadow 0.3s var(--cubic);

// 	/* Inner container of dashboard button (of extra styling choices) */
// 	.fc-board-button-inner {
// 		display: inline-block;
// 		width: 100%;
// 		height: 100%;
// 		padding: 0;
// 		margin: 0;

// 		.fc-dashboard-icon {
// 			font-size: 2.2rem;
// 			margin: 0;
// 			padding: 0;
// 			width: 2.2rem;
// 			height: 2.2rem;
// 		}
// 	}

// 	// Dashboard button (inner) LINK, (contains the button image and the button text
// 	a {
// 		text-decoration: none;
// 		display: inline-block;
// 		width: 100%;
// 		height: 100%;
// 		padding: 25% 0 0 0;
// 		margin: 0;
// 		color: var(--dash-color);
// 		&:hover {
// 			.fc-board-btn-text {
// 				color: var(--link-hover-color);
// 			}
// 		}
// 	}


// 	// TEXT
// 	.fc-board-btn-text {
// 		font-weight: 500;
// 		width: 100%;
// 		padding: 2px 0%;
// 		min-height: 48px;
// 		margin: 0;
// 		font-size: 0.8rem;
// 		display: flex;
// 		flex-wrap: wrap;
// 		align-content: center;
// 		justify-content: space-around;

// 		&.fcdisabled {
// 			color: var(--btn-disabled-color);
// 			font-style: italic;
// 		}
// 	}
// 	&:last-of-type {
// 		margin-right: 0;
// 	}

// 	&:hover {	
// 		 box-shadow:var(--border-color) 0 0 2px 0, var(--gray-100) 0 6px var(--sp-1) -2px;
// 		 opacity: 0.9;
// 	}
// }




// Dashboard button image and text

// div#fc-dash-boardbtns .fc-board-button .fc-board-btn-img {
// 	width: 32px;
// 	margin: 0 auto;
// 	float: none;
// }

.fc_sidebar_entry.disabled {
	color: var(--btn-disabled-color);
	font-style: normal;
}




// ***
// *** FLEXIcontent Layout editor
// ***

.code_box {
	width: 100%;
	margin-bottom: 8px;
}

.code_box>.btn {
	min-width: 300px;
	text-align: left;
}



// ***
// *** Import view
// ***

#flexicontent table label.fckey {
	display: inline-block;
	float: none !important;
	width: 82%;
	padding: 6px 6% !important;
	margin: 1px 6% 0 1px;
}

.fcimport_sampleline {
	font-size: var(--sp-1);
	line-height: 1.6em;
	display: inline-block;
	margin-top: 4px;
}

.fcimport_missingfile {
	background: url(../images/warning.png) 0 0 no-repeat;
	padding: 2px 0 2px 20px;
	color: var(--danger);
}

ol.fcimport_field_value_list {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
}

ul.fcimport_field_value_list {
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
}

dl.fcimport_field_prop_list.fcimport_field_prop_mainlist dt {
	text-align: right;
	width: auto;
	clear: none;
}

dl.fcimport_field_prop_list.fcimport_field_prop_mainlist dd {
	float: left;
	margin-right: 48px;
}

dl.fcimport_field_prop_list {
	border: 0 solid;
	margin: 0;
	padding: 0;
}

dl.fcimport_field_prop_list>dt {
	float: left;
	clear: left;
	width: auto;
	text-align: left;
	font-weight: bold;
	color: var(--success);
	margin-right: 6px;
}

dl.fcimport_field_prop_list>dt:after {
	content: ":";
}

dl.fcimport_field_prop_list>dd {
	margin: 0;
	padding: 0;
}

ol.fcimport_field_value_list {
	margin-left: 1.5em;
	padding-left: 0;
}

ul.fcimport_field_value_list {
	margin-left: 0em;
	padding-left: 0.2em;
	margin-bottom: 0;
}

ul.fcimport_field_value_list li {
	background: url(../images/readon.gif) 0% 50% no-repeat transparent;
	padding-left: 16px;
	list-style: none;
}

ul.fcimport_field_value_list li:first-child {
	border-top: 0 dashed;
	width: 100%;
}

ul.fcimport_field_value_list li {
	border-top: 1px dashed lightgray;
	float: left;
	clear: both;
}

ol.fcimport_field_value_list li,
ul.fcimport_field_value_list li {
	margin-bottom: 0em;
}

.fcimport_field_value_list ol li {
	list-style: decimal;
	background-image: none;
	padding-left: 0em;
}



// ***
// *** TASK SCREENS: e.g. post install screen
// ***

table.postinstall-tbl td .install-task {
	display: inline-block;
	min-height: var(--sp-2);
}

table.postinstall-tbl td .fc_button.fc_simple {
	margin: 0 16px;
	padding: 0 var(--sp-2);
}

table.postinstall-tbl td .ajax-loader {
	background: url("../images/ajax-loader.gif") no-repeat scroll center center transparent;
	width: 16px;
	height: var(--sp-2);
	display: inline-block;
	vertical-align: middle;
	padding: 0;
}


// Copy parameters

.copyok {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}

.copyfailed {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}

.copywarn {
	background: url(../images/warning.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
	margin: 5px 15px;
}


// Task result

.install-ok {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 0;
	margin: 0;
	width: 20px;
	height: var(--sp-2);
	display: inline-block;
	vertical-align: middle;
}

.install-notok {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 0;
	margin: 0;
	width: 20px;
	height: var(--sp-2);
	display: inline-block;
	vertical-align: middle;
}



// ***
// *** Import screen
// ***

#import-log {
	margin: 10px 10px 15px 10px;
	font-size: var(--sp-1);
	line-height: 140%;
	white-space: normal;
}

.alert-modalbox {
	display: block;
	margin: 0 0 15px 0 !important;
	padding: 8px 10px 8px 36px !important;

	border: thin solid !important;
	border-radius: var(--border-radius) !important;
	border-color: var(--danger-border) !important;

	background: var(--body-bg) url(../images/error.png) no-repeat 10px 50%;
	color: var(--body-color) !important;
}

.alert-modalbox-title {
	display: block;
	margin: 5px 0;
	font-weight: bold;
}

.centerimg {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	height: 30px;
}

.spinner {
	display: block;
	margin-top: 20px;
	margin-bottom: 0;
	padding: 0;
	height: 30px;
}

.lang-success {
	color: var(--success);
	font-weight: bold;
}

.lang-fail {
	color: var(--danger);
	font-weight: bold;
}

#missing {
	display: none;
}

.button-close {
	text-align: center;
	margin: 20px 0;
	padding: 0;
}

ul.import-ok,
ul.import-failed {
	list-style: none;
	margin: 5px 0 10px;
	padding: 0 0 0 10px;
}

ul.import-ok li {
	background: url(../images/accept.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}

ul.import-failed li {
	background: url(../images/delete.png) 0% 50% no-repeat transparent;
	padding: 1px 0 1px 20px;
}



// ***
// *** Backend listings
// ***

// Some defaults for icons inside backend lists

.fc-man-icon-s {
	float: none;
	min-width: 16px;
}

img.btn.btn-small.fc-man-icon-s {
	border-radius: 3px;
}

.btn.btn-micro.fc-man-icon-s {
	border-radius: 3px;
	padding: 2px;
}

.flexicontent .fcmanlist {
	.btn.btn-small img.fc-man-icon-s {
		float: left;
	}

	.btn.btn-small.fc-preview-btn img.fc-man-icon-s {
		margin-top: 1px;
		margin-bottom: -1px;
	}

	.btn.btn-small.fc-edit-layout-btn img.fc-man-icon-s,
	.btn.btn-small.fc-rss-list-btn img.fc-man-icon-s {}

	th :not(.btn-group)>[class^="icon-"],
	th :not(.btn-group)>[class*="icon-"] {
		font-size: 14px;
	}

	.col_template,
	.col_alias {}

	// Some defaults for buttons inside backend lists

	:not(.btn-group)>.btn.btn-small {
		padding: 3px 4px 1px 4px !important;
		font-size: 14px;
	}

	:not(.btn-group)>.btn.btn-micro {
		padding: 1px 1px 1px 1px;
		font-size: var(--sp-1);
	}

	:not(.btn-group)>.btn.btn-mini {
		padding: 1px 1px 0 2px;
		font-size: 10px;
	}

	.btn.btn-small.fc-assignments-btn {
		min-width: 50px;
		box-sizing: border-box;
	}
}

// Last option not shown due to overlayed toolbar at the bottom
body .j-sidebar-container {
	padding-bottom: 36px;
}

body .popover {
	max-width: 500px !important;
	min-width: 400px !important;
}


/* Associations state and staleness , etc*/
body div .fc_assoc_ispublished {
	background-color: darkgreen;
}

body div .fc_assoc_isinprogress {
	background-color: darkcyan;
}

body div .fc_assoc_isunpublished {
	background-color: #555555;
}

body div .fc_assoc_isstale {
	opacity: 0.5;

	span {
		color: white;
	}
}

body div .fc_assoc_isuptodate {
	opacity: 1;

	span {
		color: white;
	}
}