
/**************
 * Small labels
 **************/
 
.label, .badge, .flexicontent label.label {
	margin: 0px 2px 2px 4px !important;
}
.label.highlight, .badge.highlight {
	color: darkred;
}



/*********************************************
 * JCE EDITOR FIXES (most frontend templates?) 
 *********************************************/

#flexicontent #editor-xtd-buttons .button2-left {
	margin:4px 0px 0px 4px !important;
}
