@import url('../../../../../components/com_flexicontent/assets/css/flexi_form.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_containers.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_shared.css');
/***********
HEADER ICONS
************/
[class^="fcsb-icon-"], [class*=" fcsb-icon-"] {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    width: 20px;
}
[class^="fcsb-icon-"]:before, [class*=" fcsb-icon-"]:before {
    font-family: "IcoMoon";
    font-style: normal;
}
.disabled[class^="fcsb-icon-"], .disabled[class*=" fcsb-icon-"] {
    font-weight: normal;
}

.fcsb-icon-flexicontent:before,
.icon-flexicontent:before {
	content: "\e250";
}
.fcsb-icon-items:before,
.icon-items:before {
	content: "\e242";
}
.icon-itemedit:before, .icon-itemadd:before {
	content: "\2c";
}
.fcsb-icon-types:before,
.icon-types:before, icon-typeadd:before, .icon-typeedit:before {
	content: "\e020";
}
.fcsb-icon-fc_categories:before,
.icon-fc_categories:before, .icon-fc_categoryadd:before, .icon-fc_categoryedit:before {
	content: "\2d";
}
.fcsb-icon-fields:before,
.icon-fields:before, .icon-fieldadd:before, .icon-fieldedit:before {
	content: "\e230";
}
.fcsb-icon-tags:before,
.icon-tags:before {
	content: "\e264";
}
.icon-tagadd:before, .icon-tagedit:before {
	content: "\e262";
}
.fcsb-icon-templates:before,
.icon-templates:before {
	content: "\3c";
}
.fcsb-icon-authors:before,
.icon-authors:before {
	content: "\e01f";
}
.fcsb-icon-users:before,
.icon-authoredit:before, .icon-authoradd:before {
	content: "\22";
}
.fcsb-icon-groups:before,
.icon-groups:before, .icon-groupedit:before, .icon-groups-add:before {
	content: "\e01f";
}
.fcsb-icon-filemanager:before,
.icon-files:before {
	content: "\30";
}
.fcsb-icon-search:before,
.icon-searchtext:before {
	content: "\53";
}
.fcsb-icon-stats:before,
.icon-stats:before {
	content: "\75";
}

.icon-test:before { content: "l";  color: #51a351; font-weight:bold; }
.icon-savenew:before    { content: "\5d";   color: #51a351; }
.icon-32-delete:before,
.icon-32-trash:before   { content: "\4c"; }
.icon-copy_wvalues:before,
.icon-params:before     { content: "\e018"; color: #51a351; }
.icon-32-archive:before { content: "\50"; }
.fcsb-icon-import:before{ content: "\e022"; }
.icon-import:before     { content: "\e022"; color: darkorange; }
.icon-32-restore:before { content: "\6c"; }
.icon-translate:before  {	content: "\25";}


/*********************/
.flexicontent #adminForm a.saveorder {
	float: none !important;
	vertical-align: middle !important;
	display: inline-block !important;
	margin-left: 12px;
}

.flexicontent #adminForm .fc_drag_handle_none,
.flexicontent #adminForm .fc_drag_handle {
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

.flexicontent #adminForm table.adminlist {
	width: auto !important;
}

html body#minwidth-body {
	min-width: 760px;
}

.col_created.col_revised .input-append { margin:0px; }

/* CUSTOMIZE TABS in FORMS */
dl.tabs dt.user-details:not(.open), dl.tabs dt#user-details:not(.open),
dl.tabs dt.user-account:not(.open), dl.tabs dt#user-account:not(.open),
dl.tabs dt.user-groups:not(.open), dl.tabs dt#user-groups:not(.open) {
	background-color: #3276B1 !important;
}
dl.tabs dt.user-contact:not(.open), dl.tabs dt#user-contact:not(.open) {
	background-color: darkcyan !important;
}

/* category */
dl.tabs dt.cat-params-handling:not(.open), dl.tabs dt#cat-params-handling:not(.open),
dl.tabs dt.cat-params-common:not(.open), dl.tabs dt#cat-params-common:not(.open),
dl.tabs dt.cat-params-template:not(.open), dl.tabs dt#cat-params-template:not(.open),
/* users, groups */
dl.tabs dt.author_ext_config-options:not(.open), dl.tabs dt#author_ext_config-options:not(.open),
dl.tabs dt.author-items-list:not(.open), dl.tabs dt#author-items-list:not(.open),
dl.tabs dt.author-template-options:not(.open), dl.tabs dt#author-template-options:not(.open) {
	background-color: darkgreen !important;
}

/* category */
dl.tabs dt.cat-params-handling, dl.tabs dt#cat-params-handling {
	margin-left: 16px !important;
}

/* author */
dl.tabs dt.user-contact, dl.tabs dt#user-contact {
	margin-left: 16px !important;
	margin-right: 16px !important;
}

div.current dd .pane-sliders .panel {
	margin: 16px 30px 30px;
	max-width: 800px;
}
#flexicontent div.current dd .pane-sliders .panel .content table {
	padding: 6px !important;
	border: 0px !important;
}
#flexicontent div.current dd .pane-sliders .panel .content fieldset {
	padding: 0px !important;
	border: 0px !important;
}


/******************************************/
/* Manager filters and filters containers */
/******************************************/

.flexicontent #filterline .fc-mssg-inline.fc-filter,
.flexicontent #filterline .fc-mssg.fc-filter {
	border:0px !important;
	margin:0px 8px !important;
	padding:0px 8px !important;
}
.flexicontent #filterline  .nowrap_box, .flexicontent .nowrap_box {
	vertical-align: baseline !important;
}
.flexicontent #filterline .fc-mssg-inline > * {
	vertical-align: middle !important;
}
.flexicontent #filterline .fc-mssg-inline.fc-btn_box {
	border:none!important;
}

.flexicontent #filterline .controls {
	display: inline-block;
	margin: 3px 0 7px;
}
.flexicontent #filterline input[type="text"] {
	padding: 2px 2px 3px !important;
}
.flexicontent #filterline .input-append, #filterline .input-prepend {
	margin:0px;
}
.flexicontent #filterline .input-prepend input,
.flexicontent #filterline .input-append input {
    margin: 0 !important;
    padding: 4px !important;
}
.flexicontent #filterline,
.flexicontent #mainChooseColBox,
.flexicontent #stateGroupsBox,
.flexicontent #itemusage-filters {
	padding: 4px 8px 4px 4px;
	margin: 4px 0px;
	vertical-align: top;
	min-height: 34px;
}
.flexicontent #stateGroupsBox input:checked + label {
	color: #8B0000;
	font-weight: bold;
}

/* Highlighting selected choices */
.fc_filter_html .select2-search-choice div,
.select2-container .select2-choice.fc_highlight span,
.fc_highlight {
	color: darkorange !important;
	font-weight: bold !important;
}

.select2-container .select2-choice.fc_highlight_disabled span,
.fc_highlight_disabled {
	color: gray !important;
	font-weight: normal !important;
	text-decoration: line-through !important;
	font-style: italic !important;
}

/* a little larger icons */
.flexicontent .icon-publish, .icon-cancel {
	font-size: 14px;
}


/* FLEXIcontent Dashboard */

div#fc-dash-boardbtns, /* backend dashboard buttons */
div#fc-dash-sliders, /* backend dashboard sliders (recent items, etc) */
div#fc-dash-credits {  /* backend dashboard credits */
	float:left;
	clear:both;
}
div#fc-dash-boardbtns {
	padding: 0px 0px; 
	clear:both;
	margin-bottom: 12px;
}
div#fc-dash-credits {
	margin: 24px 0px 12px 0px;
}
div#fc-dash-credits .fc-board-set-inner { text-align:left; }
div#fc-dash-credits #fc-dash-logo { display:inline-block; padding:2px; border:1px solid #e0e0e0; border-radius:3px; float: left; margin:4px 16px 16px 0 !important;}
div#fc-dash-credits #fc-dash-license { margin:4px 16px 0 0 !important; padding: 22px 32px !important; max-width: inherit; }
div#fc-dash-credits #fc-dash-devs { display:inline-flex; }
div#fc-dash-credits #fc-dash-devs > .fc-mssg-inline  { vertical-align:top; margin:0 24px 12px 0 !important; padding:0 !important; }
div#fc-dash-credits #fc-dash-devs .label { margin: 2px 0; }

div#fc-dash-sliders {
	padding: 0px 0px; 
	width: 100%;
	clear:both;
	margin-bottom: 12px;
	background: white;
}
div#fc-dash-sliders .panel .title {
	padding: 8px;
}
div#fc-dash-sliders table.fc-table-list {
	font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
	text-shadow: 0 1px 0 #fff;
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: left;
	min-width: 50%;
}	

div#fc-dash-sliders table.fc-table-list th {
	background: url(../images/noise1.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 6px 12px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

div#fc-dash-sliders table.fc-table-list th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

div#fc-dash-sliders table.fc-table-list th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

div#fc-dash-sliders table.fc-table-list th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

div#fc-dash-sliders table.fc-table-list td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}
div#fc-dash-sliders table.fc-table-list td a {
	text-decoration: none;
	color:rgb(0, 136, 204);
	font-weight:bold;
}

div#fc-dash-sliders table.fc-table-list td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

div#fc-dash-sliders table.fc-table-list td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

div#fc-dash-sliders table.fc-table-list tr {
	background: url(../images/noise1.png);	
}

div#fc-dash-sliders table.fc-table-list tr:nth-child(odd) td {
	background: #f1f1f1 url(../images/noise1.png);	
}

div#fc-dash-sliders table.fc-table-list tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

div#fc-dash-sliders table.fc-table-list tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

div#fc-dash-sliders table.fc-table-list tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

div#fc-dash-sliders table.fc-table-list thead tr:hover th {
	color: white;
	text-shadow: 2px 2px 3px #777 !important;
}

div#fc-dash-sliders table.fc-table-list tbody tr:hover td {
	color: black;
	text-shadow: 2px 2px 2px #888;
}

div#fc-dash-sliders table.fc-table-list tbody tr:hover td a {
	color: rgb(0, 136, 204);
	text-shadow: 1px 1px 2px #888;
}



/* Dashboard button SET (a fieldset) */
fieldset.fc-board-set {
	float:left;
	width: auto;
	margin-left: 10px;
	border:0;
	margin:0 24px 12px 0;
	padding:0;
}
fieldset.fc-board-set div.fc-board-set-inner {
	box-shadow: 0 0 4px #cccccc;
	position:relative;
	top:0;
	float:left;
	border-radius:2px;
	margin:0px;
	padding: 12px 0px 0px 12px;
	width: auto;
	background: none repeat scroll 0 0 #f5f5f5;
}

/* Dashboard button SET title (a fieldset lengend)*/
legend[class^="fc-board-header"] {
	-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	font-size:12px;
	font-family:arial, helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	display:inline-block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	background-color: #9C9D9E;
	color:#ffffff;
	width:auto;
	font-size:12px;
	line-height:2em;
	margin:1px 0 0px -1px;
	padding:0px 24px 0 20px;
}

/* Individual titles of dashboard button SETs */
.fc-board-header-content-editing {}
.fc-board-header-type-fields {}
.fcsfc-boardbnav-content-viewing {}
.fc-board-header-users { }
.fc-board-header-expert {}



/* Dashboard button */
div#fc-dash-boardbtns .fc-board-button {
    margin: 0px 12px 12px 0;
    padding: 0px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    text-align: center;
    background-color: #e1e1e1;
    background-image: -moz-linear-gradient(#ededed, #e1e1e1);
    background-image: -o-linear-gradient(#ededed, #e1e1e1);
    background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #e1e1e1));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, EndColorStr=#e1e1e1)";
    background-image: linear-gradient(#ededed, #e1e1e1);
    border: 1px solid #d0d0d0;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.32);
    -webkit-box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.32)
}
div#fc-dash-boardbtns .fc-board-button:hover {
    background-color: #FffFfF;
    background-image: -moz-linear-gradient(#ededed, #fff);
    background-image: -o-linear-gradient(#ededed, #fff);
    background-image: -webkit-linear-gradient(#ededed, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ededed), color-stop(1, #fff));
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#ededed, EndColorStr=#fff)";
    background-image: linear-gradient(#ededed, #fff);
    -moz-box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.6)
}
.fc-board-button-inner {  /* inner container of dashboard button (of extra styling choices) */
	display: inline-block;
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}

/* Dashboard button (inner) LINK, (contains the button image and the button text */
div#fc-dash-boardbtns .fc-board-button a {
	text-decoration:none;
	display: inline-block;
	width: 96%;
	height: 100%;
	padding: 5px 2%;
	margin:0;
}
div#fc-dash-boardbtns .fc-board-button:hover a {}

/* Dashboard button image and text */
div#fc-dash-boardbtns .fc-board-button .fc-board-btn-img {
	width: 32px;
	margin: 0 auto;
}
div#fc-dash-boardbtns .fc-board-button .fc-board-btn-text {
	display: inline-block;
	width: 100%;
	padding: 2px 0%;
	margin: 0px 0 0 0;
	min-height:48px;
	vertical-align:middle;
	font-size: 12px;
	line-height: 140%; /* or less will allow 3 lines of text to fit inside the button height */
}
