
/* Default Theme : item template CSS file */

div.flexi.lineinfo {
	display: block;
	margin: 0 0 1em;
	overflow: hidden;
	clear: both;
}

div.flexi.subtitle1 {
}
div.flexi.subtitle2 {
}
div.flexi.subtitle3 {
}

div.tabbertab .flexi.element,
div.subtitle1 .flexi.element,
div.subtitle2 .flexi.element,
div.subtitle3 .flexi.element {
	display:block;
	float: left;
	margin: 0px 24px 12px 0px;
}


/* topblock: Field block styling */
div.flexi.topblock {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}
div.topblock .flexi.image {
	border: 2px solid silver;
	float: left;
	margin-right: 10px;
	line-height: 0px;
}
div.topblock .flexi.image a {
	outline: none;
}
div.topblock .flexi.image img {
	border: 1px solid white;
}
div.topblock .flexi.infoblock {
	overflow: hidden;
}


/* infoblock: Field block styling */
div.flexi.infoblock {
	border: 1px solid silver;
	margin: 0 0 10px;
	padding: 10px;
}
div.infoblock ul.flexi {
	margin: 0;
	padding: 0;
}
div.infoblock ul li.flexi {
	padding: 0;
	background: none;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0%;
	zoom: 1;
	*display: inline;
	_height: 10px;
}


/* Field label & values styling */
span.flexi.label, div.flexi.label {
	float: left;
	border-bottom: 1px solid silver;
	color: #777;
	font-size: 90%;
	margin-right: 8px;
	display:block;
}
span.flexi.value, div.flexi.value {
	float: left;
}


/* Field values into 1 column */
div.onecols ul li.flexi {
	width: 100%;
}
div.onecols div.flexi.label {
	min-width: 20%;
	margin-right: 4%;
	margin-bottom:6px;
}
div.onecols div.flexi.value {
	min-width: 74%;
	margin-right: 1%;
}


/* Field values into 2 columns */
div.twocols ul li.flexi {
	min-width: 48%;
}
div.twocols div.flexi.label {
	min-width: 34%;
	margin-right: 6%;
	margin-bottom:6px;
}
div.twocols div.flexi.value {
	min-width: 58%;
	margin-right: 1%;
}

div.fc_item_seperator {
	clear:both;
	margin-bottom: 24px;
	width:100%;
}