/* Module */
.mod_flexicontent_wrapper {
	overflow: hidden;
	padding: 10px;
}

.mod_flexicontent.twocol {
}

.mod_flexicontent_featured {
	display: inline;
	float: left;
	width: 45%;
	margin-right: 2%; 
	padding-right: 2%; 
}

.twocol .mod_flexicontent_standard {
	margin-left: 49%;
}

.mod_flexicontent_standard_wrapper,
.mod_flexicontent_featured_wrapper {
}

.image_featured,
.image_standard {
	float: left;
	margin: 0 5px 5px 0;
}

.field_label {
	font-weight: bold;
}

.modclear {
	width: 100%;
	overflow: hidden;
}

/* Colors */

/* Suffixe -grey : grey borders and links */
.mod_flexicontent_wrapper.mod_flexicontent_wrap-grey {
	border: 3px solid silver;
}
.mod_flexicontent_wrap-grey .mod_flexicontent.twocol {
	background: url('images/vdot.gif') repeat-y 47% 0;
}
.mod_flexicontent_wrap-grey a {
	color: #000;
}
/* Suffixe -red : red borders and links */
.mod_flexicontent_wrapper.mod_flexicontent_wrap-red {
	border-color: #FF0032;
}
.mod_flexicontent_wrap-red .mod_flexicontent.twocol {
	background: url('images/vdot.gif') repeat-y 47% 0;
}
.mod_flexicontent_wrap-red a {
	color: #FF0032;
}