body.gf_clear_tips .tooltip.in {
	opacity: 1;
}

div.gf_container * {
	position: relative;
	margin: 0;
	padding: 0;
	/*text-align: center;*/
	/*	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;*/
	background: none;
	color: #555;
	line-height: 100%;
}

div.gf_container .noscript {
	display: none;
}

div.gf_container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: start;
	justify-content: start;

	height: auto;
	max-width: 100%;
	width: 5000px;

	overflow: hidden;
	padding: 0;
	margin: 0;
}

div.gf_container > div.content {
	/* The display of content is enabled using JAVASCRIPT so that the slideshow content won't display unless javascript is enabled. */
	float: right;
	width: 100%;

	flex-grow: 1;
	flex-shrink: 1;

	display: flex !important;
	flex-direction: column;
}

div.gf_container > div.navigation:not(.no_pagination) {
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	box-sizing: content-box;
	padding: 0;
}

div.gf_container > div.navigation.no_pagination {
	width: 100%;
	display: block;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	padding: 2px;
	/*scroll-behavior: smooth;*/
}



div.gf_container > div.navigation a.prev {
}
div.gf_container > div.navigation a.next {
}

div.gf_container > div.navigation > div.pagination {
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/ /* using align-items: center in parent */

	margin: 4px;
	margin: 0;
}

div.gf_container div.navigation div.pagination.top.gf_inline_nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: transparent;
	pointer-events: none;
	padding: 0;
	margin: 0;
}
div.gf_container div.navigation div.pagination.top.gf_inline_nav .next_page_btn,
div.gf_container div.navigation div.pagination.top.gf_inline_nav .prev_page_btn {
	position: absolute;
	height: 100%;
	z-index: 10;
	margin: 0;
	font-size: 24px;
	font-weight: 900;
	box-sizing: border-box;
	padding: 0 0.2em;
	border: none;
	text-decoration: none;
	white-space: nowrap;
	/*text-shadow: 0px 1px 0px #555, 0px -1px 0px #555;*/
	color: white;
	background-color: rgba(0,0,0, 0.2);

	display: flex;
	align-content: center;
	align-items: center;

	pointer-events: all;
	transition: all 0.4s ease-in-out;
}
div.gf_container div.navigation div.pagination.top.gf_inline_nav a.next_page_btn:hover,
div.gf_container div.navigation div.pagination.top.gf_inline_nav a.prev_page_btn:hover {
	color: white;
	text-shadow: 0px 1px 0px #777, 0px -1px 0px #777;
	background-color: rgba(0,0,0, 0.9);
}
div.gf_container div.navigation div.pagination.top.gf_inline_nav .next_page_btn {
	right: 0;
}
div.gf_container div.navigation div.pagination.top.gf_inline_nav .prev_page_btn {
	left: 0;
}
div.gf_container > div.navigation > div.pagination.top.gf_inline_nav span.ellipsis {
	color: #d0d0d0;
	text-shadow: none;
}
div.gf_container div.navigation div.pagination.top.gf_inline_nav .gf_pagination_info {
	display: flex;
	color: white;
	text-shadow: 0px 1px 1px #aaa, 0px -1px 1px #aaa;
	font-weight: bold;
	line-height: 1em;
	padding: 4px;
	border-radius: 0;
	border: none;
	font-size: 12px;
	z-index: 20;
	height: 100%;
	align-items: center;
}
div.gf_container div.navigation div.pagination.bottom .gf_pagination_info {
	padding: 0.5em 0.5em 0 0.5em;
}

div.gf_container div.navigation div.pagination.top {
	margin: 6px 0;
}
div.gf_container div.navigation div.pagination.bottom {
	margin: 6px 0;
}

div.gf_container > div.navigation.no_pagination > div.pagination {
	display: none;
}

div.gf_container .gf_controls_box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between; /*center;*/
	width: 100%;
}


div.gf_container div.controls {
	margin: 8px 0;
}
div.gf_container div.controls div.ss-controls {
	position: absolute;
	top: 0;
	z-index: 1000;
	top: 8px;
	/*float: left;*/
}
div.gf_container div.controls div.nav-controls {
	float: right;
}

div.gf_container div.slideshow-container {
	/*max-height: 96vh;*/ /* Limit height set inline to viewport, moved this to JS */
	/*background: #555;*/
}

/* If placed inside slideshow then do different display */
div.gf_container div.slideshow-container div.controls.nav-controls-box {
	pointer-events: none;
}
div.gf_container div.slideshow-container div.controls.nav-controls-box,
div.gf_container div.slideshow-container div.controls div.nav-controls,
div.gf_container div.slideshow-container div.controls div.nav-controls a {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
	margin: 0;
	color: #aaa;
	font-size: 24px;
	font-weight: 900;
}

div.gf_container div.slideshow-container div.controls div.nav-controls a {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-sizing: border-box;
	border: none;
	pointer-events: all;
	font-size: 24px;
	font-weight: 900;
	padding: 0;
	font-family: 'Font Awesome 5 Free', 'Font Awesome 6 Free' !important;
}
div.gf_container div.slideshow-container div.controls div.nav-controls a:hover {
	/*background-color: rgba(0,0,0 0.2);*/
	background: none;
}
div.gf_container div.slideshow-container div.controls div.nav-controls a > * {
	display: flex;
	align-items: center;
	padding: 0.5em;
	color: white;
	background-color: rgba(0,0,0, 0.2);
	transition: all 0.4s ease-in-out;
	border-radius: 10px;
}
div.gf_container div.slideshow-container div.controls div.nav-controls a:hover > * {
	color: white;
	text-shadow: 0px 1px 0px #777, 0px -1px 0px #777;
	background-color: rgba(0,0,0, 0.9);
}
div.gf_container ul.thumbs.dot li a {
	max-height: 20px !important;
	width: 20px !important;
	background: #ccc !important;
	border-radius: 50% !important;
	font-size:0;
	transition: opacity var(--transition-duration) linear;
}
div.gf_container ul.thumbs.dot {
	margin-top: 20px !important;
	text-align: center;
}
div.gf_container ul.thumbs.dot li.selected a {
	background:#000000 !important;
}

div.gf_container div.controls div.nav-controls a.prev {
	left: 0;
}
div.gf_container div.controls div.nav-controls a.next {
	right: 0;
}

div.gf_container div.controls div.ss-controls .play {
	background-color: green;
	color: white;
}
div.gf_container div.controls div.ss-controls .pause {
	background-color: black;
	color: white;
}


div.gf_container div.ss-controls a,
div.gf_container div.nav-controls a,
div.gf_container > div.navigation > div.pagination a,
div.gf_container > div.navigation > div.pagination span.current,
div.gf_container > div.navigation > div.pagination span.ellipsis {
	box-sizing: content-box;
	display: block;
	float: left;

	white-space: nowrap;
	font-size: 1.2em;
	line-height: 1.2em;
	height: 1.2em;

	padding: 0.2em 0.5em;
	margin-right: 2px;

	border: 1px solid #ccc;
	background-color: transparent;
	color: #555;
	text-decoration: none;
}
div.gf_container > div.navigation > div.pagination span.ellipsis {
	color: #ccc;
}
div.gf_container div.ss-controls a:hover,
div.gf_container div.nav-controls a:hover,
div.gf_container > div.navigation > div.pagination a:hover {
	text-decoration: none;
	background-color: #eee;
	color: #555;
}
div.gf_container > div.navigation > div.pagination span.current {
	font-weight: bold;
	background-color: #000;
	border-color: #000;
	color: #fff;
}
div.gf_container > div.navigation > div.pagination span.ellipsis {
	border: 1px solid transparent;
}


div.gf_container > div.navigation > ul.thumbs {
	height: 100%;
	width: 100%;  /* IE11 fix, for flex-wrap to work */
	margin: 0;
	padding: 0;
	/*background: #f0f0f0;*/
}

div.gf_container > div.navigation:not(.no_pagination) > ul.thumbs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 29px 0 31px;
}
/*:-ms-fullscreen, :root div.gf_container > div.navigation:not(.no_pagination) > ul.thumbs {
	margin-bottom: 12px !important;
}*/
div.gf_container > div.navigation.no_pagination > ul.thumbs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	white-space: nowrap;
	height: fit-content;
	max-height: fit-content;
}


div.gf_container > div.navigation > ul.thumbs > li {
	display: flex;
	margin: 0 1px;
	list-style: none;

	align-self: center;
	justify-content: center;
	border: 4px solid #555;
	transition: border-color 0.4s ease-in-out;
	/*box-shadow: 1px 1px 1px #555, -1px -1px 0px #555;*/
}

div.gf_container > div.navigation > ul.thumbs > li.selected {
	/*box-shadow: 1px 1px 1px black, -1px -1px 0px black;*/
	border-color: #4ea7f9;
}
div.gf_container > div.navigation > ul.thumbs > li.selected:hover {
	border-color: #3e87d9;
}
div.gf_container > div.navigation > ul.thumbs > li:hover {
	border-color: black;
}

div.gf_container > div.navigation.no_pagination > ul.thumbs > li {
	display: inline-block;
	line-height: 0.5em;
	float: none;
	vertical-align: top;
}
div.gf_container > div.navigation > ul.thumbs > li a.thumb {
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	overflow: hidden;
	line-height: 0.5em;
	background: black;  /* make opaque thumbnails clearer */
}

div.gf_container > div.navigation.no_pagination > ul.thumbs > li,
div.gf_container > div.navigation.no_pagination > ul.thumbs > li a.thumb
div.gf_container > div.navigation.no_pagination > ul.thumbs > li img {
	line-height: 0;
}

div.gf_container > div.navigation > ul.thumbs > li a.thumb,
div.gf_container > div.navigation > ul.thumbs > li img {
	border: none;
	border-radius: 0;
	padding: 0px;
	max-width: 100%;
	width: auto;
	/*height: 100% !important;*/
	box-sizing: border-box;
}
div.gf_container > div.navigation > ul.thumbs > li img {
	display: flex;
	width: auto;
	height: auto !important;
	min-height: 100% !important;
	opacity: 0.65;
	transition: opacity var(--transition-duration) linear;
}
div.gf_container > div.navigation > ul.thumbs > li img:hover,
div.gf_container > div.navigation > ul.thumbs > li.selected img {
	opacity: 1;
}

div.gf_container > div.navigation > ul.thumbs > li img {
	border: none;
}


div.gf_container > div.navigation > ul.thumbs > li.selected a.thumb:focus {
	outline: none;
}


div.gf_container > .content > div.slideshow-container {
	position: absolute;
	clear: both;
	width: 100%;
	/*overflow: hidden;  /* avoid */
	height: 100%;
}

div.gf_container > .content > div.slideshow-container > div.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: url("loader.gif") no-repeat scroll center transparent;
	width: 100%;
	height: 100%;
}

div.gf_container > .content > div.slideshow-container > div.slideshow {
	width: 100%;
	height: 100%;
}

/**
 * Override this via configuration parameter ...
 */
div.gf_container {
	--transition-duration: 0.4s;
}

div.gf_container > .content  > div.slideshow-container > div.slideshow span.image-wrapper {
	width: 100%;
	height: 100%;
	max-height: 100%;
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	transition: opacity var(--transition-duration) linear;
}

div.gf_container > .content  > div.slideshow-container > div.slideshow span.image-wrapper a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* This is image parent. CROP vertically up and down by centering the image inside the parent */

	width: 100%;
	height: 100%;   /* Set inline to realy PIXELS to fix IE11 */
	line-height: 100%;
	max-height: 100%;
}

div.gf_container div.slideshow img {
	display: inline-block;
	align-self: auto;
	border: 4px solid #ccc;
	max-height: 100% !important;
	max-width: 100% !important;
	width: 100%;
}

div.gf_container > .content > div.slideshow-container > div.slideshow span.image-wrapper img {
}

/* Styling for captions */

div.gf_container div.caption-container {
	/*position: absolute;
	bottom: 0;
	clear: left;*/
	margin: auto;
	width: 100%;
}
div.gf_container div.caption-container span.image-caption {
	display: none;  /* hide until this is positioned via JS*/
	position: absolute;
	width: 100%;
	background-color: rgba(0,0,0, 0);
}
div.gf_container div.caption-container span.image-caption.current {
	background-color: rgba(0,0,0, 0.3);
	transition: background-color 0.4s ease-in-out;
}
div.gf_container div.caption-container span.image-caption.current:not(.transitioning):hover {
	background-color: rgba(0,0,0, 0.6);
}

div.gf_container div.caption-container div.caption {
	/*text-align: center;*/
	padding: 0.5em;
	background: none;
	height: 100%;
	line-height: 100%;
	max-height: 9em;
	overflow: hidden;
}
div.gf_container div.caption-container div.caption a {
	text-decoration: underline;
}
div.gf_container div.caption-container div.caption > div.image-title {
	font-size: 1.2em;
	font-weight: bold;
}
div.gf_container div.caption-container div.caption > div.image-desc {
	font-size: 1em;
	padding-top: 0.4em;
}

div.gf_container div.caption-container div.caption > * {
	color: white;
	text-shadow: 1px 1px 0px #000, -1px -1px 0px #000;
	letter-spacing: 2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	padding: 0 24px;
}


/* Some General HTML Tag elements styling within the gallery container */

div.gf_container a {
	color: #27D;
	text-decoration: none;
}
div.gf_container a:focus,
div.gf_container a:hover,
div.gf_container a:active {
	text-decoration: underline;
	outline: none;
}

div.gf_container h1 {
	padding: 0;
	font-size: 3em;
	color: #333;
}

div.gf_container h2 {
	padding-top: 10px;
	font-size:2em;
}

div.gf_container h1,
div.gf_container h2 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	margin: 0 0 10px 0;
	letter-spacing:-1px;
}

div.gf_container p {
	line-height: 1.4em;
	background: none;
	padding: 4px;
}

div.gf_container pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
}
