body #flexicontent .fc_item_title,
body #flexicontent .fc_item_title a {
	color: inherit;
}
body #flexicontent ul.tabbernav > li a {
	border: 1px solid #1c5a85;
	background-color: #3093c7;
	background-image: -webkit-linear-gradient(top,#3093c7,#1c5a85);
	background-image: linear-gradient(to bottom,#3093c7,#1c5a85);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7,endColorstr=#1c5a85);
	color: #ffffff;
}
body #flexicontent ul.tabbernav > li.tabberactive a::before {
	border-top: 4px solid #1c5a85;
}
body #flexicontent ul.tabbernav > li:hover a {
	border: 1px solid #0a2131;
	background-color: #1c5675;
	background-image: -webkit-linear-gradient(top,#1c5675,#0a2131);
	background-image: linear-gradient(to bottom,#1c5675,#0a2131);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1c5675,endColorstr=#0a2131);
	color: #ffffff;
}
.flexi.lineinfo {
	display: block;
	padding: 0;
	margin: 0 0 1em;
	overflow: hidden;
	clear: both;
}
.tabbertab .flexi.element,
.subtitle1 .flexi.element,
.subtitle2 .flexi.element,
.subtitle3 .flexi.element {
	clear: none;
	display: block;
	float: left;
	max-width: 96% !important;
	padding: 0% !important;
	margin: 0.5em 2% 0.5em 2% !important;
}
.flexi.topblock {
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}
.topblock .flexi.image {
	display: block;
	float: left;
	max-width: 99% !important;
	padding: 0% !important;
	margin-right: 1%;
	margin-left: 0%;
	line-height: 0px;
	border: 0px solid silver;
}
.topblock .flexi.image a {
	outline: none;
}
.topblock .flexi.image img {
	border: 1px solid white;
}
.topblock .flexi.infoblock {
	overflow: hidden;
}
.flexi.infoblock {
	border: 1px solid silver;
	margin: 0 0 10px;
	padding: 10px;
}
.infoblock ul.flexi {
	margin: 0 !important;
	padding: 0 !important;
}
.infoblock ul li.flexi {
	padding: 0;
	background: none;
	min-height: 10px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	margin: 0%;
	zoom: 1;
}
.onecols ul li.flexi {
	width: 100%;
}
.onecols .flexi.label {
	min-width: 20%;
	margin-right: 4%;
	margin-bottom: 6px;
}
.onecols .flexi.value {
	min-width: 74%;
	margin-right: 1%;
}
.twocols ul li.flexi {
	min-width: 48%;
}
.twocols .flexi.label {
	min-width: 34%;
	margin: 2px 3% 6px 0;
	box-sizing: border-box;
}
.twocols .flexi.value {
	min-width: 59%;
	margin: 2px 4% 6px 0;
	box-sizing: border-box;
}
.fc_item_separator {
	clear: both;
	width: 100%;
	border-bottom: 1px dashed gray;
	padding-bottom: 32px;
	margin-bottom: 6px;
}
#fc_alpha .btn.fc_alpha_index,
#fc_alpha .btn.fc_alpha_index_sep {
	margin-top: 0;
	margin-bottom: 0;
}
.group {
	overflow: auto !important;
}
