.fcxSlide_wrapper {
	display: block;
	float: left !important;
	overflow: hidden !important;
	
	width: auto;
	height: auto;
	
	margin: 0 !important;
	padding: 0 !important;
	border-width: 0 !important;
	border-style: solid !important;
}


.fcxSlide_wrapper_inner {
	display: block;
	float: left !important;
	overflow: hidden !important;
	
	width: auto;
	height: auto;
	
	margin: 0 !important;
	padding: 0 !important;
	border-width: 0 !important;
	border-style: solid !important;
}
