@import url('../../../../../components/com_flexicontent/assets/css/flexi_form.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_containers.css');
@import url('../../../../../components/com_flexicontent/assets/css/tabber.css');
@import url('../../../../../components/com_flexicontent/assets/css/flexi_shared.css');

.flexicontent #adminForm a.saveorder {
	float: none !important;
	vertical-align: middle !important;
	display: inline-block !important;
	margin-left: 12px;
}

.flexicontent #adminForm .fc_drag_handle_none,
.flexicontent #adminForm .fc_drag_handle {
	float: none !important;
	display: inline-block !important;
	vertical-align: middle !important;
}

.flexicontent #adminForm table.adminlist {
	width: auto !important;
}

html body#minwidth-body {
	min-width: 760px;
}

.col_created.col_revised .input-append { margin:0px; }

/* CUSTOMIZE TABS in FORMS */
dl.tabs dt.user-details:not(.open), dl.tabs dt#user-details:not(.open),
dl.tabs dt.user-account:not(.open), dl.tabs dt#user-account:not(.open),
dl.tabs dt.user-groups:not(.open), dl.tabs dt#user-groups:not(.open) {
	background-color: #3276B1 !important;
}
dl.tabs dt.user-contact:not(.open), dl.tabs dt#user-contact:not(.open) {
	background-color: darkcyan !important;
}

/* category */
dl.tabs dt.cat-params-handling:not(.open), dl.tabs dt#cat-params-handling:not(.open),
dl.tabs dt.cat-params-common:not(.open), dl.tabs dt#cat-params-common:not(.open),
dl.tabs dt.cat-params-template:not(.open), dl.tabs dt#cat-params-template:not(.open),
/* users, groups */
dl.tabs dt.author_ext_config-options:not(.open), dl.tabs dt#author_ext_config-options:not(.open),
dl.tabs dt.author-items-list:not(.open), dl.tabs dt#author-items-list:not(.open),
dl.tabs dt.author-template-options:not(.open), dl.tabs dt#author-template-options:not(.open) {
	background-color: darkgreen !important;
}

/* category */
dl.tabs dt.cat-params-handling, dl.tabs dt#cat-params-handling {
	margin-left: 16px !important;
}

/* author */
dl.tabs dt.user-contact, dl.tabs dt#user-contact {
	margin-left: 16px !important;
	margin-right: 16px !important;
}

div.current dd .pane-sliders .panel {
	margin: 16px 30px 30px;
	max-width: 800px;
}
#flexicontent div.current dd .pane-sliders .panel .content table {
	padding: 6px !important;
	border: 0px !important;
}
#flexicontent div.current dd .pane-sliders .panel .content fieldset {
	padding: 0px !important;
	border: 0px !important;
}

#filterline .fc-mssg-inline {
	margin-bottom: 12px !important;
}

#filterline .controls {
	display: inline-block;
	margin: 3px 0 7px;
}

#filterline input[type="text"] {
	padding: 2px 2px 3px !important;
}
#filterline .input-append, #filterline .input-prepend {
	margin:0px;
}
#filterline .input-prepend input,
#filterline .input-append input {
    margin: 0 !important;
    padding: 4px !important;
}

