/****************************/
/* BOF themes, TODO MORE !! */
/****************************/

/* Suffix -green : green borders and links */
.news.mod_flexicontent_wrap-green .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrap-green .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkgreen!important;
}
.news.mod_flexicontent_wrap-green a {
	color: darkgreen!important;
}

/* Suffix -red : red borders and links */
.news.mod_flexicontent_wrap-red .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrap-red .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkred!important;
}
.news.mod_flexicontent_wrap-red a {
	color: darkred!important;
}

/* Suffix -orange : orange borders and links */
.news.mod_flexicontent_wrap-orange .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrap-orange .mod_flexicontent_standard_wrapper_innerbox {
	border-color: darkorange!important;
}
.news.mod_flexicontent_wrap-orange a {
	color: darkorange!important;
}

/**************/
/* EOF themes */
/**************/

.mod_flexicontent_wrapper {
    overflow: visible;
}
/* separator feature and standard */
.mod_flexicontent_featured{
	margin-bottom:4rem;
}

/* CONTAINER OF EACH ORDERING GROUP */
.news.mod_flexicontent_wrapper .mod_flexicontent {
	width: 100%;
	margin: 0% !important;
	padding: 0% !important;
	border-width: 0%;
	float: left;
	clear: both;
}


/* EXTERNAL ITEM CONTAINER inner container for border, padding etc */
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper_innerbox {
	/*position: relative;
	display: block;
	float: none;
	width: auto;
	height: auto;
	overflow: hidden;
	 can be overriden via user 's CSS 
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: #dfdfdf #9f9f9f #9f9f9f #dfdfdf;
	border-radius: 0px;
	background-color: unset;*/
	display: flex;
    /*flex-direction: column;
    flex-wrap: nowrap;*/
    height: 100%;
	position: relative;
}
.mod_flexicontent_featured_wrapper_innerbox.fc_float_right,
.mod_flexicontent_standard_wrapper_innerbox.fc_float_right {
    flex-direction: row;
}
.mod_flexicontent_featured_wrapper_innerbox.fc_float_left,
.mod_flexicontent_standard_wrapper_innerbox.fc_float_left {
    flex-direction: row-reverse;
}
.mod_flexicontent_featured_wrapper_innerbox.fc_stretch.fc_clear,
.mod_flexicontent_standard_wrapper_innerbox.fc_stretch.fc_clear {
    flex-direction: column;
}


/* EXTERNAL CONTAINER STYLING ODD EVEN (COUNTING) */
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.odd,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.odd {
}
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.even,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.even {
}

.news.mod_flexicontent_wrapper .mod_flexicontent_featured,
.news.mod_flexicontent_wrapper .mod_flexicontent_standard {
	display: grid;
	gap:2rem;
	row-gap: 2rem;
}

/*
 * ITEM BASIC FIELDS STYLES (FOR CUSTOM FIELDS see below, FOR IMAGE AND DATE see more below)
 */
/*
.news.mod_flexicontent_wrapper .content_standard {padding: 12px 0px 0 0px;}  /* container of basic elements of standard items excluding title & image 
.news.mod_flexicontent_wrapper .content_featured {padding: 12px 0px 0 0px;}  /* container of basic elements of featured items excluding title & image 
*/


/* CONTAINER of item title */
.news.mod_flexicontent_wrapper .fcitem_title_box {
	/*display: block;
	background: transparent;
	margin: 0;
	padding: 6px 0px;*/
}

.news.mod_flexicontent_wrapper .fcitem_title,
.news.mod_flexicontent_wrapper .fcitem_title a {
	/*color: #08c;
	font-size: initial;
	/*background-color: transparent;
	line-height: 1.2em;
	width: 100%;
	display: inline-block;*/
}

.news.mod_flexicontent_wrapper .fcitem_title {
	/*text-shadow: 1px 1px 1px #000000;
	height: 2.4em;*/
	display: table-cell;
	vertical-align: middle;
	/*padding: 1px 4px;
	margin: 2px 0px;
	border: 1px dashed #bbbbbb;*/
}
.news.mod_flexicontent_wrapper .fcitem_title:hover {
	/*border: 1px dashed black;*/
}

/* item title styling (link, etc) */
.news.mod_flexicontent_wrapper .fcitem_title a {
	text-decoration: none;
	-webkit-transition: all 0.4s; transition: all 0.4s;
}
.news.mod_flexicontent_wrapper .fcitem_title:hover a,
.news.mod_flexicontent_wrapper .fcitem_title a:hover {
	cursor: pointer;
	/*text-shadow: 1px 1px 3px #000000;*/
}
.news.mod_flexicontent_wrapper .fc_overlayed .fcitem_title a {
	/*text-shadow: 1px 1px 2px #000000, -1px -1px #000, 1px 1px #000000;
	text-shadow: 1px 1px 1px #000000;*/
}


/* CONTAINER of item date */
.news.mod_flexicontent_wrapper .fcitem_date { /* for label and value (contained inside) see more below */
	background: url("images/date.png") no-repeat scroll 0px 1px;
	padding:2px 6px 2px 20px;
}

/* item date styling (label, value, etc) */
.news.mod_flexicontent_wrapper .date_label,
.news.mod_flexicontent_wrapper .date_label_feat {
	display:inline;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.news.mod_flexicontent_wrapper .date_value,
.news.mod_flexicontent_wrapper .date_value_feat {
	display:inline-block;
	font-weight: normal;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


/* CONTAINER of item description */
.news.mod_flexicontent_wrapper .fcitem_text { /* for image (not contained inside) see more below */
	/*text-align:justify;*/
	margin: 0px;
	/*padding: 0 12px;*/
	line-height: 160%;
}


/* CONTAINER of item image (featured and standard) 
.news.mod_flexicontent_wrapper .image_featured,
.news.mod_flexicontent_wrapper .image_standard {
	float: left;
	margin: 0;
}*/

/* item image styling (link, image, etc) */
.news.mod_flexicontent_wrapper .image_featured a:hover,
.news.mod_flexicontent_wrapper .image_standard a:hover {
  text-decoration: none;
}
.news.mod_flexicontent_wrapper .image_featured img,
.news.mod_flexicontent_wrapper .image_standard img {
  padding: 0px; /* disabled item border thus padding too */
	border-width: 0px; /* disabled item border */
	border-style: solid;
	border-color: #cccccc #cccccc #cccccc #cccccc;
	border-radius: 0px;
}
.news.mod_flexicontent_wrapper .image_standard a:hover img,
.news.mod_flexicontent_wrapper .image_featured a:hover img {
  /*border:1px solid #444444;*/
}


/* CONTAINER of item hits, voting, comments */
.news.mod_flexicontent_wrapper .fcitem_hits { padding: 2px 0px 1px 0px; display: inline-block; }
.news.mod_flexicontent_wrapper .fcitem_voting { padding: 0px 0px 2px 0px; display: inline-block; }
.news.mod_flexicontent_wrapper .fcitem_comments{ padding: 2px 0px 1px 0px; display: inline-block; }

.news.mod_flexicontent_wrapper .fcitem_hits img,
.news.mod_flexicontent_wrapper .fcitem_comments img {
	vertical-align: middle;
}

.news.mod_flexicontent_wrapper .hits_label,
.news.mod_flexicontent_wrapper .voting_label, 
.news.mod_flexicontent_wrapper .comments_label {
	display:inline;
	color: black;
	font-weight: bold;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	vertical-align:top;
}

/* force voting to display in same row as label */
.news.mod_flexicontent_wrapper .voting_value_feat,
.news.mod_flexicontent_wrapper .voting_value,
.news.mod_flexicontent_wrapper .voting_value_feat .voting,
.news.mod_flexicontent_wrapper .voting_value .voting {
	display: block;
}
.news.mod_flexicontent_wrapper div.fcvote > ul.fcvote_list {
	clear: none !important;
}
.news.mod_flexicontent_wrapper div.fcvote-label-outer {
	clear: none !important;
	display: inline-block !important;
	float: none !important;
}


/* CONTAINER of other item fields */
.news.mod_flexicontent_wrapper .fcitem_fields {
	display: inline-block !important;
	line-height: 140%;
}

/* other item fields styling (label, value, etc) */
.news.mod_flexicontent_wrapper .field_label {
	font-weight: bold;
	display:block;
	float:left;
	clear:left;
	margin-right:8px;
	/*border-bottom: 1px dashed silver;*/
	text-align: left;
}
.news.mod_flexicontent_wrapper .field_value {
	font-weight: normal;
	display:block;
	float:left;
	text-align: left;
}


/* CONTAINER of item read more */
.news.mod_flexicontent_wrapper .fcitem_readon {
	/*float:left;
	background: url("images/readmore.png") transparent no-repeat scroll 0px 5px;
	border:solid transparent;
	border-width:1px 0px;
	padding: 1px 6px 1px 20px;
	margin: 3px 3px 3px 4px;
	display: inline-block;
	-webkit-transition: all 0.4s; transition: all 0.4s;
	background-color: transparent;*/
	display: flex;
	/*color: #08c;
	font-size: inherit;*/
}
.news.mod_flexicontent_wrapper .fcitem_readon.center {
	justify-content: center;
}
.news.mod_flexicontent_wrapper .fcitem_readon.left {
	justify-content: left;
}
.news.mod_flexicontent_wrapper .fcitem_readon.right {
	justify-content: right;
}

/*.news.mod_flexicontent_wrapper .fcitem_readon:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-color: gray;
	border-width: 1px 0px;
	border-radius: 0px;
}*/

/* item read more styling (link, etc) */
.news.mod_flexicontent_wrapper .fcitem_readon a.readon,
.news.mod_flexicontent_wrapper .fcitem_readon a.readon span {
	/*font-weight: bold;
	line-height: 160%;
	padding: 0px;
	background: transparent;*/
	text-decoration: none !important;
	/*cursor: pointer;
	-webkit-transition: all 0.4s; transition: all 0.4s;
	vertical-align: top;
	color: inherit;
	font-size: inherit;*/
}
.news.mod_flexicontent_wrapper .fcitem_readon:hover a.readon,
.news.mod_flexicontent_wrapper .fcitem_readon:hover a.readon span {
	/*padding: 0px;
	background: none;
	text-decoration: none !important;
	color: gray;*/
}



/*****************************/
/* Content PLACEMENT methods */
/*****************************/
.news.mod_flexicontent_wrapper .fc_block.readmore {
	line-height: 160%;
	margin-top: auto;
}
.news.mod_flexicontent_wrapper .content_featured,
.news.mod_flexicontent_wrapper .content_standard {
    display: flex;
    flex-direction: column;
	height: 100%;
}
	
.news.mod_flexicontent_wrapper .fc_overlayed {
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa with 0.4 opacity */
	background-color: rgba(0, 0, 0, 0.4);
	/* For IE 5.5 - 7 */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000);
	/* For IE 8+ */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000, endColorstr=#4C000000)";
	width: 100%;
	height: auto;
	padding: 2%;
	margin: 0%;
	position: absolute;
	left: 0px;
}
.news.mod_flexicontent_wrapper .fc_overlayed .fc_block {
	/*font-family: Raleway;
	font-weight:900;*/
	line-height: 160%;
	color: white;
	/*text-shadow: 1px 1px 2px #000, -1px -1px #000, 1px 1px #000;
	text-shadow: 1px 1px 1px #000;*/
}

.news.mod_flexicontent_wrapper .fc_bottom {	bottom: 0px; }
.news.mod_flexicontent_wrapper .fc_top { top: 0px; }
.news.mod_flexicontent_wrapper .fc_full { top: 0px; height: 96%; }

.news.mod_flexicontent_wrapper .fc_stretch {
	width:100% !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
	display: block;
}
/*.news.mod_flexicontent_wrapper .fc_float_left {
	float: left !important;
	margin: 0px 12px 8px 0;
	display: block;
}
.news.mod_flexicontent_wrapper .fc_float_right {
	float: right !important;
	margin: 0px 0 8px 12px;
	display: block;
}*/
.news.mod_flexicontent_wrapper .fc_floated {
	padding: 0 1rem;
}

.news.mod_flexicontent_wrapper .image_featured.fc_float_left img,
.news.mod_flexicontent_wrapper .image_featured.fc_float_right img,
.news.mod_flexicontent_wrapper .image_standard.fc_float_left img,
.news.mod_flexicontent_wrapper .image_standard.fc_float_right img { }
.news.mod_flexicontent_wrapper .image_featured.fc_float_left img,
.news.mod_flexicontent_wrapper .image_featured.fc_float_right img,
.news.mod_flexicontent_wrapper .image_standard.fc_float_left img,
.news.mod_flexicontent_wrapper .image_standard.fc_float_right img { }

.news.mod_flexicontent_wrapper .fc_clear { clear: both !important; }

.news.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper .fc_auto_show,
.news.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper .fc_auto_show {
	-webkit-transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear, background-color 0.3s linear;
	transition: max-height 0.3s linear, opacity 0.3s linear, padding 0.3s linear, background-color 0.3s linear;
	
	opacity: 0.0;
	filter:alpha(opacity=0);
	
	max-height: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	overflow-y: hidden;
  width:100%;
}


/* AUTO-SHOW CONTENTS of items (having class: .fc_auto_show), when:
 *
 * - ACTIVATED (selected)
 * - HOVERED
 */

.news.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active,
.news.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper.mod_fc_activeitem .fc_auto_show.fc_show_active,
.news.mod_flexicontent_wrapper .mod_flexicontent_featured_wrapper:hover .fc_auto_show,
.news.mod_flexicontent_wrapper .mod_flexicontent_standard_wrapper:hover .fc_auto_show {
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: rgba(0, 0, 0, 0.75);
	max-height: 100%; /* can be approximate, percentage works well if parent height is specific */
}



/*
 * HIGHLIGHT HOVERED item container (if highlight-on-hover enabled in configuration)
 *
 * - CLASS .mod_hl_hover => Enables hi-lighting on hovered item (it is added via configuration parameter)
 * - CLASSES .mod_hl_hover.mod_fc_activeitem => Override CSS for 'active' (selected) when hovered
 */

.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.mod_hl_hover.mod_fc_activeitem:hover .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_featured_wrapper.mod_hl_hover:hover .mod_flexicontent_featured_wrapper_innerbox,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.mod_hl_hover.mod_fc_activeitem:hover .mod_flexicontent_standard_wrapper_innerbox,
.news.mod_flexicontent_wrapper .mod_flexicontent .mod_flexicontent_standard_wrapper.mod_hl_hover:hover .mod_flexicontent_standard_wrapper_innerbox {
	background-color: #D0D0D0;
	box-shadow: -2px 2px 5px -2px rgb(139, 139, 139), 2px -2px 5px -2px rgb(121, 121, 121);
	z-index: 12; /* needed in cases the standard-itens outer box has z-index 10 */
}
@media only screen and (max-width: 769px) {
	.news .mod_flexicontent_standard.cols_2,
	.news .mod_flexicontent_standard.cols_3,
	.news .mod_flexicontent_standard.cols_4,
	.news .mod_flexicontent_standard.cols_5,
	.news .mod_flexicontent_standard.cols_6,
	.news .mod_flexicontent_standard.cols_7,
	.news .mod_flexicontent_standard.cols_8,
	.news .mod_flexicontent_featured.cols_2,
	.news .mod_flexicontent_featured.cols_3,
	.news .mod_flexicontent_featured.cols_4,
	.news .mod_flexicontent_featured.cols_5,
	.news .mod_flexicontent_featured.cols_6,
	.news .mod_flexicontent_featured.cols_7,
	.news .mod_flexicontent_featured.cols_8 {
		grid-template-columns: repeat(2,1fr)!important;
	}
}
@media only screen and (max-width: 481px) {
	.news .mod_flexicontent_standard.cols_2,
	.news .mod_flexicontent_standard.cols_3,
	.news .mod_flexicontent_standard.cols_4,
	.news .mod_flexicontent_standard.cols_5,
	.news .mod_flexicontent_standard.cols_6,
	.news .mod_flexicontent_standard.cols_7,
	.news .mod_flexicontent_standard.cols_8,
	.news .mod_flexicontent_featured.cols_2,
	.news .mod_flexicontent_featured.cols_3,
	.news .mod_flexicontent_featured.cols_4,
	.news .mod_flexicontent_featured.cols_5,
	.news .mod_flexicontent_featured.cols_6,
	.news .mod_flexicontent_featured.cols_7,
	.news .mod_flexicontent_featured.cols_8 {
		grid-template-columns: repeat(1,1fr) !important;
	}
}