@import 'mixins.less';

/* CSS Variables */
:root {
    --form-inp-height: unit(@form-inp-height, px);
    --ctrls-inp-height: unit(@ctrls-inp-height, px);
    --fcman-inp-height: unit(@fcman-inp-height, px);
    --filts-inp-height: unit(@filts-inp-height, px);
}

/* LESS functions */
.fc-rounded-corners(@radius: 5px){
	border-radius: @radius;
}

